.form-fields {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 15px !important;
	}
}
.blue-button {
	border:0;
}
ul.form-fields {
	> li {
		@extend %width-100;
		@extend %float-l;
		position: relative;
		input {
			padding-right: 160px;
            z-index: 0 !important;
		}
	}
	ul.input-group-btn {
		padding: 0 !important;
		margin: 0 !important;
		position: absolute;
		width: auto;
		right: 0;
        top: 27px;
        @media (min-width:1001px) and (max-width:1278px) {
            top: 23px;
        }
        @media (min-width:1157px) and (max-width:1263px){
            top: 27px;
        }
		z-index: 2;
		> li {
			display: inline-block !important;
			margin-bottom: 0 !important;
			a {
				background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%) !important;
				border-color: #ccc;
				background-repeat: repeat-x !important;
				text-shadow: 0 1px 0 #fff;
				box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
				border-radius: 0;
				&[disabled="disabled"] {
					background-image: linear-gradient(to bottom,#e0e0e0 0,#fff 100%) !important;
				}
				&:hover {
					background-color: #e0e0e0 !important;
					background-position: 0 -15px !important;
					border-color: #adadad !important;
				}
				span {
					color: #00abab;
				}
			}
		}
	}
}

.inner-container {
	@extend %float-l;
	@extend %width-100;
}

.maintainer-fields {
	@extend %float-l;
	@extend %width-100;
	padding: 15px !important;
	background-color: #F9F6D9;
	position: relative;
	article.maintainer-icons {
        z-index: 2;
        position: absolute;
        right: 15px;
        top: 38px;
    	a.maintainer-help {
    	    padding: 5px 11px;
            color: #00abab;
            border-radius: 0 3px 3px 0;
            display: inline-block;
    	}
        span.maintainer-search-icon {
        	color: #ccc;
            font-size: 17px;
            display: inline-block;
            position: relative;
            right: 5px;
            top: 2px;
        }
	}
    @media (max-width: 768px) {
    	article.maintainer-icons {
        	display: none;
    	}
    }
	li {
		margin: 5px 0;
	}
	li:last-child {
		margin-bottom: 0 !important;
	}
    div.ui-select-multiple.ui-select-bootstrap {
        height: auto;
        div {
            input.ui-select-search {
            }
        }
    }
}
.visible-field-form {
	@extend %float-l;
	@extend %width-100;
	margin-bottom: 20px;
	ul.appeared-fields {
		@extend %grey;
		@extend %float-l;
		@extend %width-100;
		padding: 15px !important;
		margin-bottom: 20px !important;
		li {
			label {
				@extend %float-l;
			}
			span.text-error {
				@extend %float-r;
			}
			span.text-info {
				@extend %float-r;
			}
            span.text-success {
                @extend %float-r;
            }
		}
		li:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.modify-feedback {
	display: inline;
	position: relative;
	i {
		color: #ff9600;
	}
	span {
	    background-color: #ff9600;
	    border-radius: 5px;
	    color: #fff;
	    cursor: pointer;
	    display: none;
	    font-size: 12px;
	    left: -110px;
	    padding: 0 6px;
	    position: absolute;
	    text-align: center;
	    top: -44px;
	    width: 230px;
	}
	&:hover {
		span {
			display: inline;
		}
	}
}
.input-group-btn {
	vertical-align: top;
}
.maintainer-select {
	position: relative;
}
.maintainer-select .fa-search {
	position: absolute;
	right: 45px;
	top: 6px;
	z-index: 2;
	color: #DEDEDE;
	font-size: 20px;
}
.selectize-control.multi .selectize-input > div.item {
	font-size: 12px;
	margin-bottom: 0 !important;
	padding: 0 6px;
}
.selectize-control.multi .selectize-input > div.item > span.star {
	font-size: 10px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.selectize-control.multi .selectize-input > div.item > a.remove {
	padding: 1px 0 0;
}
.field-description {
	@extend %clear-b;
	@extend %width-100;
	@extend %float-l;
	@extend %brd;
	background-color: #f5f5f5;
	padding: 10px;
	margin-top: 10px;
}
#selectForm {
	@extend %width-100;
}
.form-group {
    section.supporting-text {
        margin: 10px 0;
        p {
            @extend %clear-b;
            color: #737373;
            margin: 5px 0 0 0 !important;
        }
    }
}
.input-group .form-control {
    z-index: auto !important;
}
.text-error, .text-info {
	float: right;
}

tbody.reverse-zone-table {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

.reverse-zone-table tr, td {
  display: block;
  width: 100%;
}
