<div class="bell-drop-down btn-group pull-right" ngbDropdown is-open="status.isopen" *ngIf="hasAllocations">

    <button *ngIf="!hasAlerts"
            id="grey-bell-button"
            type="button"
            class="grey-button"
            [ngbPopover]="'No alerts'"
            placement="bottom"
            triggers="mouseenter:mouseleave">
        <i class="fa fa-bell-o fa-bold"></i>
    </button>
    <button *ngIf="hasAlerts"
            id="red-bell-button"
            type="button"
            class="red-button"
            ngbDropdownToggle>
        <i class="fa fa-bell-o fa-bold"></i>
    </button>

    <ul *ngIf="hasAlerts" class="dropdown-menu" ngbDropdownMenu role="menu" aria-labelledby="single-button">

        <li class="dropdown-header">Invalid inetnums</li>
        <li *ngIf="!syntaxErrors.length" ngbDropdownItem>
            <span>Not present</span>
        </li>
        <li *ngFor="let syntaxError of syntaxErrors" ngbDropdownItem>
            <span>{{syntaxError}}</span>
        </li>

        <li class="dropdown-header">Overlapping objects</li>
        <li *ngIf="!overlaps.length" ngbDropdownItem>
            <span>Not present</span>
        </li>
        <li role="menuitem" *ngFor="let overlapz of overlaps">
            <a class="overlap-link" *ngFor="let overlap of overlapz" (click)="showDetail(getRange(overlap.range))" style="border: 0px !important;"> {{getRange(overlap.range)}}  <br> </a>
            <div style="border-bottom: 1px solid #eaeaea!important;"></div>
        </li>
    </ul>

</div>
