<div class="bell-drop-down btn-group pull-right" uib-dropdown is-open="status.isopen" ng-if="$ctrl.hasAllocations">

    <button ng-if="!$ctrl.hasAlerts"
            id="grey-bell-button"
            type="button"
            class="grey-button"
            uib-popover="No alerts"
            popover-placement="bottom"
            popover-trigger="'mouseenter'">
        <i class="fa fa-bell-o fa-bold"></i>
    </button>
    <button ng-if="$ctrl.hasAlerts"
            id="red-bell-button"
            type="button"
            class="red-button"
            uib-dropdown-toggle>
        <i class="fa fa-bell-o fa-bold"></i>
    </button>

    <ul ng-if="$ctrl.hasAlerts" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">

        <li class="dropdown-header">Invalid inetnums</li>
        <li ng-if="!$ctrl.syntaxErrors.length" role="menuitem">
            <span>Not present</span>
        </li>
        <li ng-if="$ctrl.syntaxErrors.length" ng-repeat="syntaxError in $ctrl.syntaxErrors" role="menuitem">
            <span>{{syntaxError}}</span>
        </li>

        <li class="dropdown-header">Overlapping objects</li>
        <li ng-if="!$ctrl.overlaps.length" role="menuitem">
            <span>Not present</span>
        </li>
        <li role="menuitem"  ng-if="$ctrl.overlaps.length" ng-repeat="overlapz in $ctrl.overlaps">
            <a class="overlap-link" ng-repeat="overlap in overlapz" ng-click="$ctrl.showDetail($ctrl.getRange(overlap.range))" style="border: 0px !important;"> {{$ctrl.getRange(overlap.range)}}  <br> </a>
            <div style="border-bottom: 1px solid #eaeaea!important;"></div>
        </li>
    </ul>

</div>
