<div class="registry-selector-container" *ngIf="organisations.length && !trainingEnv">
    <span>You are editing</span>
    <ng-select id="organisation-selector"
               [items]="organisations"
               bindLabel="organisationName"
               [(ngModel)]="selectedOrg"
               [clearable]="false"
               (change)="organisationSelected($event)"
               [searchFn]="customSearchFn">
        <ng-template ng-option-tmp let-org="item" let-search="searchTerm">
            <div><span [ngOptionHighlight]="search">{{org.organisationName}}</span></div>
            <small *ngIf="org.regId"><span [ngOptionHighlight]="search">{{org.regId}}</span></small>
            <small *ngIf="!org.regId"><span [ngOptionHighlight]="search">{{org.orgObjectId}}</span></small>
        </ng-template>
    </ng-select>
</div>
