@if (organisations.length && !trainingEnv && !sessionExpire) {
<div class="registry-selector-container">
    <span>You are editing</span>
    <ng-select
        id="organisation-selector"
        [items]="organisations"
        bindLabel="organisationName"
        [ngModel]="selectedOrg"
        [clearable]="false"
        (change)="organisationSelected($event)"
        [searchFn]="customSearchFn"
    >
        <ng-template ng-option-tmp let-org="item">
            <div>
                <span>{{ org.organisationName }}</span>
            </div>
            @if (org.regId) {
            <small
                ><span>{{ org.regId }}</span></small
            >
            } @if (!org.regId) {
            <small
                ><span>{{ org.orgObjectId }}</span></small
            >
            }
        </ng-template>
    </ng-select>
</div>
}
