.display-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel {
    margin: 16px 0;
    //color: #3d3d3d;
    background-color: #f7f7fa;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #0000001f;
    border-radius: 10px;
}
.copy-content {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    span {
        overflow: hidden;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.copy-key-content {
    min-width: 105px;
    padding: 4px 8px;
}

::ng-deep .select .mdc-line-ripple {
    opacity: 0;
}
