@technical-design:registry=https://gitlab.ripe.net/api/v4/packages/npm/
@lir-portal:registry=https://gitlab.ripe.net/api/v4/projects/984/packages/npm/
@fortawesome:registry=https://nexus.ripe.net/repository/npm-fortawesome/
