image: $CI_REGISTRY/swe-database-team/gitlab-ci/whois-build:v0.0.12

variables:
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
    PROJECT_NAME: "db-web-ui"
    ARTIFACT_NAME: "db-web-ui"
    ARTIFACT_DIR: "backend"
    GROUP_ID: "net.ripe.whois"
    CYPRESS_CACHE_FOLDER: "./cache/Cypress"

include:
    # Security scanning
    - project: swe/gitlab-support
      file: /templates/security.yml
      inputs:
          stage: security
          needs: [build]
          scan-mrs: false
    # Container scanning
    - project: swe/gitlab-support
      file: /templates/container.yml
      inputs:
          stage: security
          needs: [build-container]
          scan-mrs: false
          name: db-web-ui
          dockerfile: ./docker/Dockerfile
          image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
          default_branch_image: $CI_REGISTRY_IMAGE:$CI_DEFAULT_BRANCH

# Prevent duplicate pipelines - run only tag and branch pipelines
workflow:
    rules:
        # Run for tags
        - if: "$CI_COMMIT_TAG"
        # Run for all other branch commits
        - if: "$CI_COMMIT_BRANCH"

stages:
    - build
    - security
    - test
    - sonar
    - deploy
    - browserstack

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - frontend/node_modules/
        - frontend/package-lock.json
        - .m2/repository
        - frontend/cache/Cypress/
        - frontend/src/assets/supportedBrowsers.js
        - frontend/src/assets/blockedBrowsers.js

# Default rules for build/test stages (all commits and tags)
.default_rules:
    rules:
        - if: "$CI_COMMIT_TAG"
        - if: "$CI_COMMIT_BRANCH"

build:
    stage: build
    extends: .default_rules
    script:
        - mvn $MAVEN_OPTS $MAVEN_CLI_OPTS clean package -DskipTests -Dversion=${CI_COMMIT_SHA}
        - mvn org.apache.maven.plugins:maven-dependency-plugin:3.8.1:tree -DoutputType=json -DoutputFile=maven.graph.json
    artifacts:
        paths:
            - "**/maven.graph.json"
            - backend/target/db-web-ui*.jar
        expire_in: 6 months

build-container:
    stage: build
    extends: .default_rules
    before_script:
        - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    script:
        - >
            docker build
            --file ./docker/Dockerfile
            --pull
            --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
            --build-arg PUID=$PUID
            --build-arg PGID=$PGID
            --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
            .
        - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
        # Tag and push version tags
        - |
            if [ "$CI_COMMIT_TAG" ]; then
              docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
              docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
            fi

        # Tag and push default branch
        - |
            if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
              docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA $CI_REGISTRY_IMAGE:CI_DEFAULT_BRANCH
              docker push $CI_REGISTRY_IMAGE:CI_DEFAULT_BRANCH
            fi

gitlab-advanced-sast:
    rules:
        - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

spotbugs-sast:
    rules:
        - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    variables:
        SAST_ANALYZER_IMAGE_TAG: "6"
        SAST_JAVA_VERSION: "21"
        MAVEN_REPO_PATH: $CI_PROJECT_DIR/.m2/repository
        COMPILE: "false"

backend:
    stage: test
    extends: .default_rules
    script:
        - cd backend && mvn test
    rules:
        - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
          when: always
        - when: manual
    artifacts:
        paths:
            - backend/target/
        reports:
            junit:
                - backend/target/surefire-reports/TEST-*.xml
                - backend/target/failsafe-reports/TEST-*.xml
        expire_in: 1 month

e2e-cypress-chrome:
    stage: test
    extends: .default_rules
    script:
        - echo "127.0.0.1 localhost.ripe.net" >> /etc/hosts
        - export DISPLAY=:20
        - Xvfb :20 -screen 0 1920x1080x16 &
        - cd frontend && npm run cypress:chrome
    rules:
        - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
          when: always
        - when: manual
    artifacts:
        when: on_failure
        paths:
            - frontend/test/cypress/videos/**/*.mp4
            - frontend/test/cypress/screenshots/**/*.png
        expire_in: 1 month

e2e-cypress-firefox:
    stage: test
    extends: .default_rules
    script:
        - echo "127.0.0.1 localhost.ripe.net" >> /etc/hosts
        - export DISPLAY=:20
        - Xvfb :20 -screen 0 1920x1080x16 &
        - cd frontend && npm run cypress:firefox
    rules:
        - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
          when: always
        - when: manual
    artifacts:
        when: on_failure
        paths:
            - frontend/test/cypress/videos/**/*.mp4
            - frontend/test/cypress/screenshots/**/*.png
        expire_in: 1 month

frontend:
    stage: test
    extends: .default_rules
    script:
        - cd frontend && npm run test
    rules:
        - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
          when: always
        - when: manual
    artifacts:
        paths:
            - frontend/lcov.info
        expire_in: 1 month

sonar:
    stage: sonar
    extends: .default_rules
    variables:
        GIT_SUBMODULE_STRATEGY: recursive
        GIT_DEPTH: "0"
    script:
        - mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.javascript.lcov.reportPaths=frontend/lcov.info -Dsonar.projectVersion=$CI_COMMIT_SHORT_SHA -Dsonar.projectKey=db-web-ui -Dsonar.host.url=${SONAR_HOST_URL} -Dsonar.token=${SONAR_TOKEN} -DskipTests
    allow_failure: true
    dependencies:
        - backend
        - frontend

browserstack:
    stage: browserstack
    rules:
        - if: "$CI_COMMIT_TAG"
    script:
        - cd backend && mvn verify -Dbrowserstack_key=${BROWSERSTACK_KEY} -Dversion=${CI_COMMIT_SHORT_SHA} -Pselenium
    needs:
        - deploy_docker_prod
    artifacts:
        paths:
            - backend/target/db-web-ui*.jar

.deploy_docker_template: &deploy_docker_env
    stage: deploy
    allow_failure: true
    before_script:
        - mkdir -p /root/.ssh
        - eval $(ssh-agent -s)
        - echo -e "Host *\n\tStrictHostKeyChecking no\n\nAddressFamily inet\n\n" > ~/.ssh/config
        - echo "$SALT_SSH_KEYS" | tr -d '\r' | ssh-add -
        - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    script:
        - echo "machine gitlab.ripe.net login dbase password $DB_OPERATIONAL_DEPLOY_TOKEN" > ~/.netrc
        - chmod 600 ~/.netrc
        - git clone https://gitlab.ripe.net/swe-database-team/db-operational.git
        - >
            properties_file="db-operational/configs/$PROJECT_NAME-${CI_ENVIRONMENT_NAME%/docker}/resources/application-${CI_ENVIRONMENT_NAME%/docker}.properties"
               variables=(
                         BA_APPS_API_KEY
                         INTERNAL_API_KEY
                         KEYSTORE_PASSWORD
                         LIVECHAT_KEY
                         MATOMO_ID
                         RSNG_API_KEY
                         SENTRY_DSN
                         WHOIS_OVERRIDE_PASSWORD
                         WHOIS_OVERRIDE_USERNAME
                         )
               for variable in "${variables[@]}"; do
                 sed -i "s|\${$variable}|${!variable}|g" "$properties_file"
               done
        - cd db-operational/deployment
        - >
            if [ "$CI_COMMIT_TAG" ]; then
             ./deploy-docker.sh -p $PROJECT_NAME -e ${CI_ENVIRONMENT_NAME%/docker} $CI_COMMIT_TAG \;
            else
             ./deploy-docker.sh -p $PROJECT_NAME -e ${CI_ENVIRONMENT_NAME%/docker} $CI_COMMIT_SHORT_SHA \;
            fi

deploy_docker_dev:
    <<: *deploy_docker_env
    needs:
        - job: build
    environment:
        name: dev/docker
    rules:
        - when: manual

deploy_docker_prepdev:
    <<: *deploy_docker_env
    needs:
        - job: build
    environment:
        name: prepdev/docker
    rules:
        - when: manual

deploy_docker_test:
    <<: *deploy_docker_env
    environment:
        name: test/docker
    rules:
        - if: $CI_COMMIT_TAG
          when: manual
        - when: never
deploy_docker_training:
    <<: *deploy_docker_env
    environment:
        name: training/docker
    rules:
        - if: $CI_COMMIT_TAG
          when: manual
        - when: never
deploy_docker_rc:
    <<: *deploy_docker_env
    environment:
        name: rc/docker
    rules:
        - if: $CI_COMMIT_TAG
          when: manual
        - when: never
deploy_docker_prod:
    <<: *deploy_docker_env
    environment:
        name: prod/docker
    rules:
        - if: $CI_COMMIT_TAG
          when: manual
        - when: never
