<div [hidden]="modalInProgress">

    <alerts></alerts>

    <section *ngFor="let object of deletedObjects" class="inner-container">
        <table class="success-fields grey">
            <tr *ngFor="let attribute of object.attributes.attribute">
                <td width="20%">
                    <label>{{attribute.name}}:</label>
                </td>
                <td>
                    <p>{{attribute.value}}</p>
                    <div [hidden]="!attribute.$$error" class="modify-feedback">
                        <span>{{attribute.$$error}}</span>
                        <i class="fa fa-info-circle"></i>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <section>
        <br/>
        <a href="" class="blue-button">Create a new object</a>
        <a href="query" class="blue-button">Search for an object</a>
    </section>
</div>
