<h2 mat-dialog-title><i class="fal fa-exclamation-triangle"></i> Revoke this key</h2>
<mat-dialog-content class="mat-typography">
    <span><b>Important</b></span
    ><br />
    <span>Are you sure that you want to revoke this API key?</span><br />
    <span>The key will no longer be valid for authenticating Whois updates.</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial><span class="fal fa-trash"></span> Yes, revoke it</button>
    <button mat-stroked-button color="primary" mat-dialog-close>No, cancel</button>
</mat-dialog-actions>
