<section>
    <button ng-click="$ctrl.useBetaSyncupdate()" class="blue-button pull-right ga-multiobj-switch-poor" name="btnSwitchSyncupdates">
        <span class="fa"></span>
        Switch to new syncupdates
    </button>
    <h1 id="anchorScroll" class="documentFirstHeading">Syncupdates</h1>
    <p>This form allows an advanced user to paste one or more objects into the text area, and perform a whois update.</p>
</section>
<div ng-if="$ctrl.updateResponse">
    <pre id="updateResultPreview">{{$ctrl.updateResponse}}</pre>
</div>
<form class="padding grey ga-syncupdate-form">
    <label>Object Data</label>
    <textarea ng-model="$ctrl.rpslObject" rows="18" class="full-width form-control margin-bottom">{{$ctrl.rpslObject}}</textarea>
    <button name="btnSyncupdate" ng-click="$ctrl.update()" type="button" class="blue-button pull-right">Update</button>
    <div class="help-block small">
        <span ng-bind-html="'msg.ripeTandCSubmitLink.text' | label"></span>
    </div>
</form>