<div attr.data-test-id="{{ attribute.name + '$' + idx }}" [ngClass]="{ 'has-error': attribute.value && attribute.$$invalid }">
    @if (widgetReverseZone) {
    <attribute-reverse-zones [attribute]="attribute"></attribute-reverse-zones>
    } @else {
    <label>{{ attribute.name }}</label>
    @if (attribute.$$error) {
    <div>
        <span class="text-error" [innerHTML]="attribute.$$error"></span>
    </div>
    } @if (attribute.$$info) {
    <div>
        <span class="text-info" [innerHTML]="attribute.$$info"></span>
    </div>
    } @if (attribute.$$success) {
    <div>
        <span class="text-success" [innerHTML]="attribute.$$success"></span>
    </div>
    }

    <!-- This is for not enums -->
    @if (!isStaticList && isDinamicList) {
    <input
        type="text"
        [attr.name]="attribute.name + '$' + idx"
        class="form-control"
        placeholder="{{ getAttributeShortDescription(attribute.name) }}"
        autocomplete="off"
        [(ngModel)]="attribute.value"
        [required]="attribute.$$meta?.$$mandatory"
        [disabled]="attribute.$$disable"
        (blur)="valueTypeAheadChanged(objectType, attribute)"
        [ngbTypeahead]="autocompleteList"
        [resultFormatter]="autocompleteAttributeRFormatter"
        [inputFormatter]="autocompleteAttributeIFormatter"
    />
    } @if (!isStaticList && !isDinamicList) {
    <input
        type="text"
        [attr.name]="attribute.name + '$' + idx"
        class="form-control"
        placeholder="{{ getAttributeShortDescription(attribute.name) }}"
        autocomplete="off"
        [(ngModel)]="attribute.value"
        [required]="attribute.$$meta?.$$mandatory"
        [disabled]="attribute.$$disable"
        (change)="valueChanged(objectType, attributes)"
    />
    } @if (isStaticList) {
    <ng-select
        [attr.name]="attribute.name"
        [items]="staticList"
        bindLabel="key"
        bindValue="key"
        [placeholder]="getAttributeShortDescription(attribute.name)"
        [disabled]="attribute.$$meta?.$$disable"
        [(ngModel)]="attribute.value"
    >
        <ng-template ng-option-tmp let-item="item">
            <div [innerHTML]="displayEnumValue(item)">{{ item.key }}</div>
        </ng-template>
    </ng-select>
    } }
</div>
<description-syntax [showComponent]="isHelpShown" [objectType]="objectType" [attrName]="attribute.name"></description-syntax>

<ul class="input-group-btn">
    @if (canBeAdded(objectType, attributes, attribute)) {
    <li>
        <a class="btn btn-default ga-add-dup" title="Add another attribute of this type" (click)="duplicateAttribute(objectType, attributes, attribute)">
            <span class="fal fa-arrow-down"></span>
        </a>
    </li>
    } @if (canAddExtraAttributes(objectType)) {
    <li>
        <a class="btn btn-default ga-add-attr" title="Add any attribute (opens dialog)" (click)="displayAddAttributeDialog(objectType, attributes, attribute)">
            <span class="fal fa-plus"></span>
        </a>
    </li>
    } @if (!attribute.$$disable && canBeRemoved(objectType, attributes, attribute)) {
    <li>
        <a class="btn btn-default ga-del-attr" title="Remove current attribute" (click)="removeAttribute(objectType, attributes, attribute)">
            <span class="fal fa-trash"></span>
        </a>
    </li>
    } @if (shouldShowBellIcon(attribute)) {
    <li>
        <a class="btn btn-default ga-add-dup" title="Create new role to use as abuse-c" (click)="createRoleForAbuseCAttribute()">
            <span class="fal fa-bell"></span>
        </a>
    </li>
    } @if (attribute.name !== 'reverse-zone') {
    <li>
        <a class="btn btn-default ga-help-attr" (click)="toggleHelp()">
            <span class="fal fa-question"></span>
        </a>
    </li>
    }
</ul>
