@if (attribute.$$error) {
<div class="text-error">
    <span [innerHTML]="attribute.$$error"></span>
</div>
}

<div class="panel panel-default">
    @if (attribute.value && attribute.value.length) {
    <table class="table table-hover reverse-zones" aria-label="Reverse zones">
        <thead>
            <tr>
                <th scope="col">Reverse zones</th>
            </tr>
        </thead>
        <tbody class="reverse-zone-table">
            @for (r of attribute.value; track r) {
            <tr>
                <td>
                    <small>{{ r.value }}</small>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>
