<h1>Forgot maintainer password</h1>

<alerts></alerts>

<div>

    <section>
        <div class="padding grey" *ngIf="hashOk === true">
            Please confirm that you wish to add {{user}} to the <span class="mntner">MNTNER</span> object

            <div class="clearfix margin-top">
                <div class="pull-right">
                    <input type="button" (click)="associate()" value="Confirm" class="blue-button"/>
                </div>
            </div>
        </div>
        <input type="button" (click)="cancelAssociate()" value="Cancel" class="blue-button pull-right"/>
    </section>

</div>
