<div ng-include="widgetHtml" ng-class="{'has-error':(attribute.$$invalid && attribute.value)}"></div>

<div class="text field-description" uib-collapse="!isHelpShown">
    <strong>Description</strong><br>
    <attr-info object-type="domain" description="{{attribute.name}}"></attr-info>
    <br>
    <strong>Syntax</strong><br>
    <attr-info object-type="domain" syntax="{{attribute.name}}"></attr-info>
</div>

<ul class="input-group-btn">
    <li ng-if="canBeAdded(objectType, attributes, attribute)">
        <a class="btn btn-default ga-add-dup"
           title="Add another attribute of this type"
           ng-click="duplicateAttribute(objectType, attributes, attribute)">
            <span class="fa fa-arrow-down degree-25"></span>
        </a>
    </li>
    <li ng-if="canBeRemoved(objectType, attributes, attribute)">
        <a class="btn btn-default ga-del-attr"
           title="Remove current attribute"
           ng-click="removeAttribute(objectType, attributes, attribute)">
            <span class="fa fa-trash"></span>
        </a>
    </li>
    <li>
        <a class="btn btn-default ga-help-attr"
           ng-click="toggleHelp()"
           ng-if="attribute.name !== 'reverse-zone'">
            <span class="fa fa-question"></span>
        </a>
    </li>
</ul>
