<div id="errors" class="alert alert-danger" role="alert" ng-if="domain.errors.length">
    <ul>
        <li ng-repeat="error in domain.errors">
            <div>{{error.plainText}}</div>
        </li>
    </ul>
 </div>

<form id="createForm" name="whoisObjectForm" accept-charset="ISO-8859-1">

    <h1 title="Create domain objects">Create "domain" objects</h1>
    <section class="form-fields maintainer-fields">
        <maintainers mntners="domain.maintainers" object-type="domain.objectType" attributes="domain.attributes" object-source="domain.source" object-name="domain.name"></maintainers>
    </section>

    <section class="visible-field-form">
        <ul class="form-fields appeared-fields">
            <li ng-repeat="attribute in domain.attributes | filter: {name: '!mnt-by'} |  filter: {name: '!created'}"
                ng-show="!attribute.$$hidden">
                <attribute-renderer source="domain.source" object-type="domain.objectType" attributes="domain.attributes" attribute="attribute" idx="$index"></attribute-renderer>
            </li>
        </ul>
    </section>

    <section class="supporting-text" ng-show="!domain.containsInvalidValues() && !domain.isValidatingDomains">
        <p>By submitting this form you explicitly express your agreement with the
            <a href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a>
        </p>
        <button id="btnSubmitCreate"
                class="pull-right blue-button ga-modifyobj-modify"
                type="button"
                ng-click="domain.submitButtonClicked()">Submit
        </button>
    </section>

</form>
