<div id="errors" class="alert alert-danger" role="alert" ng-if="domain.errors.length">
    <ul>
        <li ng-repeat="error in domain.errors">
            <div>{{error.plainText}}</div>
        </li>
    </ul>
 </div>

<form id="createForm" name="whoisObjectForm" accept-charset="ISO-8859-1">

    <h1 title="Create domain objects">Create "domain" objects</h1>
    <maintainers-editor ng-model="domain.domainObject" ng-if="domain.domainObject" update-mntners-clbk="domain.updateMaintainers(mntners)"></maintainers-editor>

    <section class="visible-field-form">
        <whois-object-editor
            ng-model="domain.domainObject"
            cancel-clicked="domain.cancelEditor()">
        </whois-object-editor>
    </section>

    <section class="supporting-text" ng-show="!domain.containsInvalidValues() && !domain.isValidatingDomains">
        <p>By submitting this form you explicitly express your agreement with the
            <a href="https://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a>
        </p>
        <button id="btnSubmitCreate"
                class="pull-right blue-button ga-createobj-domain"
                type="button"
                ng-click="domain.submitButtonClicked()">Submit
        </button>
    </section>

</form>
