<div class="resources-ip-usage">
    @if (type === 'inetnum' && !sponsored) {
    <div class="usage-card">
        <p>Total Allocated</p>
        <span>{{ total }}</span>
    </div>
    <div class="usage-card">
        <p>Total Allocated Used</p>
        <span>{{ used }}</span>
    </div>
    <div class="usage-card">
        <p>Total Allocated Free</p>
        <span>{{ free }}</span>
    </div>
    } @if (type === 'inet6num' && !sponsored) {
    <div class="usage-card">
        <p>Total Allocated Subnets</p>
        <span>{{ ipv6CalcTotal }}</span>
    </div>
    <div class="usage-card">
        <p>Total Allocated Subnets Used</p>
        <span>{{ ipv6CalcUsed }}</span>
    </div>
    <div class="usage-card">
        <p>Total Allocated Subnets Free</p>
        <span>{{ ipv6CalcFree }}</span>
    </div>
    }
</div>
