.resources-ip-usage {
    display: flex;
    gap: 16px;
    width: 100%;
}

.usage-card {
    flex: 1;
    border-radius: 10px;
    border: 1px solid #d0d2da;
    background-color: #dae4f14d;
    padding: 17px;

    p {
        font-size: 13px;
        color: #3d3d3d;
    }

    span {
        font-size: 24px;
        font-weight: 600;
        color: #131f48;
    }
}
