<div class="resources-ip-usage">
    @if (type === 'inetnum' && !sponsored) {
    <p>
        <span>Total allocated: {{ total }}</span>
        <span>Total allocated used: {{ used }}</span>
        <span>Total allocated free: {{ free }}</span>
    </p>
    } @if (type === 'inet6num' && !sponsored) {
    <p>
        <span>Total allocated subnets: {{ ipv6CalcTotal }}</span>
        <span>Total allocated subnets used: {{ ipv6CalcUsed }}</span>
        <span>Total allocated subnets free: {{ ipv6CalcFree }}</span>
    </p>
    }
</div>
