<section class="resource-intro">
    <h1>
        <name-formatter *ngIf="resource?.resource" [name]="resource.resource"
                        [type]="resource.type"></name-formatter>
    </h1>
    <div class="flags-container">
        <flag *ngFor="let f of flags" [ngClass]="f.colour" [tooltip]="f.tooltip" [text]="f.text"></flag>
    </div>
</section>
<section class="back-to-my-resources">
    <hierarchy-selector
        *ngIf="resource"
        [resource]="resource">
    </hierarchy-selector>
</section>
<ip-usage *ngIf="showUsage" [type]="objectType" [usage]="resource.usage"></ip-usage>

<section class="db-object" id="editortop">
    <h2>Object in RIPE Database</h2>
    <div id="alert-danger" class="alert alert-danger" *ngIf="errors?.length">
        <p *ngFor="let error of errors">
            <span [innerHTML]="error"></span>
        </p>
    </div>
    <div id="alert-success" class="alert alert-success" *ngIf="successes?.length">
        <p *ngFor="let success of successes">
            <span [innerHTML]="success"></span>
        </p>
    </div>
    <div class="alert alert-warning" *ngIf="warnings?.length">
        <p *ngFor="let warning of warnings">
            <span [innerHTML]="warning"></span>
        </p>
    </div>
    <div class="alert alert-info" *ngIf="infos?.length">
        <p *ngFor="let info of infos">
            <span [innerHTML]="info"></span>
        </p>
    </div>
    <div *ngIf="whoisObject">
        <whois-object-viewer *ngIf="!isEditing"
                [ng-model]="whoisObject"
                (update-clicked)="showObjectEditor()"></whois-object-viewer>
        <maintainers-editor [ng-model]="whoisObject"
                            *ngIf="isEditing"
                            (authentication-failed-clbk)="hideObjectEditor()"></maintainers-editor>
        <whois-object-editor [ng-model]="whoisObject"
                             [disable-submit]="!isEditing"
                             *ngIf="isEditing"
                             (cancel-clicked)="hideObjectEditor()"
                             (update-clicked)="updateButtonClicked($event)"></whois-object-editor>

    </div>
</section>

<more-specifics [objectType]="objectType"
               [objectName]="objectName"
               [sponsored]="sponsored"></more-specifics>

<associated-objects id="associated-route-objects" *ngIf="resource?.iRR"
                    title="Associated Route Objects"
                    associatedType="route"
                    [objectType]="objectType"
                    [objectName]="objectName"></associated-objects>
<associated-objects id="associated-domain-objects" *ngIf="resource?.rDNS"
                    title="Associated Domain Objects"
                    associatedType="domain"
                    [objectType]="objectType"
                    [objectName]="objectName"></associated-objects>
