<div>
    <a class="title inner-link-color" [routerLink]="['/myresources/detail', item.type, item.resource, sponsored]">
        <name-formatter [name]="item.resource" [type]="item.type"></name-formatter>
        <span class="fal fa-chevron-right float-end"></span>
    </a>
    @if (item.orgName) {
    <p class="org-name">{{ item.orgName }}</p>
    }
    <div class="flags-container">
        @for (flag of flags; track flag) {
        <flag [ngClass]="flag.colour" [tooltip]="flag.tooltip" [text]="flag.text" uppercase></flag>
        }
    </div>
    @if (showProgressbar) {
    <div class="progressbar-container" [ngbTooltip]="'Usage as per RIPE policies: ' + (usedPercentage | number : '1.0-0') + '%'" placement="top">
        <ngb-progressbar max="100" [value]="usedPercentage"></ngb-progressbar>
    </div>
    }
</div>
