
<div ng-if="hasErrors()" class="alert-expired alert alert-danger">
    <p ng-repeat="error in errors">{{error.plainText}}</p>
</div>

<div ng-if="hasWarnings()" class="alert alert-warning">
    <p ng-repeat="warning in warnings">{{warning.plainText}}</p>
</div>

<div ng-if="hasInfos()" class="alert alert-warning">
    <p ng-repeat="info in infos">{{info.plainText}}</p>
</div>
<form id="createForm">

	<section class="form-fields maintainer-fields">
    <strong>Please select your maintainers before creating the {{objectType}} object</strong>
    <span class="fa fa-search maintainer-search-icon"></span>
    <ui-select multiple="true"
               theme="selectize"
               ng-model="maintainers.selected"
               close-on-select="true"
               on-select="onMntnerSelect($item, $model)"
               on-remove="onMntnerRemove($item, $model)"
               ng-if="uiSelectTemplateReady">
        <ui-select-match >{{$item.key}} <span class="fa fa-star" ng-if="isMine($item)"></span></ui-select-match>
        <ui-select-choices repeat="mntner in maintainers.alternatives track by mntner.key"
                           refresh="refreshMntners($select.search)"
                           refresh-delay="100">
            <div class="option">
                <span class="title">{{mntner.key}}</span>
                <span class="star fa fa-star" ng-if="isMine(mntner)"></span>
                <span class="auth sso" ng-if="hasSSo(mntner)"> SSO </span>
                <span class="auth pgp" ng-if="hasPgp(mntner)"> PGP </span>
                <span class="auth md5" ng-if="hasMd5(mntner)"> MD5 </span>
            </div>
        </ui-select-choices>
    </ui-select>
    <br/>
	</section>

    <section class="visible-field-form" ng-if="hasMntners()">

    <h1>{{operation}} &quot;{{objectType}}&quot; in source {{source}}</h1>

    <ul class="form-fields appeared-fields">

        <li ng-repeat="attribute in (attributes | filter: {name: '!mnt-by'})" class="form-group input-group">

            <label>{{attribute.name}}</label>
            <span ng-if="attribute.$$error" class="text-error">{{attribute.$$error}}</span>

            <input type="text" name="{{attribute.name}}" ng-model="attribute.value"
                   ng-required="{{attribute.$$mata.$$mandatory}}" class="form-control"
                   typeahead="value for value in suggestAutocomplete($viewValue, attribute.name, attribute.$$meta.$$refs)"
                   typeahead-min-length="2"/>
            <div class="text field-description" collapse="isHelpHidden">
                {{attribute.$$meta.$$description}}
            </div>
            <ul class="input-group-btn">
                <li>
                    <a id="duplicateAttribute" class="btn btn-default" title="Add another attribute of this type"
                                ng-disabled="!canAttributeBeDuplicated(attribute)" ng-click="duplicateAttribute(attribute)" >
                    <span class="fa fa-arrow-down degree-25"></span>
                    </a>
                </li>
                <li>
                    <a id="addAnyAttribute" class="btn btn-default" title="Add any attribute (opens dialog)"
                                    ng-click="displayAddAttributeDialog(attribute)">
                        <span class="fa fa-plus"></span>
                    </a>
                </li>
                <li>
                    <a id="removeAttribute" class="btn btn-default" title="Remove current attribute"
                       ng-disabled="!canAttributeBeRemoved(attribute)" ng-click="removeAttribute(attribute)" >
                        <span class="fa fa-trash" ></span>
                    </a>
                </li>

                <li>
                <a id="changePassword" class="btn btn-default" title="Add/change Password (opens dialog)" ng-click="displayAuthDialog(attribute)" ng-show="(attribute.name == 'auth')">
                    <span class="fa fa-lock fa-3"></span>
                </a>
                </li>
                <li>
                    <a id="help" class="btn btn-default" ng-click="isHelpHidden = !isHelpHidden">
                        <span class="fa fa-question" ></span>
                    </a>
                </li>
                <li>
                <a id="addCertificate" class="btn btn-default hidden" title="Add PGP key (opens dialog)">
                    <span class="fa fa-certificate"></span>
                </a>
                </li>
            </ul>
        </li>
    </ul>
    <p class="help-block terms-txt pull-left">By submitting this form you explicitly express your agreement with the <a
        href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and
        Conditions</a></p>
    <button ng-click="submit()" class="blue-button pull-right" style="border:0;">Submit</button>
    </section>
</form>

<div id="insertAttributeModal" class="modal fade portlet in" tabindex="-1" role="dialog" aria-labelledby="commonModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content no-rounded">
            <div>
                <i class="fa fa-close close" data-dismiss="modal" aria-label="Close"></i>
                <h5 class="modal-title" id="commonModalLabel">Choose attribute to insert</h5>
            </div>
            <div class="modal-body margin-left">
                <select id="selectAttribute" ng-options="item.name for item in addableAttributes" ng-model="selectedAttributeType"
                        class="form-control select-height"></select>
            </div>
            <div class="modal-footer">
                <input type="submit" class="blue-button" data-dismiss="modal" ng-click="addAttributeAfterAttribute()" value="Add" />
            </div>
        </div>
    </div>
</div>

<div id="authModal" class="modal fade portlet in" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content no-rounded">
            <div>
                <i class="fa fa-close close" data-dismiss="modal" aria-label="Close"></i>
                <h5 class="modal-title" id="passwordModalLabel">Enter Password For Maintainer</h5>
            </div>
            <div class="modal-body">
                <div class="pass-strength-output"></div>
                <input type="password" class="form-control margin-bottom" ng-model="password"/>
                <input type="password" class="form-control" ng-model="passwordAgain" ng-keyup="verifyAuthDialog()"/>
                <a title="Enter your password in plain text. Any characters outside the US ASCII range may cause problems with some RIPE Database update methods."></a>
                <div class="passwords-matched-output">{{authPasswordMessage}}</div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="blue-button" data-dismiss="modal" value="Close"/>
                <input type="submit" class="blue-button" data-dismiss="modal" ng-click="verifyAuthDialog() && populateAuthAttribute()" value="Add"/>
            </div>
        </div>
    </div>
</div>

<div id="providePasswordModal" class="modal fade portlet in" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content no-rounded">
            <div>
                <i class="fa fa-close close" data-dismiss="modal" aria-label="Close"></i>
                <h5 class="modal-title" id="providePasswordModalLabel">Password authentication</h5>
            </div>
            <div class="modal-body">
                <div ng-if="providePasswordModal.hasMessage()" class="alert-expired alert alert-danger">
                    <p>{{providePasswordModal.message}}</p>
                </div>
                <ul>
	                <li>
	                    <label>Select a maintainer to authenticate the update operation.</label>
	                    <select ng-model="providePasswordModal.selectedMntner"
	                            ng-required="true"
	                            ng-options="mntner.key for mntner in providePasswordModal.mntnersForPasswordAuth" class="form-control select-height"></select>
	                </li>
	                <li>
	                    <label>Provide the password for the selected maintainer</label>
	                    <input type="password" class="form-control" ng-model="providePasswordModal.password" ng-required="true"/>
	                </li>
                    <li>
                        <input type="checkbox" ng-model="providePasswordModal.associateSSOAccountWithMntner"/>
                        <label>associate my SSO account with this maintainer</label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <input type="submit" class="blue-button" ng-click="attemptAutentication()" value="Authenticate"/>
            </div>
        </div>
    </div>
</div>
