
<div ng-if="hasErrors()" class="alert-expired alert alert-danger">
    <p ng-repeat="error in errors">{{error.plainText}}</p>
</div>

<div ng-if="hasWarnings()" class="alert alert-warning">
    <p ng-repeat="warning in warnings">{{warning.plainText}}</p>
</div>

<div ng-if="hasInfos()" class="alert alert-warning">
    <p ng-repeat="info in infos">{{info.plainText}}</p>
</div>
<form id="createForm">

	<section class="form-fields maintainer-fields">
    <strong>Please select your maintainers before creating the {{objectType}} object</strong>
    <span class="fa fa-search maintainer-search-icon"></span>
    <ui-select multiple="true"
               theme="selectize"
               ng-model="maintainers.object"
               close-on-select="true"
               on-select="onMntnerAdded($item, $model)"
               on-remove="onMntnerRemoved($item, $model)"
               ng-if="uiSelectTemplateReady">
        <ui-select-match ui-lock-choice="needToLockLastMntner()">{{$item.key}}
            <span class="fa fa-star" ng-if="isMine($item)"></span>
        </ui-select-match>
        <ui-select-choices repeat="mntner in maintainers.alternatives track by mntner.key"
                           refresh="mntnerAutocomplete($select.search)"
                           refresh-delay="100">
            <div class="option">
                <span class="title">{{mntner.key}}</span>
                <span class="star fa fa-star" ng-if="isMine(mntner)"></span>
                <span class="auth sso" ng-if="hasSSo(mntner)"> SSO </span>
                <span class="auth pgp" ng-if="hasPgp(mntner)"> PGP </span>
                <span class="auth md5" ng-if="hasMd5(mntner)"> MD5 </span>
            </div>
        </ui-select-choices>
    </ui-select>
    <br/>
        <!-- object-mntners:{{maintainers.object}} -->
	</section>

    <section class="visible-field-form" ng-if="hasMntners()">

    <h1>{{operation}} &quot;{{objectType}}&quot; in source {{source}}</h1>

        <!-- attributes:{{attributes}}  -->
    <ul class="form-fields appeared-fields">

        <li ng-repeat="attribute in (attributes | filter: {name: '!mnt-by'})" class="form-group input-group">

            <label>{{attribute.name}}</label>
            <span ng-if="attribute.$$error" class="text-error">{{attribute.$$error}}</span>

            <input type="text" name="{{attribute.name}}" ng-model="attribute.value"
                   ng-required="{{attribute.$$mata.$$mandatory}}" class="form-control"
                   typeahead="value for value in referenceAutocomplete( attribute.name, $viewValue, attribute.$$meta.$$refs)"
                   typeahead-min-length="2"/>
            <div class="text field-description" collapse="isHelpHidden">
                {{attribute.$$meta.$$description}}
            </div>
            <ul class="input-group-btn">
                <li>
                    <a id="duplicateAttribute" class="btn btn-default ga-add-dup" title="Add another attribute of this type"
                                ng-disabled="!canAttributeBeDuplicated(attribute)" ng-click="duplicateAttribute(attribute)" >
                    <span class="fa fa-arrow-down degree-25"></span>
                    </a>
                </li>
                <li>
                    <a id="addAnyAttribute" class="btn btn-default ga-add-attr" title="Add any attribute (opens dialog)"
                                    ng-click="displayAddAttributeDialog(attribute)">
                        <span class="fa fa-plus"></span>
                    </a>
                </li>
                <li>
                    <a id="removeAttribute" class="btn btn-default ga-del-attr" title="Remove current attribute"
                       ng-disabled="!canAttributeBeRemoved(attribute)" ng-click="removeAttribute(attribute)" >
                        <span class="fa fa-trash" ></span>
                    </a>
                </li>

                <li>
                <a id="changePassword" class="btn btn-default ga-pass-attr" title="Add/change Password (opens dialog)"
                   ng-click="displayMd5DialogDialog(attribute)" ng-show="(attribute.name == 'auth')">
                    <span class="fa fa-lock fa-3"></span>
                </a>
                </li>
                <li>
                    <a id="help" class="btn btn-default ga-help-attr" ng-click="isHelpHidden = !isHelpHidden">
                        <span class="fa fa-question" ></span>
                    </a>
                </li>
                <li>
                <a id="addCertificate" class="btn btn-default hidden ga-pgp-attr" title="Add PGP key (opens dialog)">
                    <span class="fa fa-certificate"></span>
                </a>
                </li>
            </ul>
        </li>
    </ul>
    <p class="help-block terms-txt pull-left">By submitting this form you explicitly express your agreement with the <a
        href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and
        Conditions</a></p>
    <button ng-click="submit()" class="blue-button pull-right ga-createobj-create" style="border:0;">Submit</button>
    </section>
</form>
