
<div ng-if="hasErrors()" class="alert-expired alert alert-danger">
    <p ng-repeat="error in errors">{{error.plainText}}</p>
</div>

<div ng-if="hasWarnings()" class="alert alert-warning">
    <p ng-repeat="warning in warnings">{{warning.plainText}}</p>
</div>

<div ng-if="hasInfos()" class="alert alert-warning">
    <p ng-repeat="info in infos">{{info.plainText}}</p>
</div>
<form id="createForm">
    <section class="visible-field-form">
        <h1>Create a new self-maintained mntner object</h1>
        <ul class="form-fields appeared-fields">

            <li ng-repeat="attribute in (maintainerAttributes | filter: {name: '!mnt-by'} | filter: {name: '!source'} | filter: {name: '!upd-to'} | filter: {name:'!auth'})" class="form-group input-group">
                <label>{{attribute.name}}</label>
                <span ng-if="attribute.$$error" class="text-error">{{attribute.$$error}}</span>

                <input type="text" name="mntner" ng-model="attribute.value"
                       ng-required="{{attribute.$$meta.$$mandatory}}" class="form-control"
                       typeahead="value for value in referenceAutocomplete( attribute.name, $viewValue, attribute.$$meta.$$refs)"
                       typeahead-min-length="2"/>
                <div class="text field-description" collapse="!isHelpShown">
                    {{attribute.$$meta.$$description}}
                </div>
                <ul class="input-group-btn">
                    <li>
                        <a id="help" class="btn btn-default ga-help-attr" ng-click="isHelpShown = !isHelpShown">
                            <span class="fa fa-question" ></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <button ng-click="submit()" class="blue-button pull-right ga-createobj-create" style="border:0;">Create</button>

        <button ng-click="cancel()" class="blue-button pull-right ga-createobj-create" style="border:0;">Cancel</button>

        <p class="help-block terms-txt pull-left">By submitting this form you explicitly express your agreement with the <a
            href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a></p>
    </section>
</form>
