<div ng-if="hasOperationName()" class="alert alert-success">
    <p>Your object has been successfully {{getOperationName()}}</p>
</div>

<div ng-if="hasErrors()" class="alert-expired alert alert-danger">
    <p ng-repeat="error in errors">{{error.plainText}}</p>
</div>

<div ng-if="hasWarnings()" class="alert alert-warning">
    <p ng-repeat="warning in warnings">{{warning.plainText}}</p>
</div>

<div ng-if="hasInfos()" class="alert alert-warning">
    <p ng-repeat="info in infos">{{info.plainText}}</p>
</div>

<h1>{{objectType}} with uid &quot;{{objectName}}&quot;</h1>

<section class="inner-container">
    <ul class="success-fields grey">
        <li ng-repeat="attribute in attributes">
            <label>{{attribute.name}}</label>
            <div ng-hide="attribute.$$error == null" class="modify-feedback">
	            <i class="fa fa-info-circle"></i>
	            <span>{{attribute.$$error}}</span>
	        </div>
            <p>{{attribute.value}}</p>
        </li>
    </ul>

    <button ng-click="navigateToSelect()" class="blue-button pull-right">Back to Create object</button>
    <button ng-click="navigateToModify()" class="blue-button pull-right">Modify object</button>

</section>
