<div ng-if="hasOperationName()" class="alert alert-success">
    <p>Your object has been successfully {{getOperationName()}}</p>
</div>

<div ng-if="hasErrors()" class="alert-expired alert alert-danger">
    <p ng-repeat="error in errors">{{error.plainText}}</p>
</div>

<div ng-if="hasWarnings()" class="alert alert-warning">
    <p ng-repeat="warning in warnings">{{warning.plainText}}</p>
</div>

<div ng-if="hasInfos()" class="alert alert-warning">
    <p ng-repeat="info in infos">{{info.plainText}}</p>
</div>

<h1>{{objectType}} with primary key &quot;{{objectName}}&quot;</h1>

<section class="inner-container">
    <table class="success-fields grey" ng-if="!isDiff()">
        <tr ng-repeat="attribute in attributes">
            <td width="20%">
                <label>{{attribute.name}}:</label>
            </td>
            <td>
                <p>{{attribute.value}}</p>
                <div ng-show="attribute.$$error" class="modify-feedback">
    	            <span>{{attribute.$$error}}</span>
    	            <i class="fa fa-info-circle"></i>
    	        </div>
            </td>
        </tr>
    </table>

    <pre class="textdiff" line-diff left-obj="before" right-obj="after" ng-if="isDiff()"></pre>

    <button ng-click="navigateToSelect()" class="blue-button pull-right ga-createobj-backcreate">Back to Create object</button>
    <button ng-click="navigateToModify()" class="blue-button pull-right ga-createobj-modifyobj">Modify object</button>

</section>
