<div class="modal-content no-rounded">
    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="doCancel()"></i>
        <h5 class="modal-title" id="commonModalLabel">
            <span ng-if="canBeDeleted">Please provide the reason for delete</span>
            <span ng-if="!canBeDeleted">This object can not be deleted</span>
        </h5>
    </div>

    <div class="modal-body margin-left">
        <div ng-if="canBeDeleted">
            <label for="reason">Reason</label><br/>
            <input type="text" name="reason" id="reason" ng-model="$parent.reason">
        </div>

        <div ng-if="hasNonSelfIncomingRefs( objectType, name, incomingReferences)">
            <p ng-if="!canBeDeleted">This object has been referenced in the following objects, you may need to delete these references first.</p>
            <p ng-if="canBeDeleted">Please note that this will aso delete the following objects:</p>

            <ul class="bullets">
                <li ng-repeat="ref in incomingReferences" ng-if="!isEqualTo( objectType, name, ref )">
                    <div>
                        {{ref.objectType}} - <a target="_blank" href="{{displayUrl(ref)}}">{{ref.primaryKey}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <div ng-if="canBeDeleted">
            <input type="submit" class="red-button ga-attr-popup-btn" data-dismiss="modal" ng-click="doDelete()" value="Confirm delete"/>
        </div>
        <div ng-if="!canBeDeleted">
            <input type="submit" class="blue-button ga-nondelete-popup-btn" data-dismiss="modal" ng-click="doCancel()" value="Return to object"/>
        </div>
    </div>

</div>

