<div class="modal-content no-rounded">
    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></i>
        <h5 class="modal-title" >Create new Role to be used as abuse-c</h5>
    </div>
    <div class="modal-body">
        <div class="pass-strength-output"></div>
        <input type="email" class="form-control margin-bottom" name="email" placeholder="example@company.com"
               ng-model="email" ng-minlength=5 ng-maxlength=100 required>
    </div>
    <div class="modal-footer">
        <input type="submit" class="blue-button ga-md5-popup-btn" data-dismiss="modal" ng-click="create()" ng-disabled="!isEmailValid()" value="Create"/>
    </div>
</div>

