<div class="modal-content no-rounded">

    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></i>
        <h5 class="modal-title" >Password authentication</h5>
    </div>

    <div class="modal-body">
    <div ng-if="selected.message.length > 0" class="alert-expired alert alert-danger">
        <p>{{selected.message}}</p>
    </div>
    <ul>
        <li>
            <label>Select a maintainer to authenticate the update operation.</label>
            <select ng-model="selected.item"
                    ng-required="true"
                    ng-options="item.key for item in mntners | orderBy:key" class="form-control select-height"></select>
        </li>

        <li>
            <label>Provide the password for the selected maintainer</label>
            <input type="password" class="form-control" ng-model="selected.password" ng-required="true" />
        </li>
        <li>
            <input type="checkbox" ng-model="selected.associate" id="associate" class="ga-associate-checkbox" />
            <label for="associate">Associate my SSO account with this maintainer. <a href="https://www.ripe.net/manage-ips-and-asns/db/support/security/protecting-data" target="_blank">Learn more</a></label>
        </li>
    </ul>
    </div>

    <div class="modal-footer">
        <input type="submit" class="blue-button ga-auth-popup-btn" value="Submit" ng-click="ok()" />
    </div>

</div>

