<div>

    <h1>Reclaim {{objectType}} {{objectName}}</h1>

    <alerts></alerts>

    <section class="form-fields maintainer-fields">
        <label for="select_reclaim_mntner">Please select the maintainers you would like to use for authorisation.</label>
        <select id="select_reclaim_mntner"
                ng-model="maintainers.selected"
                ng-required="true"
                ng-options="mntner.key for mntner in maintainers.object" class="form-control select-height"></select>
    </section>

    <section class="inner-container">
        <br/>
        <strong>Object to reclaim</strong>
        <br/><br/>
        <table class="success-fields grey">
            <tr ng-repeat="attribute in object.attributes">
                <td width="20%">
                    <label>{{attribute.name}}:</label>
                </td>
                <td>
                    <p> {{attribute.value}}</p>
                </td>
            </tr>
        </table>

        <span>
            <input type="submit" ng-click="reclaim()" ng-disabled="!isFormValid() || restCallInProgress" class="blue-button pull-right ga-reclaimobj-reclaim" value="Reclaim this object" />
            <button ng-click="cancel()" class="blue-button pull-right ga-reclaimobj-cancel" style="border:0;">Cancel</button>
        </span>

    </section>
</div>
