<h1>Select object type to create</h1>

<section>
<form id="selectForm" class="grey padding pull-left">
    <div>
	    <label>Select object-type</label>
	    <select ng-model="selected.objectType"
	            ng-required="true"
	            ng-options="objectType for objectType in objectTypes" class="form-control select-height"></select>
	</div>
    <br/>

    <div>
        <label>Select source: </label>
        <ul class="radio">
            <li data-ng-repeat="src in sources" class="ga-ripedb-checkbox">
                <input
                    name="source-radio"
                    type="radio"
                    value="{{src}}"
                    ng-model="selected.source" id="{{src}}" />
                <label for="{{src}}">{{src}}</label>
            </li>
        </ul>

    </div>
    <br/>

    <button ng-click="navigateToCreate()" class="blue-button pull-right ga-createobj-select">Create</button>
</form>
</section>

