<h1>Select object type you would like to create</h1>

<section>
<form id="selectForm" class="grey padding pull-left">
    <div>
	    <label>Object type</label>
	    <select ng-model="selected.objectType"
	            ng-required="true"
	            ng-options="objectType for objectType in objectTypes" class="form-control select-height"></select>
	</div>
    <br/>

    <div>
        <label>Source</label>
        <ul class="radio">
            <li data-ng-repeat="src in sources" class="ga-ripedb-checkbox" >
                <input
                    name="source-radio"
                    type="radio"
                    value="{{src}}"
                    ng-disabled="src.value === TEST"
                    ng-model="selected.source" id="{{src}}"
                    ng-disabled="isSourceAttribute(attribute)" />
                <label for="{{src}}">{{labelForSource(src)}}</label>
            </li>
        </ul>
    </div>
    <br/>

    <button ng-click="navigateToCreate()" class="blue-button pull-right ga-createobj-select">Create</button>
</form>
</section>

