<section class="resource-intro">
    <h1>
        <name-formatter [name]="objectName" [type]="objectType"></name-formatter>
    </h1>
    <div class="flags-container">
        @for (flag of flags; track flag) {
        <flag [ngClass]="flag.colour" [tooltip]="flag.tooltip" [text]="flag.text" uppercase></flag>
        }
    </div>
</section>
<section class="back-to-my-resources">
    @if (resource) {
    <hierarchy-selector [resource]="resource"> </hierarchy-selector>
    }
</section>
@if (showUsage) {
<ip-usage [type]="objectType" [usage]="resource.usage"></ip-usage>
}

<section class="db-object" id="editortop">
    <div class="align-center">
        <h2 class="no-margin">Object in RIPE Database</h2>
        @if (isEditing && isWebEditingMode) {
        <button mat-flat-button color="primary" id="btnEditInTextArea" class="float-end" (click)="switchToTextMode()">
            <span class="fa-light fa-pen-to-square"></span> EDIT IN TEXT AREA
        </button>
        } @if (isEditing && !isWebEditingMode) {
        <button mat-flat-button color="primary" id="btnSwitchToTextModify" class="float-end" (click)="switchToWebMode()">
            <span class="fa-light fa-bars"></span> EDIT IN SINGLE LINES
        </button>
        }
    </div>
    @if (loadingResource) {
    <loading-indicator class="resource-page-message"></loading-indicator>
    } @if (whoisObject && !showRefreshButton && !loadingResource) {
    <div>
        @if (!isEditing) {
        <div class="resultpane">
            <whois-object-viewer [model]="whoisObject" (updateClicked)="showObjectEditor()"></whois-object-viewer>
        </div>
        } @if (isEditing && isWebEditingMode) {
        <div>
            <maintainers-editor [whoisObject]="whoisObject" (authenticationFailedClbk)="hideObjectEditor()"></maintainers-editor>
            <whois-object-editor
                [model]="whoisObject"
                [disableSubmit]="!isEditing"
                [deletable]="isDeletable"
                (cancelClicked)="hideObjectEditor()"
                (updateClicked)="updateButtonClicked($event)"
                (deleteClicked)="deleteClicked()"
            ></whois-object-editor>
        </div>
        } @if (isEditing && !isWebEditingMode) {
        <whois-object-text-editor
            [type]="objectType"
            [source]="source"
            [objectName]="objectName"
            (submitEvent)="submit($event)"
            (cancelEvent)="isEditing = false"
            (deleteEvent)="deleteClicked()"
        ></whois-object-text-editor>
        }
    </div>
    } @if (showRefreshButton) {
    <refresh reason="There was problem reading resource please try again" (refreshClbk)="init()"></refresh>
    }
</section>

@if (!showRefreshButton && !loadingResource) {
<div>
    <more-specifics id="more-specifics" [objectType]="objectType" [objectName]="objectName" [sponsored]="sponsored"></more-specifics>

    @if (resource?.iRR) {
    <associated-objects
        id="associated-route-objects"
        title="Associated Route Objects"
        associatedType="route"
        [objectType]="objectType"
        [objectName]="objectName"
    ></associated-objects>
    } @if (resource?.rDNS) {
    <associated-objects
        id="associated-domain-objects"
        title="Associated Domain Objects"
        associatedType="domain"
        [objectType]="objectType"
        [objectName]="objectName"
    ></associated-objects>
    }
</div>
}
