<section class="resource-intro">
    <h1>
        <name-formatter [name]="objectName"
                        [type]="objectType"></name-formatter>
    </h1>
    <div class="flags-container">
        <flag *ngFor="let f of flags" [ngClass]="f.colour" [tooltip]="f.tooltip" [text]="f.text"></flag>
    </div>
</section>
<section class="back-to-my-resources">
    <hierarchy-selector
        *ngIf="resource"
        [resource]="resource">
    </hierarchy-selector>
</section>
<ip-usage *ngIf="showUsage" [type]="objectType" [usage]="resource.usage"></ip-usage>

<section class="db-object" id="editortop">
    <h2>Object in RIPE Database</h2>
    <loading-indicator class="resource-page-message" *ngIf="loadingResource"></loading-indicator>
    <div *ngIf="whoisObject && !showRefreshButton && !loadingResource">
        <whois-object-viewer *ngIf="!isEditing"
                [ng-model]="whoisObject"
                (update-clicked)="showObjectEditor()"></whois-object-viewer>
        <maintainers-editor [whois-object]="whoisObject"
                            *ngIf="isEditing"
                            (authentication-failed-clbk)="hideObjectEditor()"></maintainers-editor>
        <whois-object-editor [ng-model]="whoisObject"
                             [disable-submit]="!isEditing"
                             [deletable]="isDeletable"
                             *ngIf="isEditing"
                             (cancel-clicked)="hideObjectEditor()"
                             (update-clicked)="updateButtonClicked($event)"
                             (delete-clicked)="deleteClicked($event)"></whois-object-editor>
    </div>
    <refresh *ngIf="showRefreshButton"
             reason="There was problem reading resource please try again" (refresh)="init()"></refresh>
</section>

<div *ngIf="!showRefreshButton && !loadingResource">
    <more-specifics [objectType]="objectType"
                   [objectName]="objectName"
                   [sponsored]="sponsored"></more-specifics>

    <associated-objects id="associated-route-objects" *ngIf="resource?.iRR"
                        title="Associated Route Objects"
                        associatedType="route"
                        [objectType]="objectType"
                        [objectName]="objectName"></associated-objects>
    <associated-objects id="associated-domain-objects" *ngIf="resource?.rDNS"
                        title="Associated Domain Objects"
                        associatedType="domain"
                        [objectType]="objectType"
                        [objectName]="objectName"></associated-objects>
</div>
