<section class="visible-field-form">
    <ul class="form-fields appeared-fields">
        @for (attribute of attributes | filteroutAttributeByName : ['mnt-by', 'last-modified', 'created'] | filteroutAttributeByHidden; let i = $index; track
        attribute) {
        <li [hidden]="attribute.$$hidden">
            <attribute-renderer
                [source]="source"
                [objectType]="objectType"
                [attributes]="attributes"
                [attribute]="attribute"
                [idx]="i + ''"
            ></attribute-renderer>
        </li>
        }
    </ul>
    <submitting-agreement></submitting-agreement>
    @if (deletable) {
    <button mat-flat-button color="warn" class="float-start" (click)="btnDeleteClicked()">DELETE THIS OBJECT</button>
    }
    <article class="float-end">
        <button
            mat-flat-button
            color="primary"
            type="submit"
            data-test-id="submit"
            class="float-end margin-left"
            [disabled]="disableSubmit || hasErrorAttribute()"
            (click)="btnSubmitClicked()"
        >
            SUBMIT
        </button>
        <button mat-stroked-button color="primary" class="float-end" (click)="btnCancelClicked()">CANCEL</button>
    </article>
</section>
