@if (show.ripeManagedToggleControl) {
<div>
    <mat-checkbox [checked]="showRipeManagedAttrs" (change)="showRipeManagedAttrs = !showRipeManagedAttrs">
        {{ 'lookup.ripeManagedValuesCheckbox.text' | label }}
    </mat-checkbox>
</div>
}
<ul [ngClass]="{ showripemanaged: showRipeManagedAttrs }">
    @for (attr of (model.attributes.attribute | slice: 0 : nrLinesToShow); track attr.name) {
    <li [ngClass]="{ ripemanaged: attr.managed }">
        <span class="tooltip-hint" [matTooltip]="getDescription(attr.name)">{{ attr.name }}</span
        >:{{ padding(attr) }}

        @if (attr.link?.type === 'locator') {
        <a [routerLink]="['/lookup']" [queryParams]="getLocalLinksQueryParams(attr)" class="link-color">{{ attr.value }}</a>
        } @if (attr.name === pkLink) {
        <a [routerLink]="['/lookup']" [queryParams]="getPkLinksQueryParams()" class="link-color">{{ attr.value }}</a>
        } @if (attr.link?.type !== 'locator' && attr.name !== pkLink) {
        <span>{{ attr.value }}{{ attr.comment === 'Filtered' ? '# Filtered' : '' }}</span>
        } @if (attr.comment && attr.comment !== 'Filtered') {
        <span>{{ !attr.value || attr.value === '' ? '' : ' ' }}# {{ attr.comment }}</span>
        }
    </li>
    }
</ul>
<div class="float-end">
    @if (showMoreButton) {
    <button mat-stroked-button color="primary" id="showEntireObjectInViewer" class="show-more" (click)="clickShowMoreLines()">
        {{ 'lookup.showAllObjectButton.text' | label }}
    </button>
    }
</div>
<div class="viewerbuttons">
    @if (show.loginLink) {
    <a mat-flat-button color="primary" [routerLink]="['/webupdates/modify', model.source.id, model.type, objectPrimaryKey]">
        <span>LOGIN TO UPDATE </span>
        <em class="fal fa-database"></em>
    </a>
    } @if (show.updateButton && linkable) {
    <a mat-flat-button color="primary" class="uppercase" [routerLink]="['/webupdates/modify', model.source.id, model.type, objectPrimaryKey]">{{
        'lookup.updateObjectButton.text' | label
    }}</a>
    } @if (show.updateButton && !linkable) {
    <a mat-flat-button color="primary" class="uppercase" (click)="emitUpdateClicked()">{{ 'lookup.updateObjectButton.text' | label }}</a>
    } @if (show.ripeStatButton) {
    <a mat-stroked-button color="primary" class="float-end margin-left" href="https://stat.ripe.net/{{ ripeStatLink }}?sourceapp=ripedb" target="_blank">
        {{ 'lookup.ripestatLink.text' | label }} <em class="fal fa-external-link"></em>
    </a>
    }
</div>
