<div class="checkbox" *ngIf="show.ripeManagedToggleControl">
    <label>
        <input name="showRipeManagedAttrs" type="checkbox" [checked]="showRipeManagedAttrs"
               (change)="showRipeManagedAttrs = !showRipeManagedAttrs"> {{ "lookup.ripeManagedValuesCheckbox.text" | label }}
    </label>
</div>
<div class="viewerbuttons">
    <a [routerLink]="['/webupdates/modify', model.source.id, model.type, objectPrimaryKey]" class="tag-link" *ngIf="show.loginLink">
        <span>Login to update </span>
        <i class="fal fa-database"></i>
    </a>
    <a class="blue-button" [routerLink]="['/webupdates/modify', model.source.id, model.type, objectPrimaryKey]" *ngIf="show.updateButton && linkable">{{ "lookup.updateObjectButton.text" | label }}</a>
    <a class="blue-button" (click)="emitUpdateClicked()" *ngIf="show.updateButton && !linkable">{{ "lookup.updateObjectButton.text" | label }}</a>
    <a class="grey-button ripe-stat-button" href="https://stat.ripe.net/{{ripeStatLink}}?sourceapp=ripedb" *ngIf="show.ripeStatButton" target="_newtab">
        {{ "lookup.ripestatLink.text" | label }}
        <i class="fal fa-external-link"></i>
    </a>
</div>
<pre><ul [ngClass]="{showripemanaged: showRipeManagedAttrs}"><li
        *ngFor="let attr of model.attributes.attribute | slice:0:nrLinesToShow; index as i;"
        [ngClass]="{ ripemanaged: attr.managed }">{{ attr.name }}:{{ padding(attr) }}<a
        *ngIf="attr.link?.type === 'locator'" [routerLink]="['/lookup']" [queryParams]="getLocalLinksQueryParams(attr)">{{ attr.value }}</a><a
        *ngIf="attr.name === pkLink" [routerLink]="['/lookup']" [queryParams]="getPkLinksQueryParams()">{{ attr.value }}</a><span
        *ngIf="attr.link?.type !== 'locator' && attr.name !== pkLink">{{ attr.value }}{{ attr.comment === 'Filtered' ? '# Filtered' : ''}}</span><span
        *ngIf="attr.comment && attr.comment !== 'Filtered'">{{(!attr.value || attr.value === '')? '' :' '}}# {{attr.comment}}</span></li></ul></pre>
<div class="float-right">
    <div *ngIf="showMoreButton" id="showEntireObjectInViewer" class="grey-button show-more" (click)="clickShowMoreLines()">{{ 'lookup.showAllObjectButton.text' | label }}</div>
</div>
