<div class="alert alert-warning" *ngIf="missingMandatoryAttributes.length > 0">
      Missing mandatory attribute:
    <ul>
      <li *ngFor="let attribute of missingMandatoryAttributes">
        <strong>{{attribute}}</strong>
      </li>
    </ul>
</div>
<section class="visible-field-form">
  <ul class="form-fields appeared-fields">
      <li *ngFor="let attribute of attributes | filteroutAttributeByName: ['mnt-by', 'last-modified', 'created'] | filteroutAttributeByHidden; let i = index"
          [hidden]="attribute.$$hidden">
          <attribute-renderer
                  [source]="source"
                  [object-type]="objectType"
                  [attributes]="attributes"
                  [attribute]="attribute"
                  [idx]=i.toString()></attribute-renderer>
      </li>
  </ul>
  <submitting-agreement></submitting-agreement>
  <span *ngIf="deletable">
      <button (click)="btnDeleteClicked()" class="red-button pull-left ga-modifyobj-delete" style="border:0; margin: 0;">Delete this object</button>
  </span>
  <article class="pull-right">
    <button class="grey-button" (click)="btnCancelClicked()">Cancel</button>
    <button class="blue-button" [disabled]="disableSubmit" (click)="btnSubmitClicked()">Submit</button>
  </article>
</section>
