@for (error of alerts.errors; let i = $index; track error) {
<div>
    <banner
        [type]="BannerTypes.error"
        [id]="'notification-error-' + i"
        textContent="{{ error.plainText | sanitizeHtml }}"
        [buttonText]="error.linktext !== undefined ? error.linktext : null"
        [buttonUrl]="error.linkurl !== undefined ? error.linkurl : null"
    ></banner>
</div>
} @for (warning of alerts.warnings; let i = $index; track warning) {
<div>
    <banner
        [type]="BannerTypes.warning"
        [id]="'notification-warning-' + i"
        textContent="{{ warning.plainText | sanitizeHtml }}"
        [buttonText]="warning.linktext !== undefined ? warning.linktext : null"
        [buttonUrl]="warning.linkurl !== undefined ? warning.linkurl : null"
    ></banner>
</div>
} @for (info of alerts.infos; let i = $index; track info) {
<div>
    <banner
        [type]="BannerTypes.informational"
        [id]="'notification-informational-' + i"
        textContent="{{ info.plainText | sanitizeHtml }}"
        [buttonText]="info.linktext !== undefined ? info.linktext : null"
        [buttonUrl]="info.linkurl !== undefined ? info.linkurl : null"
    ></banner>
</div>
} @for (success of alerts.successes; let i = $index; track success) {
<div>
    <banner
        [type]="BannerTypes.success"
        [id]="'notification-success-' + i"
        textContent="{{ success.plainText | sanitizeHtml }}"
        [buttonText]="success.linktext !== undefined ? success.linktext : null"
        [buttonUrl]="success.linkurl !== undefined ? success.linkurl : null"
    ></banner>
</div>
}
