<div ng-if="$ctrl.type === 'inetnum'">
    <div class="usage-status-box">
        <p class="box-title" title="Total address space">Total address space</p>
        <p class="box-value">{{$ctrl.usage.total | number:0}}</p>
    </div>
    <div class="usage-status-box">
        <p class="box-title">Used</p>
        <p class="box-value">{{$ctrl.usage.used | number:0}}</p>
        <p class="box-statistic">{{$ctrl.percentageUsed | number:0}}%</p>
    </div>
    <div class="usage-status-box">
        <p class="box-title">Free </p>
        <p class="box-value">{{$ctrl.usage.free | number:0}}</p>
        <p class="box-statistic">{{$ctrl.percentageFree | number:0}}%</p>
    </div>
</div>
<div ng-if="$ctrl.type === 'inet6num'">
    <div class="usage-status-box">
        <p class="box-title">Total subnets (/{{$ctrl.usage.blockSize | number:0}})</p>
        <p class="box-value">{{$ctrl.ipv6CalcTotal}}</p>
    </div>
    <div class="usage-status-box">
        <p class="box-title">Used subnets (/{{$ctrl.usage.blockSize | number:0}})</p>
        <p class="box-value">{{$ctrl.ipv6CalcUsed}}</p>
        <p class="box-statistic">{{$ctrl.percentageUsed | number:0}}%</p>
    </div>
    <div class="usage-status-box">
        <p class="box-title">Free subnets (/{{$ctrl.usage.blockSize | number:0}})</p>
        <p class="box-value">{{$ctrl.ipv6CalcFree}}</p>
        <p class="box-statistic">{{$ctrl.percentageFree | number:0}}%</p>
    </div>
</div>
