<div ng-click="showDetail(item)">
    <p class="title"><name-formatter name="item.resource" type="item.type"></name-formatter> <span class="fa fa-angle-right pull-right"></span></p>
    <p class="org-name" ng-if="item.orgName">{{ item.orgName }}</p>
    <div class="flags-container">
        <flag class="grey" text="item.status" tooltip="status"></flag>
        <flag class="grey" text="item.netname" tooltip="netname"></flag>
        <flag class="grey" text="item.asname" tooltip="as-name"></flag>
    </div>
    <div ng-if="item.type !== 'aut-num'" class="progressbar-container">
        <uib-progressbar value="item.usage.used * 100 / item.usage.total | number:1"></uib-progressbar>
    </div>
</div>
