<section class="resource-intro">
    <h1>
        <name-formatter ng-if="resourceDetails.resource.resource" name="resourceDetails.resource.resource"
                        type="resourceDetails.resource.type"></name-formatter>
    </h1>
    <div class="flags-container">
        <flag ng-repeat="f in resourceDetails.flags" ng-class="f.colour" tooltip="f.type" text="f.value"></flag>
    </div>
</section>
<section class="back-to-my-resources">
    <hierarchy-selector
        resource="resourceDetails.resource"
        sponsored="resourceDetails.sponsored"
        ng-if="resourceDetails.resource">
    </hierarchy-selector>
</section>
<ip-usage ng-if="resourceDetails.showUsage" type="resourceDetails.objectType" usage="resourceDetails.resource.usage"></ip-usage>

<section class="db-object" id="editortop">
    <h2>Object in RIPE Database</h2>
    <div id="alert-danger" class="alert alert-danger" ng-if="resourceDetails.errors.length">
        <p ng-repeat="error in resourceDetails.errors">
            <span ng-bind-html="error"></span>
        </p>
    </div>
    <div id="alert-success" class="alert alert-success" ng-if="resourceDetails.successes.length">
        <p ng-repeat="success in resourceDetails.successes">
            <span ng-bind-html="success"></span>
        </p>
    </div>
    <div class="alert alert-warning" ng-if="resourceDetails.warnings.length">
        <p ng-repeat="warning in resourceDetails.warnings">
            <span ng-bind-html="warning"></span>
        </p>
    </div>
    <div class="alert alert-info" ng-if="resourceDetails.infos.length">
        <p ng-repeat="info in resourceDetails.infos">
            <span ng-bind-html="info"></span>
        </p>
    </div>
    <div ng-if="::resourceDetails.whoisObject">
        <whois-object-viewer ng-model="::resourceDetails.whoisObject"
                             ng-if="!resourceDetails.isEditing"
                             update-clicked="resourceDetails.showObjectEditor(resourceDetails.whoisObject)"></whois-object-viewer>
        <maintainers-editor ng-model="::resourceDetails.whoisObject"
                            ng-if="resourceDetails.isEditing"
                            authentication-failed-clbk="resourceDetails.hideObjectEditor()"></maintainers-editor>
        <whois-object-editor ng-model="::resourceDetails.whoisObject"
                             ng-if="resourceDetails.isEditing"
                             cancel-clicked="resourceDetails.hideObjectEditor()"
                             update-clicked="resourceDetails.updateButtonClicked()"></whois-object-editor>
    </div>
</section>

<section class="more-specifics" ng-if="resourceDetails.canHaveMoreSpecifics">
    <h2>More specifics</h2>
    <div class="prefix-filter"
         ng-if="::resourceDetails.moreSpecifics.resources.length">
        <div class="input-group">
            <input type="text"
                   id="ipFilter"
                   class="form-control"
                   placeholder="Search for prefix"
                   ng-model="resourceDetails.ipFilter"
                   ng-change="resourceDetails.applyFilter()">
            <span class="input-group-btn" ng-hide="!resourceDetails.ipFilter">
                <button type="button"
                        class="btn"
                        id="clearButton"
                        ng-click="resourceDetails.ipFilter = ''; resourceDetails.applyFilter();">
                    <span class="fa fa-times"></span>
                  </button>
            </span>
        </div>
        <span ng-if="resourceDetails.ipFilter" class="pull-right">
            Showing {{resourceDetails.moreSpecifics.filteredSize }} out of {{resourceDetails.moreSpecifics.totalNumberOfResources}}
        </span>
        <span ng-if="resourceDetails.ipFilter === null || resourceDetails.ipFilter === ''" class="pull-right">
            Total more specifics: {{resourceDetails.moreSpecifics.totalNumberOfResources}}
        </span>
    </div>
    <table class="table table-bordered table-body-borderless resources table-striped"
           ng-if="resourceDetails.moreSpecifics.resources.length">
        <thead>
        <tr>
            <th>Internet number resource</th>
            <th>Status</th>
            <th>Netname</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in resourceDetails.moreSpecifics.resources"
            ng-if="$index < resourceDetails.nrMoreSpecificsToShow">
            <td><a ng-click="resourceDetails.showDetail(resource)">
                <name-formatter name="resource.resource" type="resource.type"></name-formatter>
            </a></td>
            <td>{{ resource.status }}</td>
            <td>{{ resource.netname }}</td>
        </tr>
        </tbody>
    </table>
    <p scroller="resourceDetails.almostOnScreen()" ng-if="resourceDetails.showScroller"></p>
    <div class="alert alert-warning" ng-if="resourceDetails.moreSpecifics.resources.length === 0">
        No more specific objects exist.
    </div>
</section>
