<div>
    <a class="title" ng-click="ctrlResourceItem.showDetail()">
        <name-formatter name="ctrlResourceItem.item.resource" type="ctrlResourceItem.item.type"></name-formatter>
        <span class="fa fa-angle-right pull-right"></span>
    </a>
    <p class="org-name" ng-if="ctrlResourceItem.item.orgName">{{ ctrlResourceItem.item.orgName }}</p>
    <div class="flags-container">
        <flag text="ctrlResourceItem.item.status" tooltip="'status'"></flag>
        <flag text="ctrlResourceItem.item.netname" tooltip="'netname'"></flag>
        <flag text="ctrlResourceItem.item.asname" tooltip="'as-name'"></flag>
        <flag class="orange" text="ctrlResourceItem.item.notRipeRegistered ? 'No contract': ''" tooltip="'This resource is <i>not</i> covered by an agreement by <a href=\'http://www.ripe.net\'>RIPE NCC</a>'"></flag>
        <flag class="red" text="ctrlResourceItem.item.sponsoredByOther ? 'Sponsored by other': ''" tooltip="'Sponsored by another LIR'"></flag>
    </div>
    <div ng-if="ctrlResourceItem.showProgressbar" class="progressbar-container">
        <uib-progressbar
            value="ctrlResourceItem.usedPercentage | number:1"
            tooltip-enable="{{ctrlResourceItem.showProgressbar}}"
            uib-tooltip="Usage as per RIPE policies: {{ctrlResourceItem.usedPercentage | number:0}}%">
        </uib-progressbar>
    </div>
</div>
