<div>
    <span class="title" ng-click="$ctrl.showDetail()">
        <name-formatter name="$ctrl.item.resource" type="$ctrl.item.type"></name-formatter>
        <span class="fa fa-chevron-right pull-right"></span>
    </span>
    <p class="org-name" ng-if="$ctrl.item.orgName">{{ $ctrl.item.orgName }}</p>
    <div class="flags-container">
        <flag ng-repeat="f in $ctrl.flags" ng-class="f.colour" tooltip="f.tooltip" text="f.text"></flag>
    </div>
    <div ng-if="$ctrl.showProgressbar" class="progressbar-container">
        <uib-progressbar
            value="$ctrl.usedPercentage | number:1"
            tooltip-enable="{{$ctrl.showProgressbar}}"
            uib-tooltip="Usage as per RIPE policies: {{$ctrl.usedPercentage | number:0}}%">
        </uib-progressbar>
    </div>
</div>
