<section class="resource-intro">
    <h1>
        <name-formatter ng-if="$ctrl.resource.resource" name="$ctrl.resource.resource"
                        type="$ctrl.resource.type"></name-formatter>
    </h1>
    <div class="flags-container">
        <flag ng-repeat="f in $ctrl.flags" ng-class="f.colour" tooltip="f.type" text="f.value"></flag>
    </div>
</section>
<section class="back-to-my-resources">
    <hierarchy-selector
        resource="$ctrl.resource"
        sponsored="$ctrl.sponsored"
        ng-if="$ctrl.resource">
    </hierarchy-selector>
</section>
<ip-usage ng-if="$ctrl.showUsage" type="$ctrl.objectType" usage="$ctrl.resource.usage"></ip-usage>

<section class="db-object" id="editortop">
    <h2>Object in RIPE Database</h2>
    <div id="alert-danger" class="alert alert-danger" ng-if="$ctrl.errors.length">
        <p ng-repeat="error in $ctrl.errors">
            <span ng-bind-html="error"></span>
        </p>
    </div>
    <div id="alert-success" class="alert alert-success" ng-if="$ctrl.successes.length">
        <p ng-repeat="success in $ctrl.successes">
            <span ng-bind-html="success"></span>
        </p>
    </div>
    <div class="alert alert-warning" ng-if="$ctrl.warnings.length">
        <p ng-repeat="warning in $ctrl.warnings">
            <span ng-bind-html="warning"></span>
        </p>
    </div>
    <div class="alert alert-info" ng-if="$ctrl.infos.length">
        <p ng-repeat="info in $ctrl.infos">
            <span ng-bind-html="info"></span>
        </p>
    </div>
    <div ng-if="::$ctrl.whoisObject">
        <whois-object-viewer ng-model="::$ctrl.whoisObject"
                             ng-if="!$ctrl.isEditing"
                             update-clicked="$ctrl.showObjectEditor($ctrl.whoisObject)"></whois-object-viewer>
        <maintainers-editor ng-model="::$ctrl.whoisObject"
                            ng-if="$ctrl.isEditing"
                            authentication-failed-clbk="$ctrl.hideObjectEditor()"></maintainers-editor>
        <whois-object-editor ng-model="::$ctrl.whoisObject"
                             ng-if="$ctrl.isEditing"
                             cancel-clicked="$ctrl.hideObjectEditor()"
                             update-clicked="$ctrl.updateButtonClicked()"></whois-object-editor>
    </div>
</section>

<section class="more-specifics" ng-if="$ctrl.canHaveMoreSpecifics">
    <h2>More specifics</h2>
    <div class="prefix-filter"
         ng-if="::$ctrl.moreSpecifics.resources.length">
        <div class="input-group">
            <input type="text"
                   id="ipFilter"
                   class="form-control"
                   placeholder="Search for prefix"
                   ng-model="$ctrl.ipFilter"
                   ng-change="$ctrl.applyFilter()">
            <span class="input-group-btn" ng-hide="!$ctrl.ipFilter">
                <button type="button"
                        class="btn"
                        id="clearButton"
                        ng-click="$ctrl.ipFilter = ''; $ctrl.applyFilter();">
                    <span class="fa fa-times"></span>
                  </button>
            </span>
        </div>
        <span ng-if="$ctrl.ipFilter" class="pull-right">
            Showing {{$ctrl.moreSpecifics.filteredSize }} out of {{$ctrl.moreSpecifics.totalNumberOfResources}}
        </span>
        <span ng-if="$ctrl.ipFilter === null || $ctrl.ipFilter === ''" class="pull-right">
            Total more specifics: {{$ctrl.moreSpecifics.totalNumberOfResources}}
        </span>
    </div>
    <table class="table table-bordered table-body-borderless resources table-striped"
           ng-if="$ctrl.moreSpecifics.resources.length">
        <thead>
        <tr>
            <th>Internet number resource</th>
            <th>Status</th>
            <th>Netname</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in $ctrl.moreSpecifics.resources"
            ng-if="$index < $ctrl.nrMoreSpecificsToShow">
            <td><a ng-click="$ctrl.showDetail(resource)">
                <name-formatter name="resource.resource" type="resource.type"></name-formatter>
            </a></td>
            <td>{{ resource.status }}</td>
            <td>{{ resource.netname }}</td>
        </tr>
        </tbody>
    </table>
    <p scroller="$ctrl.almostOnScreen()" ng-if="$ctrl.showScroller"></p>
    <div class="alert alert-warning" ng-if="$ctrl.moreSpecifics.resources.length === 0">
        No more specific objects exist.
    </div>
</section>
