<section class="my-resources">

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" ng-cloak>
                <div ng-show="resources.organisations && resources.organisations.length == 1">
                    You are viewing organisation: {{dropdown.selectedOrg.displayName}}
                </div>
                <div ng-show="resources.organisations && resources.organisations.length > 1">
                    <label for="organisation-selector">Select an organisation: </label>
                    <select name="orgSelector" id="organisation-selector"
                            ng-change="resources.organisationSelected()"
                            ng-options="org.displayName for org in resources.organisations track by org.displayName"
                            ng-model="resources.selectedOrg">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>{{ resources.isShowingSponsored ? "Sponsored" : "My"}} Resources</h4>
        </div>
        <div class="col-md-8" ng-show="resources.hasSponsoredResources">
            <button
                    id="btn-toggle-sponsored"
                    class="blue-button pull-right"
                    ng-click="resources.sponsoredResourcesClicked()">
                Switch to {{ resources.isShowingSponsored ? "My" : "Sponsored" }} Resources
            </button>
        </div>
    </div>

    <section>
        <uib-tabset class="nav-tabs" active="resources.typeIndex">
            <uib-tab name="ipv4Tab" index="0" heading="IPv4">
                <div class="resource-list" ng-repeat="resource in resources.ipv4Resources">
                    <resource-item item="resource" sponsored="resources.isShowingSponsored"></resource-item>
                </div>
            </uib-tab>
            <uib-tab name="ipv6Tab" index="1" heading="IPv6">
                <div class="resource-list" ng-repeat="resource in resources.ipv6Resources">
                    <resource-item item="resource" sponsored="resources.isShowingSponsored"></resource-item>
                </div>
            </uib-tab>
            <uib-tab name="asnTab" index="2" heading="ASN">
                <div class="resource-list" ng-repeat="resource in resources.asnResources">
                    <resource-item item="resource" sponsored="resources.isShowingSponsored"></resource-item>
                </div>
            </uib-tab>
        </uib-tabset>
    </section>
</section>
