<section class="inner-container">
    @for (object of objects | slice : 0 : 4; track object) {
    <table class="success-fields grey" aria-describedby="display domain objects">
        @for (attribute of object.attributes.attribute; track attribute) {
        <tr>
            <td class="col-sm-3">
                <label>{{ attribute.name }}:</label>
            </td>
            <td class="col-sm-9">
                <p>{{ attribute.value }}</p>
                @if (attribute.$$error) {
                <div class="modify-feedback">
                    <span>{{ attribute.$$error }}</span>
                    <em class="fal fa-info-circle"></em>
                </div>
                }
            </td>
        </tr>
        }
    </table>
    } @if (objects.length > 4) {
    <p>
        <a rel="noopener" target="_blank" href="query?searchtext=%20-M%20-rd%20-T%20domain%20{{ prefix }}&bflag=true"> and {{ objects.length - 4 }} more... </a>
    </p>
    }
    <button mat-flat-button color="primary" class="float-end" (click)="navigateToSelect()">BACK TO CREATE OBJECT</button>
</section>
