<section class="inner-container">
    <table class="success-fields grey" *ngFor="let object of objects | slice:0:4">
        <tr *ngFor="let attribute of object.attributes.attribute">
            <td class="col-sm-3">
                <label>{{attribute.name}}:</label>
            </td>
            <td class="col-sm-9">
                <p>{{attribute.value}}</p>
                <div *ngIf="attribute.$$error" class="modify-feedback">
                    <span>{{attribute.$$error}}</span>
                    <i class="fa fa-info-circle"></i>
                </div>
            </td>
        </tr>
    </table>
    <p *ngIf="objects.length > 4">
        <a target="_blank" href="query?searchtext=%20-M%20-rd%20-T%20domain%20{{prefix}}&bflag=true">
            and {{objects.length - 4}} more...
        </a>
    </p>
    <button (click)="navigateToSelect()" class="blue-button pull-right ga-createobj-modifyobj">
        Back to Create Object
    </button>
</section>
