<h1>Forgot maintainer password</h1>

<div>
    <section>
        @if (hashOk === true) {
        <div class="padding grey">
            Please confirm that you wish to add {{ user }} to the <span class="mntner">MNTNER</span> object

            <div class="clearfix margin-top">
                <div class="float-end">
                    <button mat-flat-button color="primary" type="button" (click)="associate()">CONFIRM</button>
                </div>
            </div>
        </div>
        }
        <button mat-stroked-button color="primary" class="float-end" type="button" (click)="cancelAssociate()">CANCEL</button>
    </section>
</div>
