<h1>Forgotten MNTNER password</h1>

<div>
    <section *ngIf="!fmpModel.mntnerKey">
        Please select a correct maintainer.
    </section>

    <section *ngIf="!generatedPDFUrl && fmpModel.mntnerKey">
        <form name="fmpform" class="padding grey" #f="ngForm" (submit)="next(fmpModel, f.valid)" novalidate>
            <h6>Please give us some information about your request to recover access to
                the <span class="mntner">MNTNER</span> object <strong>{{fmpModel.mntnerKey | uppercase}}</strong>
            </h6>
            <div class="form-group margin-bottom">
                <label for="reason">Reason:</label>
                <textarea id="reason" name="reason" class="form-control"
                          [(ngModel)]="fmpModel.reason" #reason="ngModel"
                          maxlength="1000" required></textarea>
                <div [hidden]="!f.submitted && !reason.touched" class="error-text">
                    <div [hidden]="!reason.errors?.required">Reason is required.</div>
                </div>
                <span>Please enter the reason for the access recovery request. </span>
            </div>
            <div class="form-group margin-bottom">
                <label for="email">Email:</label><input id="email" type="email" name="email" class="form-control" [(ngModel)]="fmpModel.email" #email="ngModel" required email />
                <div [hidden]="!f.submitted && !email.touched" class="error-text">
                    <span [hidden]="!email.errors?.required">Email is required.</span>
                    <span [hidden]="!email.errors?.email">This is not a valid email.</span>
                </div>
                <span>Please enter the email address so that we can contact you.</span>
            </div>
            <div class="clearfix">
                <div class="float-end">
                    <button type="submit" id="next" class="blue-button">Next</button>
                </div>
            </div>
        </form>
    </section>

    <section id="fmp-step2" *ngIf="generatedPDFUrl && fmpModel.mntnerKey">
        <div>
            <h6>Password request for <span class="mntner">MNTNER</span>&nbsp;<strong>{{fmpModel.mntnerKey | uppercase}}</strong></h6>

            <div class="padding grey margin-top">
                <p>Please now print the request form (PDF) on <b>company letter-headed paper</b>, sign all pages and scan it.</p>
                <p>The request should be <b>signed</b> by the &quot;admin-c&quot; of the MNTNER, or somebody within your company that has the authority to do so.</p>
                <p>If it&apos;s a MNTNER hold by a company, please add your <b>company registration papers</b>; if it’s a personal MNTNER, please add a copy of your <b>passport.</b></p>
                <p>Please send the scanned request form together with a copy of your company&apos;s registration papers or passport <a href="https://www.ripe.net/contact-form?topic=ripe_dbm&show_form=true" target="_blank">here</a>.</p>
            </div>
        </div>
        <div class="padding grey margin-top">
            <h6>Print Request</h6>
            <p>
                Download the PDF below and follow the instructions inside.<br /><br />
                <a id="myPdfLink" href="{{generatedPDFUrl}}" target="_blank">
                    <img src="assets/images/pdflogo.png" alt="Generated PDF" class="pdf-image"/></a>
            </p>
        </div>
    </section>
</div>
