<alerts></alerts>

<form id="createForm">
    <h1>Create "mntner" object</h1>
    <section class="form-fields maintainer-fields">
        <strong>Please select your administrative contact before creating the shared maintainer object</strong>
        <article class="maintainer-icons">
            <span class="fa fa-search maintainer-search-icon"></span>
            <a ng-click="isAdminCHelpShown = !isAdminCHelpShown" class="btn btn-default ga-help-attr maintainer-help" id="admincHelp">
                <span class="fa fa-question"></span>
            </a>
        </article>
        <ui-select multiple="true"
                   theme="selectize"
                   ng-model="adminC.object"
                   placeholder="{{attribute.$$meta.$$short}}"
                   close-on-select="true"
                   on-select="onAdminCAdded($item, $model)"
                   on-remove="onAdminCRemoved($item, $model)"
                   ng-if="uiSelectTemplateReady">
            <ui-select-match>{{$item.key}}</ui-select-match>
            <ui-select-choices repeat="adminC in adminC.alternatives track by adminC.key"
                               refresh="adminCAutocomplete($select.search)"
                               refresh-delay="100">
                <div class="option">
                    <span class="title">{{adminC.key}} - <b>{{adminC.person}} {{adminC.role}}</b></span>
                </div>
            </ui-select-choices>
        </ui-select>
        <div collapse="!isAdminCHelpShown" class="text field-description">
            <strong>Description</strong></br>
            {{admincDescription}}<br>
            <strong>Syntax</strong></br>
            <span ng-bind-html="admincSyntax"></span>
            </div>
        <div ng-show="!hasAdminC()">
            <strong>Don't have an administrative contact? <a href="/db-web-ui/#/webupdates/create/person/self">Create maintainer and person pair</a></strong>
        </div>
    </section>

    <section class="visible-field-form" ng-show="hasAdminC()">

        <ul class="form-fields appeared-fields">

            <li ng-repeat="attribute in (maintainerAttributes | filter: {name: '!mnt-by'} | filter: {name: '!source'} | filter: {name: '!upd-to'} | filter: {name:'!auth'} | filter: {name:'!admin-c'})" class="form-group input-group">
                <label>{{attribute.name}}</label>

                <span ng-if="attribute.$$error" class="text-error">
                    <span ng-bind-html="attribute.$$error"></span>
                </span>

                <input type="text"
                       name="{{attribute.name}}"
                       ng-model="attribute.value"
                       placeholder="{{attribute.$$meta.$$short}}"
                       ng-blur="fieldVisited(attribute)"
                       ng-required="{{attribute.$$meta.$$mandatory}}"
                       class="form-control"
                       autocomplete="off"/>
                <div class="text field-description" collapse="!isHelpShown" ng-if="isHelpShown">
                    <strong>Description</strong></br>
                    <span ng-bind-html="attribute.$$meta.$$description"></span></br>
                    <strong>Syntax</strong></br>
                    <span ng-bind-html="attribute.$$meta.$$syntax"></span>
                </div>
                <ul class="input-group-btn">
                    <li>
                        <a id="help" class="btn btn-default ga-help-attr" ng-click="isHelpShown = !isHelpShown">
                            <span class="fa fa-question" ></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <section class="supporting-text">
            <p>By submitting this form you explicitly express your agreement with the <a
                href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a></p>
        </section>
        <input type="submit" ng-click="submit()" ng-disabled="!isFormValid() || submitInProgress" class="blue-button pull-right ga-createobj-create" value="Submit" />
        <button ng-click="cancel()" class="blue-button pull-right ga-createobj-create" style="border:0;">Cancel</button>
    </section>
</form>
