<section class="not-found">
    <div *ngIf="loading">
        <loading-indicator class="resource-page-message"></loading-indicator>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="isSucess">
            <section>
                <div class="padding grey">
                    <div class="padding grey">
                        <h2>Would you like to unsubscribe from automated Whois updates?</h2>
                        <p>
                            Click on Confirm to stop receiving automated emails from Whois at {{ email }}. You might still receive other emails from the RIPE
                            NCC depending on your email preferences.
                        </p>
                    </div>
                    <div class="clearfix margin-top">
                        <div class="float-centre">
                            <button mat-flat-button color="primary" type="button" (click)="confirm()">CONFIRM</button>
                            <button mat-stroked-button class="margin-left" color="primary" type="button" (click)="cancel()">CANCEL</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="!isSucess">
            <em class="fal fa-exclamation-circle"></em>
            <h2>We could not find an email address to unsubscribe.</h2>
        </div>
    </div>
</section>
