.flag-description {
    height: 67px;
}

.slider-component .mat-mdc-slider,
.flag-description {
    width: 580px;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.slider-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin-top: -20px;
}
