@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$mat-darkblue: (
    50: #e3e4ec,
    100: #b8bbd0,
    200: #8b8fb0,
    300: #606591,
    400: #42477d,
    500: #242b6a,
    600: #1f2562,
    700: #171d58,
    800: #0f154c,
    900: #080037,
    A100: #5656ff,
    A200: #2323ff,
    A400: #0000ef,
    A700: #0000d5,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: rgba(white, 0.87),
        900: rgba(white, 0.87),
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$mat-bondiblue: (
    50: #EOF8F9,
    100: #b3edf0,
    200: #81e1e8,
    300: #4fd3de,
    400: #27cad8,
    500: #00c0d3,
    600: #00b0c0,
    700: #009ba6,
    800: #01878e,
    900: #026364,
    A100: #a8f4ff,
    A200: #75edff,
    A400: #42e7ff,
    A700: #29e3ff,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
    ),
);

$custom-theme-primary: mat.m2-define-palette($mat-darkblue, 900);
$custom-theme-accent: mat.m2-define-palette($mat-bondiblue, 700);
$custom-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-typography: mat.m2-define-typography-config(
    $font-family: 'Public Sans',
    $headline-1: (
        font-size: 112px,
        line-height: 112px,
        font-weight: 300,
        letter-spacing: -0.05em,
    ),
    $headline-2: (
        font-size: 56px,
        line-height: 56px,
        font-weight: 400,
        letter-spacing: -0.02em,
    ),
    $headline-3: (
        font-size: 45px,
        line-height: 48px,
        font-weight: 400,
        letter-spacing: -0.005em,
    ),
    $headline-4: (
        font-size: 34px,
        line-height: 40px,
        font-weight: 400,
    ),
    $headline-5: (
        font-size: 1.563rem,
        line-height: 32px,
        font-weight: 700,
    ),
    $headline-6: (
        font-size: 20px,
        line-height: 32px,
        font-weight: 500,
    ),
    $subtitle-1: (
        font-size: 16px,
        line-height: 28px,
        font-weight: 400,
    ),
    $subtitle-2: (
        font-size: 16px,
        line-height: 24px,
        font-weight: 400,
    ),
    $body-2: (
        font-size: 16px,
        line-height: 24px,
        font-weight: 400,
    ),
    $body-1: (
        font-size: 16px,
        line-height: 24px,
        font-weight: 400,
    ),
    $caption: (
        font-size: 12px,
        line-height: 20px,
        font-weight: 400,
    ),
    $button: (
        font-size: 14px,
        line-height: 14px,
        font-weight: 500,
    ),
);
$custom-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $custom-theme-primary,
            accent: $custom-theme-primary,
            warn: $custom-theme-warn,
        ),
        typography: $custom-typography,
    )
);
@include mat.all-component-themes($custom-theme);
@include mat.all-component-typographies($custom-typography);
//@include mat.button-theme($custom-theme);
