paginator ul li {
    cursor: pointer;
    a {
        min-width: 46px;
        text-align: center;
        &.page-link {
            color: #242b6a;
        }
    }
    &.page-item.active .page-link {
        background-color: #242b6a;
        border-color: #242b6a;
    }
    &.disabled {
        a {
            color: #999 !important;
            cursor: none;
            &:hover {
                background: #eee !important;
            }
        }
    }
}

#content ul.pagination > li {
    display: inline;
}

.full-text-result-summary tbody tr {
    cursor: pointer;
}
