paginator ul li {
  cursor: pointer;
  a {
    min-width: 46px;
    text-align: center;
  }
  &.disabled {
    a {
      color: #999 !important;
      cursor: none;
      &:hover {
        background: #eee !important;
      }
    }
  }
}

#content ul.pagination>li {
  display: inline;
}

.full-text-result-summary tbody tr {
    cursor: pointer;
}
