@use 'common-functions' as common;

$padding: 24px;
.search-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 652px;
    height: 50px;
    max-width: 90%;
    margin-bottom: 8px;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-input-wrapper input {
    width: 100%;
    padding: 12px 0 12px 12px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-top: 1px solid #d0d2da;
    border-right: 0;
    border-bottom: 1px solid #d0d2da;
    border-left: 1px solid #d0d2da;
    border-radius: 8px 0 0 8px;
    background-color: white;
    &:hover {
        border-color: #0d1b48;
    }
    &:focus-within {
        padding: 11px 11px;
        border-top: 2px solid #0d1b48;
        border-right: 0;
        border-bottom: 2px solid #0d1b48;
        border-left: 2px solid #0d1b48;
    }
    ::placeholder {
        color: #666d88;
    }
}

.clear-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    &:hover,
    &:focus {
        background-color: #e5e9fb;
    }
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    display: block;
    color: #1e3a8a;
}

.search-button {
    background-color: #0d1b48;
    color: white;
    padding: 0 25px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    border: 1px solid #0d1b48;
    border-radius: 0 8px 8px 0;
    &:hover,
    &:focus {
        background-color: #2b46a1;
        border-color: #2b46a1;
    }
}

.search-button em {
    width: 24px;
    height: 24px;
    font-size: 24px;
    stroke: white;
}

.dropdown-menus-bar {
    min-height: 60px;
    padding: common.spacing(1, 0);

    .dropdown-menus-bar-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }
    }

    button {
        margin-right: common.spacing(1);
        background-color: #fff;
        padding: common.spacing(0, 2);

        &[aria-expanded='true'] {
            background-color: rgba(0, 0, 0, 0.075);
        }
        .mdc-button__label .fal {
            margin-left: common.spacing(2);
        }
        &.perma-link {
            background-color: transparent;
            margin-left: auto;
            font-size: 20px;
        }
    }
}
@media (max-width: 768px) {
    .dropdown-menus-bar {
        .dropdown-menus-bar-buttons {
            align-items: flex-start;
        }
    }
}

.perm-xml-json-resultlinks {
    line-height: 1.8rem;
    padding: common.spacing(1);
    padding-left: $padding;
    padding-right: $padding;
    .perm-xml-json {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .controls {
        display: flex;
        padding-bottom: 0.5rem;
        input {
            width: 100%;
            background-color: #fefefe;
            &:disabled {
                border: 0;
            }
        }
        button {
            margin-left: 8px;
            span.mdc-button__label {
                white-space: nowrap;
            }
        }
    }
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: unset !important;
}

.mat-tooltip {
    font-size: 12px !important;
}

.mat-menu-content:not(:empty) {
    padding: common.spacing(1) !important;
}

#informationSection {
    margin-top: 50px;
    .row {
        gap: 20px;
        max-width: 1200px;
    }
    .card-info {
        display: flex;
        width: 498px;
        div {
            position: relative;
            padding: 20px;
            border: 1px solid #cfcfcf;
            border-radius: 8px;
            background-color: #ffffff;
            color: #3d3d3d;
            font-size: 14px;
        }
        a {
            position: absolute;
            bottom: 0;
            right: 26px;
            margin-bottom: 1rem;
            font-weight: 500;
        }
        p {
            color: #080037;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.query-padding {
    padding-top: $padding;
    padding-left: 79px;
    padding-right: 79px;
}

@media (max-width: 768px) {
    .query-padding {
        padding-top: $padding;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.query-padding-left {
    padding-left: 79px;
}

.mat-mdc-menu-content {
    .row {
        white-space: nowrap;

        .mat-mdc-checkbox-touch-target {
            display: none;
        }
    }

    em.close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.query-padding-right {
    padding-right: $padding;
}
