transfer-drop-down {
    button#single-button {
        height: 37px;
        padding: 0 10px;
        position: relative;
        > span {
            font: {
                size: 300%;
                weight: bold;
            }
            position: relative;
        }
    }
}
