:root {
    --ripe-app-font-family: 'Public Sans';
    --mat-checkbox-state-layer-size: 20px !important;
}

#app-grid {
    display: grid;
    grid-template-columns: [navbar] max-content [workspace] auto;
    background: #f7f7fa;
}

swe-menu {
    grid-area: navbar;
    app-nav-bar {
        top: 70px;
        nav {
            z-index: 9999999;
        }
    }
}

#main-wrapper {
    grid-area: workspace;
    background-color: #f7f7fa;
}

.main-content {
    --pad: 2rem;
    padding: var(--pad) calc(2 * var(--pad)) calc(2 * var(--pad));
    max-width: 1280px;
    margin: 0 auto;
}

#app-banners-container {
    position: sticky;
    background-color: white;
    z-index: 10;
    top: 70px;
}

#app-workspace {
    background-color: #f7f7fa;
}

#visual-portal-wrapper > div {
    z-index: 100000; //because of dropdown menus on query page
}

.web-component {
    font-size: unset; //overwrite style from template.css
}
