whois-object-viewer {
    display: block;
    overflow: auto;
    span.blue-button {
        float: right;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            white-space: pre;
            font-family: monospace;
            font-size: 0.875em;
        }
    }

    .show-more {
        margin-left: auto;
        margin-right: auto;
    }
}

.tooltip-hint {
    border-bottom: 1px dotted #666;
    cursor: help;
}

.resultpane {
    padding: 10px;
    margin: 5px 0;
    border: 1px #ccc solid;
    border-radius: 4px;
    background-color: #ffffff;
}

.no-result-msg {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.viewerbuttons {
    position: absolute;
    right: 90px;
    border-color: #ffffff03;
    border-width: 0 0 6px 2px;
    border-style: solid;
}

.showripemanaged {
    & > .ripemanaged {
        background: #d1effe;
    }

    li {
        white-space: break-spaces;
    }
}

@media screen and (max-width: 700px) {
    .viewerbuttons {
        position: inherit !important;
    }
}
