<div>
    <h1>Create &quot;{{object.type}}&quot; object</h1>

    <alerts></alerts>

    <button ng-click="switchToWebMode()" class="blue-button pull-right ga-text-createobj-switch-mode" style="border:0;">Switch to web mode</button>

    <form id="textCreateForm">

        <div class="form-group">
            <label for="createRpsl">RPSL to create single object</label>
            <textarea id="createRpsl"
                      class="form-control"
                      auto-height
                      ng-model="object.rpsl"
                      style="font-family:monospace;"></textarea>

            <input type="submit" ng-click="submit()" ng-disabled="restCalInProgress"
                   class="blue-button pull-right ga-text-createobj-create" value="Create"/>

            <button ng-click="cancel()" class="blue-button pull-right ga-text-createobj-cancel" style="border:0;">Cancel</button>

            <p>
                You can optionally use <strong>password:</strong>-attribute to prevent an interactive password popup or to provide multiple passwords.
            </p>
        </div>
    </form>
</div>
