<div>
    <h1>Create &quot;{{object.type}}&quot;   object</h1>

    <alerts></alerts>

    <form id="textCreateForm">

        <div class="form-group">
            <label for="createRpsl">RPSL to create single object</label>
            <textarea id="createRpsl"
                      class="form-control"
                      rows="25"
                      ng-model="object.rpsl"
                      style="font-family:monospace;"></textarea>

            <input type="submit" ng-click="submit()" ng-disabled="restCalInProgress"
                   class="blue-button pull-right ga-createobj-create" value="Create"/>

            <button ng-click="cancel()" class="blue-button pull-right ga-createobj-cancel" style="border:0;">Cancel</button>

        </div>
    </form>
</div>
