<div>
    <h1>Text updates modify {{object.source}} {{object.type}} {{object.name}}</h1>
    <alerts></alerts>
    <form id="textModifyForm">

        <div class="form-group">
            <label for="createRpsl">RPSL to modify a single object</label>
            <textarea id="createRpsl"
                      class="form-control"
                      rows="25"
                      ng-model="object.rpsl"
                      style="font-family:monospace;"></textarea>

            <input type="submit" ng-click="submit()" ng-disabled="restCalInProgress"
                   class="blue-button pull-right ga-modifyobj-modify" value="Modify"/>

            <button ng-click="cancel()" class="blue-button pull-right ga-modifyobj-cancel" style="border:0;">Cancel</button>

        </div>
    </form>
</div>
