<div>
    <h1>Modify &quot;{{object.type}}&quot; object</h1>

    <alerts></alerts>

    <button ng-click="switchToWebMode()" class="blue-button pull-right ga-text-modifyobj-switch-mode" style="border:0;">
        Switch to web mode
    </button>

    <form id="textModifyForm">

        <div class="form-group">
            <label for="modifyRpsl">RPSL to modify a single object</label>
            <textarea id="modifyRpsl"
                      class="form-control"
                      rows="20"
                      ng-model="object.rpsl"
                      style="font-family:monospace;"></textarea>

            <input type="submit" ng-click="submit()"
                   class="blue-button pull-right ga-text-modifyobj-modify" value="Modify"/>

            <button ng-click="cancel()" class="blue-button pull-right ga-text-modifyobj-cancel" style="border:0;">
                Cancel
            </button>

            <p>
                You can optionally use <strong>password:</strong>-attribute to prevent an interactive password popup or to provide multiple passwords.
            </p>
        </div>
    </form>
</div>
