<div>
    <h1>Multi update</h1>

    <alerts></alerts>

    <div class="form-group" ng-if="textMode">

        <button ng-click="setWebMode()" class="blue-button pull-right ga-multiobj-webmode">Web mode</button>

        <form id="textMultiRpslForm">

            <label for="multiRpsl">RPSL for multiple objects</label>

                <textarea id="multiRpsl"
                          class="form-control"
                          auto-height
                          cols="60"
                          placeholder="Paste your RPSL in here"
                          ng-model="rpsl"
                          style="font-family:monospace;"></textarea>

            <input type="submit" ng-click="verifyAndSubmit()"
                   class="blue-button pull-right ga-multiobj-verifySubmit" value="Update all"/>
        </form>

    </div>

    <div class="form-group" ng-if="!textMode">

        <button ng-click="setTextMode()" class="blue-button pull-right ga-multiobj-textmode">Text mode</button>

        <form id="textTableRpslForm">
            <label for="multiObjectTable">Objects to update</label>
            <table id="multiObjectTable" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Action</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="object in objects">
                    <td>
                        <button ng-if="object.expanded" ng-click="object.expanded = false">-</button>
                        <button ng-if="!object.expanded" ng-click="object.expanded = true">+</button>
                    </td>
                    <td>{{object.action}}</td>
                    <td>{{object.type}}</td>
                    <td><a ng-href="{{object.displayUrl}}" target="_blank">{{object.name}}</a></td>
                    <td ng-style="object.statusStyle">{{object.status}}</td>
                </tr>
                <tr ng-if="object.expanded && object.errors.length>0">
                    <td></td>
                    <td>errors</td>
                    <td colspan="4">
                        <ul>
                            <li ng-repeat="error in object.errors">{{error.plainText}}</li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="object.expanded && object.warnings.length>0">
                    <td></td>
                    <td>warnings</td>
                    <td colspan="4">
                        <ul>
                            <li ng-repeat="warning in object.warnings">{{warning.plainText}}</li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="object.expanded && object.infos.length>0">
                    <td></td>
                    <td>infos</td>
                    <td colspan="4">
                        <ul>
                            <li ng-repeat="info in object.infos">{{info.plainText}}</li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="object.expanded" ng-repeat-end>
                    <td></td>
                    <td colspan="5">
                        <textarea readonly ng-model="object.rpsl" auto-height cols="60"
                                  style="font-family:monospace;"></textarea></td>

                    <td ng-if="object.textupdatesUrl"><a ng-href="{{object.textupdatesUrl}}" target="_blank">{{object.action}}
                        single object</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="submit" ng-click="submit()"
                   class="blue-button pull-right ga-multiobj-updateall" value="Update all"/>

        </form>

    </div>


</div>
