<h2 mat-dialog-title>Feedback and Support</h2>
<div mat-dialog-actions>
    <mat-action-list>
        <mat-list-item (click)="sendEmail()">
            <i mat-list-icon class="fal fa-paper-plane"></i>
            <div mat-line>Contact our support team</div>
            <div mat-line class="secondary">Need help? Open a ticket.</div>
        </mat-list-item>
        <mat-list-item (click)="openUsersnap()">
            <i mat-list-icon class="fal fa-bug"></i>
            <div mat-line>Report a bug</div>
            <div mat-line class="secondary">Something broken? Let us know!</div>
        </mat-list-item>
        <mat-list-item *ngIf="showChatMenuItem" (click)="openLiveChat()">
            <i mat-list-icon class="fal fa-comment-alt"></i>
            <div mat-line>Chat</div>
            <div mat-line class="secondary">Launch Chat.</div>
        </mat-list-item>
    </mat-action-list>
</div>
