<h2 mat-dialog-title>Feedback and Support</h2>
<div mat-dialog-actions>
    <mat-action-list>
        <mat-list-item (click)="sendEmail()">
            <em mat-list-icon class="fal fa-paper-plane"></em>
            <div mat-line>Contact our support team</div>
            <div mat-line class="secondary">Need help? Open a ticket.</div>
        </mat-list-item>
        <mat-list-item (click)="openUsersnap()">
            <em mat-list-icon class="fal fa-bug"></em>
            <div mat-line>Report a bug</div>
            <div mat-line class="secondary">Something broken? Let us know!</div>
        </mat-list-item>
        <mat-list-item *ngIf="showChatMenuItem" (click)="openLiveChat()">
            <em mat-list-icon class="fal fa-comment-alt"></em>
            <div mat-line>Chat</div>
            <div mat-line class="secondary">Launch Chat.</div>
        </mat-list-item>
    </mat-action-list>
</div>
