<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        ul.bullets li {
            list-style: disc inside;
        }
        .menu-notification img {
            width: 100%;
            object-fit: scale-down;
            box-shadow:0 0 7px 0 #555555;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="menu-notification">
    <p>RIPE NCC services get a face lift, as described in:</p>
    <p><a href="https://labs.ripe.net/Members/michela_galante/rolling-out-the-ripe-atlas-redesign">https://labs.ripe.net/Members/michela_galante/rolling-out-the-ripe-atlas-redesign</a></p>
    <p><a href="https://labs.ripe.net/Members/stephen_suess_1/ripestat-next-generation-ui">https://labs.ripe.net/Members/stephen_suess_1/ripestat-next-generation-ui</a></p>
    <br />
    <p>As part of this effort, the following items have been removed from the sidebar menu, but you can navigate to them
        from the App Switcher in the top right</p>
    <img src="assets/images/app-switcher-example.png" alt="app switcher example">
    <p>The whole “My Account” section is available under the <strong>LIR Portal App</strong></p>
    <p>Under “Resources”, the following sections are available in the <strong>LIR Portal app</strong></p>
    <ul class="bullets">
        <li>“Request Resources”</li>
        <li>“Request Transfer”</li>
        <li>“IPv4 Listing service”</li>
        <li>RPKI Dashboard is available in the <strong>RPKI app</strong></li>
    </ul>
</div>
</body>
</html>
