<section class="margin-bottom">
    <button mat-flat-button color="primary" id="btnSwitchToTextModify" class="float-end" (click)="switchToWebMode()">
        <span class="fa-light fa-bars"></span> EDIT IN SINGLE LINES
    </button>

    <div>
        <h1>Modify &quot;{{ object.type }}&quot; object</h1>

        <whois-object-text-editor
            [type]="object.type"
            [source]="object.source"
            [objectName]="object.name"
            [rpsl]="object.rpsl"
            (submitEvent)="submit($event)"
            (cancelEvent)="cancel()"
            (deleteEvent)="deleteObject()"
        ></whois-object-text-editor>
    </div>
</section>
