@if (canHaveAssociatedObjects) {
<section class="associated-objects">
    <h2>{{ title }}</h2>
    <div class="prefix-filter">
        <div class="input-group">
            <input
                type="text"
                id="filter"
                name="filter"
                class="form-control"
                placeholder="Search for {{ associatedType }}"
                [(ngModel)]="filter"
                (input)="applyFilter()"
            />
            <span class="input-group-btn" [hidden]="!filter">
                <button type="button" class="btn" id="clearButton" (click)="filter = ''; applyFilter()">
                    <span class="fal fa-times close"></span>
                </button>
            </span>
        </div>
        @if (filter) {
        <span class="float-end"> Showing {{ resultObject.filteredSize }} out of {{ resultObject.totalNumberOfResources }} </span>
        } @else {
        <span class="float-end"> Total associated {{ associatedType }}s: {{ resultObject.totalNumberOfResources }} </span>
        }
    </div>
    @if (isShowingAssociatedRouteObjects) {
    <div>
        @if (resultObject.associatedObjects.length > 0) {
        <table class="table table-bordered table-body-borderless resources table-striped" aria-label="associated route objects">
            <thead>
                <tr>
                    <th class="w30">Origin</th>
                    <th class="w20">Prefix</th>
                    <th class="w50"></th>
                </tr>
            </thead>
            <tbody [ngStyle]="{ height: tableHeight + 'px' }" table-scroller (scrolled)="almostOnScreen()">
                @for (associatedObject of resultObject.associatedObjects | slice : 0 : nrAssociatedObjectToShow; let i = $index; track associatedObject) { @if
                (isAssociatedRouteObject(associatedObject)) {
                <tr class="break-all-word">
                    <td class="w30">
                        <a
                            class="link-color"
                            [routerLink]="['/lookup']"
                            [queryParams]="{ source, type: 'aut-num', key: associatedObject.origin }"
                            target="_blank"
                        >
                            <name-formatter [name]="associatedObject.origin"></name-formatter>
                        </a>
                    </td>
                    <td class="w20">{{ associatedObject.prefix }}</td>
                    <td class="w50 right">
                        <a
                            class="link-color"
                            [routerLink]="['/webupdates/modify', source, associatedObject.type, associatedObject.prefix + associatedObject.origin]"
                            target="_blank"
                        >
                            Manage</a
                        >
                    </td>
                </tr>
                } }
            </tbody>
        </table>
        } @if (resultObject.associatedObjects.length === 0) {
        <div class="alert alert-warning">No associated route objects exist.</div>
        }
    </div>
    } @else { @if (resultObject.associatedObjects.length > 0) {
    <table class="table table-bordered table-body-borderless resources table-striped" aria-label="domain associated objects">
        <thead>
            <tr>
                <th scope="col" class="w40">Domain</th>
                <th scope="col" class="w60"></th>
            </tr>
        </thead>
        <tbody [ngStyle]="{ height: tableHeight + 'px' }" table-scroller (scrolled)="almostOnScreen()">
            @for (associatedObject of resultObject.associatedObjects | slice : 0 : nrAssociatedObjectToShow; let i = $index; track associatedObject) { @if
            (isAssociatedDomainObject(associatedObject)) {
            <tr>
                <td class="w40">
                    <a
                        class="link-color"
                        [routerLink]="['/lookup']"
                        [queryParams]="{ source: source, key: associatedObject.domain, type: 'domain' }"
                        target="_blank"
                    >
                        {{ associatedObject.domain }}</a
                    >
                </td>
                <td class="w60 right">
                    <a class="link-color" [routerLink]="['/webupdates/modify', source, 'domain', associatedObject.domain]" target="_blank">Manage</a>
                </td>
            </tr>
            } }
        </tbody>
    </table>
    } @if (resultObject.associatedObjects.length === 0) {
    <div class="alert alert-warning">No associated domain objects exist.</div>
    } }
</section>
}
