<div ng-if="$ctrl.ngModel">
    <div class="lookupheader" ng-if="$ctrl.header">
        Responsible organisation:
        <span ng-if="$ctrl.resourceHolderFound">
            <a href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source={{ $ctrl.ngModel['source'].id }}&key={{ $ctrl.ngModel['resource-holder'].key }}&type=organisation"
               target="_blank">{{ $ctrl.ngModel['resource-holder'].name }}</a>
        </span><span ng-if="!$ctrl.resourceHolderFound">
        {{ "msg.noResourceHolderFound.text" | label }}</span>
        <br />
        <span ng-if="$ctrl.abuseContactFound">
            Abuse contact info:
            <a href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source={{ $ctrl.ngModel['source'].id }}&key={{ $ctrl.ngModel['abuse-contact'].key }}&type=role" target="_blank">{{ $ctrl.ngModel['abuse-contact'].email}}</a>
        </span><span ng-if="!$ctrl.abuseContactFound">
            <i>{{ "msg.noAbuseContactFound.text" | label }}</i>
        </span>
        <br />
        <span ng-if="$ctrl.abuseContactSuspected">Abuse-mailbox validation failed. Please refer to <a href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source={{ $ctrl.ngModel['source'].id }}&key={{ $ctrl.ngModel['abuse-contact']['org-id'] }}&type=organisation">{{ $ctrl.ngModel['abuse-contact']['org-id'] }}</a> for further information.</span>
    </div>
    <whois-object-viewer
        ng-cloak
        ng-model="$ctrl.ngModel"
        update-clicked="$ctrl.updateClicked()">
    </whois-object-viewer>
</div>
