<div ng-if="$ctrl.ngModel">
    <div class="lookupheader" ng-if="$ctrl.ngModel['resource-holder'].key || $ctrl.ngModel['abuse-contact'].key">
        <span ng-if="$ctrl.ngModel['resource-holder']">
            Responsible organisation:
            <a href="/search/lookup.html?source=ripe&key={{ $ctrl.ngModel['resource-holder'].key }}&type=organisation" target="_blank">{{ $ctrl.ngModel['resource-holder'].name }}</a><br>
        </span>
        <span ng-if="$ctrl.ngModel['abuse-contact']">
            Abuse contact info:
            <a href="/search/lookup.html?source=ripe&key={{ $ctrl.ngModel['abuse-contact'].key }}&type=role" target="_blank">{{ $ctrl.ngModel['abuse-contact'].email}}</a><br>
        </span>
    </div>
    <whois-object-viewer
            ng-cloak
            class="showripemanaged"
            ng-model="$ctrl.ngModel"
            update-clicked="$ctrl.updateClicked()">
    </whois-object-viewer>
</div>
