<section id="resultsSection">
    <div class="pull-right resultlinks">
        <a href="{{ $ctrl.properties.REST_SEARCH_URL }}{{ $ctrl.$stateParams.source }}/{{ $ctrl.$stateParams.type }}/{{ $ctrl.$stateParams.key }}.xml"
           target="_blank">
            <i class="fa fa-file-code-o"></i>
            XML
        </a>&nbsp;
        <a href="{{ $ctrl.properties.REST_SEARCH_URL }}{{ $ctrl.$stateParams.source }}/{{ $ctrl.$stateParams.type }}/{{ $ctrl.$stateParams.key }}.json"
           target="_blank">
            <i class="fa fa-file-text-o"></i>
            JSON
        </a>
    </div>
    <h2 class="documentFirstHeading">Lookup results</h2>
    <div class="clearfix">
        <div class="alert alert-info small" ng-bind-html="'msg.searchResultsTandCLink.text' | label">
        </div>
    </div>
</section>


<div ng-if="$ctrl.whoisResponse" class="resultpane">
    <lookup
            ng-model="$ctrl.whoisResponse"
            update-clicked="$ctrl.goToUpdate()">
    </lookup>
</div>
