<section id="anchorTop">
    <div class="visualClear"></div>
    <div class="documentActions"></div>
    <h1 class="documentFirstHeading">RIPE Database Query</h1>
    <div class="documentByLine"><span class="byline"></span></div>
    <div class="documentDescription"></div>
</section>
<section>
    <div class="dbmessage" ng-if="$ctrl.errorMessages.length">
        <div ng-repeat="msg in $ctrl.errorMessages">
            <div class="alert"
                 ng-class="{ 'alert-warning': msg.severity.toLowerCase() === 'warning', 'alert-danger': msg.severity.toLowerCase() === 'error' }">
                <div ng-bind-html="$ctrl.formatError(msg)"></div>
            </div>
        </div>
    </div>
    <form name="searchform" class="grey padding margin-bottom ga-dbsearch-form" ng-submit="$ctrl.submitSearchForm()">
        <div>
            <div>
                <div class="form-group">
                    <input id="queryStringInput"
                           type="text"
                           ng-model="$ctrl.qp.queryText"
                           class="form-control"
                           placeholder="Search term">
                </div>
            </div>
            <div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.qp.showFullObjectDetails">
                        Show full object details
                        <help-marker label-key="query.optionFullObject.title"></help-marker>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.qp.doNotRetrieveRelatedObjects">
                        Do not retrieve related objects
                        <help-marker label-key="query.optionRelatedObjects.title"></help-marker>
                    </label>
                </div>
            </div>
        </div>
        <p>
            You can search up to five terms at once in the search box above, separating them with a semi-colon.
        </p>
        <div class="margin-bottom">
            <uib-tabset active="activeForm">
                <uib-tab heading="Sources">
                    <ng-form name="sourceForm">
                        <div class="padding">
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input id="search:sources:1" type="radio" value="GRS"
                                               class="ga-grsdb-checkbox" ng-model="$ctrl.qp.source">
                                        <label for="search:sources:1">Search resource objects in all available
                                            databases</label>
                                    </label>
                                    <help-marker label-key="query.optionAllDatabases.title"
                                                 link="https://www.ripe.net/manage-ips-and-asns/db/support/documentation/ripe-database-documentation/types-of-queries/16-9-ripe-ncc-global-resource-service"></help-marker>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input id="search:sources:0" type="radio" value="RIPE"
                                               class="ga-ripedb-checkbox" ng-model="$ctrl.qp.source">
                                        <label for="search:sources:0">Search RIPE Database only</label></label>
                                </div>
                                <div class="help-block small">
                                    <span ng-bind-html="$ctrl.properties.QUERY_PAGE_LINK_TO_OTHER_DB"></span>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </uib-tab>
                <uib-tab heading="Types">
                    <div class="padding">
                        <ng-form name="typesForm">
                            <help-marker label-key="query.optionPageTypes.title"
                                         link="https://www.ripe.net/data-tools/support/documentation/ripe-database-query-reference-manual#LinkTarget_3010"></help-marker>
                            <div class="row radio">
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><input id="search:types:0" type="checkbox"
                                                   ng-model="$ctrl.qp.types.AS_BLOCK"><label for="search:types:0">&nbsp;as-block</label>
                                        </li>
                                        <li><input id="search:types:1" type="checkbox"
                                                   ng-model="$ctrl.qp.types.AS_SET"><label for="search:types:1">&nbsp;as-set</label>
                                        </li>
                                        <li><input id="search:types:2" type="checkbox"
                                                   ng-model="$ctrl.qp.types.AUT_NUM"><label for="search:types:2">&nbsp;aut-num</label>
                                        </li>
                                        <li><input id="search:types:3" type="checkbox"
                                                   ng-model="$ctrl.qp.types.DOMAIN"><label for="search:types:3">&nbsp;domain</label>
                                        </li>
                                        <li><input id="search:types:4" type="checkbox"
                                                   ng-model="$ctrl.qp.types.FILTER_SET"><label for="search:types:4">&nbsp;filter-set</label>
                                        </li>
                                        <li><input id="search:types:5" type="checkbox"
                                                   ng-model="$ctrl.qp.types.INET6NUM"><label for="search:types:5">&nbsp;inet6num</label>
                                        </li>
                                        <li><input id="search:types:6" type="checkbox"
                                                   ng-model="$ctrl.qp.types.INETNUM"><label for="search:types:6">&nbsp;inetnum</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><input id="search:types:7" type="checkbox"
                                                   ng-model="$ctrl.qp.types.INET_RTR"><label for="search:types:7">&nbsp;inet-rtr</label>
                                        </li>
                                        <li><input id="search:types:8" type="checkbox"
                                                   ng-model="$ctrl.qp.types.IRT"><label
                                            for="search:types:8">&nbsp;irt</label></li>
                                        <li><input id="search:types:9" type="checkbox"
                                                   ng-model="$ctrl.qp.types.KEY_CERT"><label for="search:types:9">&nbsp;key-cert</label>
                                        </li>
                                        <li><input id="search:types:10" type="checkbox"
                                                   ng-model="$ctrl.qp.types.MNTNER"><label for="search:types:10">&nbsp;mntner</label>
                                        </li>
                                        <li><input id="search:types:11" type="checkbox"
                                                   ng-model="$ctrl.qp.types.ORGANISATION"><label for="search:types:11">&nbsp;organisation</label>
                                        </li>
                                        <li><input id="search:types:12" type="checkbox"
                                                   ng-model="$ctrl.qp.types.PEERING_SET"><label for="search:types:12">&nbsp;peering-set</label>
                                        </li>
                                        <li><input id="search:types:13" type="checkbox"
                                                   ng-model="$ctrl.qp.types.PERSON"><label for="search:types:13">&nbsp;person</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><input id="search:types:14" type="checkbox"
                                                   ng-model="$ctrl.qp.types.POEM"><label
                                            for="search:types:14">&nbsp;poem</label></li>
                                        <li><input id="search:types:15" type="checkbox"
                                                   ng-model="$ctrl.qp.types.POETIC_FORM"><label for="search:types:15">&nbsp;poetic-form</label>
                                        </li>
                                        <li><input id="search:types:16" type="checkbox"
                                                   ng-model="$ctrl.qp.types.ROLE"><label
                                            for="search:types:16">&nbsp;role</label></li>
                                        <li><input id="search:types:17" type="checkbox"
                                                   ng-model="$ctrl.qp.types.ROUTE"><label for="search:types:17">&nbsp;route</label>
                                        </li>
                                        <li><input id="search:types:18" type="checkbox"
                                                   ng-model="$ctrl.qp.types.ROUTE6"><label for="search:types:18">&nbsp;route6</label>
                                        </li>
                                        <li><input id="search:types:19" type="checkbox"
                                                   ng-model="$ctrl.qp.types.ROUTE_SET"><label for="search:types:19">&nbsp;route-set</label>
                                        </li>
                                        <li><input id="search:types:20" type="checkbox"
                                                   ng-model="$ctrl.qp.types.RTR_SET"><label for="search:types:20">&nbsp;rtr-set</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </uib-tab>
                <uib-tab heading="Hierarchy flags">
                    <div class="padding">
                        <ng-form name="hierarchyForm">
                            <div>
                                <help-marker label-key="query.optionPageHierarchy.title"
                                             link="https://www.ripe.net/data-tools/support/documentation/queries-quick-ref"></help-marker>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="" ng-model="$ctrl.qp.hierarchy">
                                    No hierarchy flag (default)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="l" ng-model="$ctrl.qp.hierarchy">
                                    <code>l</code> - Returns first level less specific inetnum, inet6num or route(6)
                                    objects, excluding exact matches.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="L" ng-model="$ctrl.qp.hierarchy">
                                    <code>L</code> - Returns all level less specific inetnum, inet6num or route(6)
                                    objects, including exact matches.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="m" ng-model="$ctrl.qp.hierarchy">
                                    <code>m</code> - Returns first level more specific inetnum, inet6num or route(6)
                                    objects, excluding exact matches.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="M" ng-model="$ctrl.qp.hierarchy">
                                    <code>M</code> - Returns all level more specific inetnum, inet6num or route(6)
                                    objects, excluding exact matches.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="hierarchy" value="x" ng-model="$ctrl.qp.hierarchy">
                                    <code>x</code> - Requests that only an exact match on a prefix be performed. If
                                    no exact match is found no objects are returned.
                                </label>
                            </div>
                            <br>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="hierarchy" value="d" ng-model="$ctrl.qp.reverseDomain"
                                           ng-disabled="!$ctrl.qp.hierarchy">
                                    <p ng-class="{'text-muted': !$ctrl.qp.hierarchy}">
                                        <code>d</code> - When used with a hierarchical flags (like --one-less), both
                                        address and route object types and domain objecttypes are returned.
                                    </p>
                                </label>
                            </div>
                        </ng-form>
                    </div>
                </uib-tab>
                <uib-tab heading="Inverse lookup">
                    <div class="padding">
                        <ng-form name="inverseForm">
                            <help-marker label-key="query.optionPageInverse.title"
                                         link="https://www.ripe.net/data-tools/support/documentation/queries-quick-ref"></help-marker>
                            <div class="row radio">
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="search:inverseLookup:0" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.ABUSE_MAILBOX">
                                            <label for="search:inverseLookup:0">&nbsp;abuse-mailbox</label></li>
                                        <li>
                                            <input id="searchinverseLookup1" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.ADMIN_C">
                                            <label for="searchinverseLookup1">&nbsp;admin-c</label>
                                        </li>
                                        <li>
                                            <input id="searchinverseLookup2" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.AUTH">
                                            <label for="searchinverseLookup2">&nbsp;auth</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:3" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.AUTHOR">
                                            <label for="search:inverseLookup:3">&nbsp;author</label></li>
                                        <li>
                                            <input id="search:inverseLookup:4" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.FINGERPR">
                                            <label for="search:inverseLookup:4">&nbsp;fingerpr</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:5" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.FORM">
                                            <label for="search:inverseLookup:5">&nbsp;form</label></li>
                                        <li>
                                            <input id="search:inverseLookup:6" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.IRT_NFY">
                                            <label for="search:inverseLookup:6">&nbsp;irt-nfy</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:7" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.LOCAL_AS">
                                            <label for="search:inverseLookup:7">&nbsp;local-as</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:8" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MBRS_BY_REF">
                                            <label for="search:inverseLookup:8">&nbsp;mbrs-by-ref</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="search:inverseLookup:9" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MEMBER_OF">
                                            <label for="search:inverseLookup:9">&nbsp;member-of</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:10" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_BY">
                                            <label for="search:inverseLookup:10">&nbsp;mnt-by</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:11" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_DOMAINS">
                                            <label for="search:inverseLookup:11">&nbsp;mnt-domains</label></li>
                                        <li>
                                            <input id="search:inverseLookup:12" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_IRT">
                                            <label for="search:inverseLookup:12">&nbsp;mnt-irt</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:13" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_LOWER">
                                            <label for="search:inverseLookup:13">&nbsp;mnt-lower</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:14" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_NFY">
                                            <label for="search:inverseLookup:14">&nbsp;mnt-nfy</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:15" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_REF">
                                            <label for="search:inverseLookup:15">&nbsp;mnt-ref</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:16" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.MNT_ROUTES">
                                            <label for="search:inverseLookup:16">&nbsp;mnt-routes</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:17" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.NOTIFY">
                                            <label for="search:inverseLookup:17">&nbsp;notify</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="search:inverseLookup:18" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.NSERVER">
                                            <label for="search:inverseLookup:18">&nbsp;nserver</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:19" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.ORG">
                                            <label for="search:inverseLookup:19">&nbsp;org</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:20" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.ORIGIN">
                                            <label for="search:inverseLookup:20">&nbsp;origin</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:21" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.PERSON">
                                            <label for="search:inverseLookup:21">&nbsp;person</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:22" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.PING_HDL">
                                            <label for="search:inverseLookup:22">&nbsp;ping-hdl</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:23" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.REF_NFY">
                                            <label for="search:inverseLookup:23">&nbsp;ref-nfy</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:24" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.TECH_C">
                                            <label for="search:inverseLookup:24">&nbsp;tech-c</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:25" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.UPD_TO">
                                            <label for="search:inverseLookup:25">&nbsp;upd-to</label>
                                        </li>
                                        <li>
                                            <input id="search:inverseLookup:26" type="checkbox"
                                                   ng-model="$ctrl.qp.inverse.ZONE_C">
                                            <label for="search:inverseLookup:26">&nbsp;zone-c</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <p ng-bind-html="'query.whoisTelnetOutputLabel.text' | label"></p>
        <pre>{{ $ctrl.whoisCliQuery() }}</pre>
        <button class="blue-button pull-right">Search</button>
        <div class="help-block small">
            <span ng-bind-html="'msg.ripeTandCSubmitLink.text' | label"></span>
        </div>
    </form>
</section>
<section id="resultsSection" ng-show="$ctrl.results.length > 0">
    <div class="pull-right resultlinks" ng-if="$ctrl.link.perma">
        <a href="{{ $ctrl.link.perma }}">
            <i class="fa fa-link" title="Permanent link to the results for this query."></i>
            PERMA
        </a>&nbsp;
        <a href="{{ $ctrl.link.xml }}"
           title="XML format of the results for this query." target="_blank">
            <i class="fa fa-file-code-o"></i>
            XML
        </a>&nbsp;
        <a href="{{ $ctrl.link.json }}"
           title="JSON format of the results for this query." target="_blank">
            <i class="fa fa-file-text-o"></i>
            JSON
        </a>
    </div>
    <h2>Search results</h2>
    <div class="clearfix">
        <div class="alert alert-info col-md-12">
            <div class="small" ng-bind-html="'msg.searchResultsTandCLink.text' | label"></div>
        </div>
    </div>
    <div class="clearfix" ng-repeat="whoisObject in $ctrl.results" ng-if="$index < $ctrl.numResultsToShow">
        <div class="resultpane">
            <lookup ng-model="whoisObject" update-clicked="$ctrl.updateClicked(whoisObject)"></lookup>
        </div>
    </div>
    <p scroller="$ctrl.lastResultOnScreen()" ng-if="$ctrl.showScroller"></p>
</section>
