.success-fields {
	@extend %width-100;
	border: 1px #ccc dashed;
	margin-bottom: 20px;
	td {
    	padding: 2px 18px;
    	p {
        	font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
        	margin: 0 !important;
        	&.ng-binding {
            	display: inline;
        	}
    	}
    	label {
        	font: {
            	weight: normal;
            	family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
        	}
    	}
	}
}

@media (max-width: 768px) { 
	.success-fields {
		td {
    		float: left;
		    width: 100%;
		    label {
    		    font: {
        		    weight: bold;
    		    }
		    }
		}
	}
}

pre.textdiff {
    @extend .success-fields;
    padding: 0;
    border-radius: 0;
    font: {
        size: 14px;
    }
    > div {
        padding: 5px 10px;
        &.ins {
            background-color: #E2F3E3;
            span {
                color: #437446;
            }
        }
        &.del {
            background-color: #F3E2E2;
            span {
                color: #AF3F3F;
            }
        }
        &:first-child {
            padding-top: 10px;
        }
        &:last-child {
            padding-bottom: 10px;
        }
    }
}

section.centered {
    @extend %float-l;
    @extend %width-100;
    text-align: center;
}