%float-l {
	float: left;
}
%float-r {
	float: right;
}
%clear-b {
	clear: both;
}
%width-100 {
	width: 100%;
}
%grey {
	background-color: #f9f9f9;
}
%brd {
	border: 1px solid #ccc;
}
%no-pad-top {
    padding-top: 0 !important;
}
%mar-top-10 {
    margin-top: 10px;
}
