//NOT DUPLICATED COLORS - this are colors for flags
%grey-flag {
    background-color: $grey;
    border-color: $dark-grey;
    color: $dark-grey-cr;
}

%green-flag {
    background-color: $lighter-green;
    border-color: $light-green;
    color: $dark-green;
}

%orange-flag {
    background-color: $orange-lighter;
    border-color: $orange-light;
    color: $orange;
}

%red-flag {
    background-color: $lighter-red;
    border-color: $light-red;
    color: $dark-red;
}

// Flags
flag {
     span.flag {
        @extend %float-l;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $grey;
        border-color: $dark-grey;
        color: $dark-grey-cr;
        display: inline-block;
        padding: 0 5px;
        text-transform: uppercase;
        font-size: 13px;
    }
    &.red {
        span.flag {
            @extend %red-flag;
        }
    }
    &.orange {
        span.flag {
            @extend %orange-flag;
        }
    }
    &.green {
        span.flag {
            @extend %green-flag;
        }
    }
}
