%active-state {
    border: 0px;
    border-bottom: 2px solid #1AABAA;
    color: $black;
    background: $white;
}

.nav-tabs {
    border-bottom: 0;
    ul {
        @extend %width-100;
        border: 0;
        li {
            a {
                border: 0;
                padding: 8px 40px;
                color: #9d9d9d;
                cursor: pointer;
                &:hover {
                    border: 0;
                    background: $white;
                }
            }
            &.active {
                > a, > a:focus, > a:hover {
                    @extend %active-state;
                }
            }
        }
    }
}

div.resource-list {
    @extend %width-100;
    @extend %float-l;
}

resource-item {
    @extend %width-100;
    @extend %float-l;
    padding: 16px 10px 12px;
    cursor: pointer;
    overflow: auto;
    p.title {
        font: {
            size: 16px;
            weight: bold;
        }
        margin-bottom: 5px;
        color: $black;
    }
    p.org-name {
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        color: $black;
    }
    div.flags-container {
        @extend %width-100;
        @extend %float-l;
    }
    &:hover {
        text-decoration: none;
        background-color: $grey;
    }
}

table.resources > thead > tr {
    background-color: #eee;
}

table.table-body-borderless > tbody > tr > td,
table.table-body-borderless > thead > tr > th {
    border: 0;
}

ul.attrblock {
    list-style-type: none;
}
