%active-state {
    border: 0;
    border-bottom: 2px solid #1AABAA;
    color: $black;
    background: $white;
}

.nav-tabs {
    border-bottom: 0;
    ul {
        @extend %width-100;
        border: 0;
        li {
            a {
                border: 0;
                padding: 8px 40px;
                color: #9d9d9d;
                cursor: pointer;
                &:hover {
                    border: 0;
                    background: $white;
                }
            }
            &.active {
                > a, > a:focus, > a:hover {
                    @extend %active-state;
                }
            }
        }
    }
}

div.resource-list {
    @extend %width-100;
    @extend %float-l;
}

resource-item {
    @extend %width-100;
    @extend %float-l;
    padding: 16px 10px 0px 0px;
    cursor: pointer;
    overflow: auto;
    p.title {
        font: {
            size: 16px;
            weight: bold;
        }
        margin-bottom: 5px;
        color: $black;
    }
    p.org-name {
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        color: $black;
    }
    div.flags-container {
        @extend %width-100;
        @extend %float-l;
        display: inline-block;
    }

    div.progressbar-container {
        @extend div.flags-container;
        margin-top: 5px;
    }
    div.progress {
        background: $grey none;
        box-shadow: none;
        height: 10px;
        border-radius: 0px;
    }
    div.progress-bar {
        background-image: none;
        background-color: #44465D !important;
        box-shadow: none;
        height: 10px;
        border-radius: 0px;
    }
    &:hover {
        text-decoration: none;
        background-color: $grey;
        div.progress {
            background-color: $brd-color;
        }
    }
}


table.resources > thead > tr {
    background-color: $brd-color;
}

table.table-body-borderless > tbody > tr > td,
table.table-body-borderless > thead > tr > th {
    border: 0;
    a {
        cursor: pointer;
    }
}

ul.attrblock {
    list-style-type: none;
}

.back-to-my-resources.blue-button {
    background-color: #eee;
    color: black;
    &:hover {
        background-color: #ddd;
    }
}

.prefix-filter {
    overflow: auto;
    margin-bottom: 20px;
    div.input-group {
        width: 24em;
        float: left;
    }
    p {
        line-height: 2;
        float: right;
    }
}

whois-object > section {
    margin-bottom: 41px;
}

usage-status {
    @extend %width-100;
    @extend %float-l;
    display: inline-block;
    vertical-align:top;
    margin: 10px 0 20px 0;
    .usage-status-box {
        @extend %float-l;
        border: 1px solid lightgrey;
        display: inline-block;
        width: 207px;
        height: 120px;
        padding: 10px;
        margin-right: 20px;
        p {
            display: block;
            vertical-align: top;
        }
        p.box-title {
            font-size: 20px;
            padding-top: 8px;
        }
        p.box-value {
            font-size: 20px;
            font-weight: bold;
        }
        p.box-statistic {
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
}