%active-state {
    border: 0;
    border-bottom: 2px solid #1AABAA;
    color: $black;
    background: $white;
}

.nav-tabs {
    border-bottom: 0;
    ul {
        @extend %width-100;
        border: 0;
        li {
            a {
                border: 0;
                padding: 8px 40px;
                color: #9d9d9d;
                cursor: pointer;
                &:hover {
                    border: 0;
                    background: $white;
                }
            }
            &.active {
                > a, > a:focus, > a:hover {
                    @extend %active-state;
                }
            }
        }
    }
}

div.resource-list {
    @extend %width-100;
    @extend %float-l;
    resource-item {
        @extend %width-100;
        @extend %float-l;
        padding: 10px;
        border: 1px transparent solid;
        .title {
            font: {
                size: 16px;
                weight: bold;
            }
            cursor: pointer;
            &:hover {
                color: $link;
            }
            span {
                line-height: 1.1em;
            }
        }
        p.org-name {
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            color: $black;
        }
        div.flags-container {
            @extend %width-100;
            @extend %float-l;
            display: inline-block;
            margin-top: 5px;
        }

        div.progressbar-container {
            @extend div.flags-container;
            margin-top: 5px;
        }
        div.progress {
            background: $grey none;
            box-shadow: none;
            height: 10px;
            border-radius: 0;
            margin: 0;
        }
        div.progress-bar {
            background-image: none;
            background-color: #44465D !important;
            box-shadow: none;
            height: 10px;
            border-radius: 0;
        }
    }
}



table.resources > thead > tr {
    background-color: $brd-color;
}

table.table-body-borderless > tbody > tr > td,
table.table-body-borderless > thead > tr > th {
    border: 0;
    a {
        cursor: pointer;
    }
}

ul.attrblock {
    list-style-type: none;
}

.prefix-filter {
    overflow: hidden;
    margin-bottom: 20px;
    div.input-group {
        @extend %float-l;
        width: 300px;
        > span.input-group-btn {
            position: relative;
            right: 22px;
            top: 6px;
            button.btn {
                background-color: transparent;
                padding: 0;
                margin-left: auto;
                &:focus {
                    outline: none;
                }
                span.fa {
                    color: $dark-grey-cr;
                }
            }
        }
    }
    p {
        @extend %float-r;
        line-height: 2;
    }
}

whois-object > section {
    margin-bottom: 41px;
}

ip-usage {
    @extend %width-100;
    @extend %float-l;
    display: inline-block;
    vertical-align:top;
    margin: 10px 0 20px 0;
    .usage-status-box {
        @extend %float-l;
        border: 1px solid lightgrey;
        display: inline-block;
        width: 207px;
        height: 120px;
        padding: 10px;
        margin-right: 20px;
        p {
            display: block;
            vertical-align: top;
        }
        p.box-title {
            font-size: 20px;
            padding-top: 8px;
        }
        p.box-value {
            font-size: 20px;
            font-weight: bold;
        }
        p.box-statistic {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

#clearButton.btn {
    border-radius: 0;
}

.resource-page-message {
    margin: 80px 0 12px 0;
    @extend %float-l;
    @extend %width-100;
    text-align: center;
}
section.resource-intro {
    @extend %float-l;
    width: 70%;
    > h1 {
        margin-bottom: 5px;
        word-wrap: break-word;
    }
}
section.back-to-my-resources {
    @extend %float-r;
    display: flex;
    position: relative;
    hierarchy-selector {
        button {
            margin: 0;
        }
        ul.dropdown-list {
            @extend %float-l;
            @extend %width-100;
            @extend %brd;
            display: none;
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 5px 0 0 0;
            li {
                @extend %float-l;
                @extend %width-100;
                margin: 0;
                a {
                    @extend %float-l;
                    @extend %width-100;
                    @extend %brd-b;
                    @extend %brd-box;
                    background-color: #fff;
                    padding: 5px;
                    color: #333;
                    &:hover {
                        background-color: $grey;
                        text-decoration: none;
                    }
                }
                &:last-child {
                    a {
                        background-color: $light-blue;
                        color: #fff;
                        border-bottom: none;
                    }
                }
            }
        }
        &.open {
            button.dropdown-button {
                background-color: $dark-grey;
                span.caret {
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }
            }
            ul.dropdown-list {
                display: inline-block;
            }
        }
    }
}
section.db-object {
    @extend %float-l;
    @extend %width-100;
}
section.more-specifics {
    @extend %float-l;
    @extend %width-100;
}
