paginator ul li {
  cursor: pointer;
  a {
    min-width: 46px;
    text-align: center;
  }
}

#content ul.pagination>li {
    display: inline;
}

.full-text-result-summary tbody tr {
    cursor: pointer;
}
