whois-object {
  background: green;
  .blue-button {
    float: right;
  }
  pre {
    border: 0;
    background: white;
    padding: 0;
    margin: 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
