<div>
    <h1>Force delete {{ object.type }} {{ object.name }}</h1>

    <section>
        <div>
            Force delete allows you to delete inet(6)num, route(6) and domain objects by using the maintainer of a covering address space object, instead of the
            maintainer of the object itself. This means the "mnt-lower:" of an allocation or the "mnt-by:" of a provider independent (PI) or anycast assignment
            each have the authority to force delete any more specific or related object.
        </div>
    </section>

    <section class="inner-container">
        <br />
        <strong>Object to be deleted</strong>
        <br /><br />
        <table class="success-fields td-20 grey">
            <tr *ngFor="let attribute of object.attributes">
                <td>
                    <label>{{ attribute.name }}:</label>
                </td>
                <td>
                    <p>{{ attribute.value }}</p>
                </td>
            </tr>
        </table>

        <span>
            <button
                mat-flat-button
                color="warn"
                type="submit"
                class="float-end margin-left"
                [disabled]="!isFormValid() || restCallInProgress"
                (click)="forceDelete()"
            >
                FORCE DELETE THIS OBJECT
            </button>
            <button mat-stroked-button color="primary" class="float-end" (click)="cancel()">CANCEL</button>
        </span>
    </section>
</div>
