<alerts></alerts>

<button
        id="btnCreateInTextArea"
        class="blue-button pull-right ga-modifyobj-switch-mode"
        style="border:0;"
        ng-show="$ctrl.operation == $ctrl.CREATE_OPERATION"
        ng-click="$ctrl.switchToTextMode()">
    <span class="fa fa-pencil-square-o"></span> Create in text area
</button>
<button
        id="btnEditInTextArea"
        style="border:0;"
        class="blue-button pull-right ga-createobj-switch-mode"
        ng-show="$ctrl.operation == $ctrl.MODIFY_OPERATION"
        ng-click="$ctrl.switchToTextMode()">
    <span class="fa fa-pencil-square-o"></span> Edit in text area
</button>

<form id="createForm" accept-charset="ISO-8859-1">

    <h1>{{$ctrl.operation}} &quot;{{$ctrl.objectType}}&quot; object</h1>
    <section class="form-fields maintainer-fields">
        <strong>Please enter the maintainers you would like to use as mnt-by</strong>
        <article class="maintainer-icons">
            <span class="fa fa-search maintainer-search-icon"></span>
            <a ng-click="isMntHelpShown=!isMntHelpShown" class="btn btn-default ga-help-attr maintainer-help" id="mntnerHelp">
                <span class="fa fa-question"></span>
            </a>
        </article>
        <ui-select id="selectMaintainerDropdown"
                   multiple="true"
                   theme="bootstrap"
                   ng-model="$ctrl.maintainers.object"
                   close-on-select="true"
                   on-select="$ctrl.onMntnerAdded($item, $model)"
                   on-remove="$ctrl.onMntnerRemoved($item, $model)"
                   ng-disabled="$ctrl.isLirObject()"
                   ng-if="$ctrl.uiSelectTemplateReady">

            <ui-select-match ui-lock-choice="$ctrl.isModifyWithSingleMntnerRemaining() || !$ctrl.isRemovable($item.key) || $ctrl.isLirObject()"
                             placeholder="Type maintainer name">{{$item.key}}
                <span class="fa fa-star" ng-if="$ctrl.isMine($item)"></span>
                <span class="fa fa-lock" ng-if="!$ctrl.isRemovable($item.key) || $ctrl.isLirObject()"></span>
            </ui-select-match>
            <ui-select-choices repeat="mntner in $ctrl.maintainers.alternatives track by mntner.key"
                               refresh="$ctrl.mntnerAutocomplete($select.search)"
                               refresh-delay="100">
                <div class="option">
                    <span class="title">{{mntner.key}}</span>
                    <span class="star fa fa-star" ng-if="$ctrl.isMine(mntner)"></span>
                    <span class="auth sso" ng-if="$ctrl.hasSSo(mntner)"> SSO </span>
                    <span class="auth pgp" ng-if="$ctrl.hasPgp(mntner)"> PGP </span>
                    <span class="auth md5" ng-if="$ctrl.hasMd5(mntner)"> MD5 </span>
                </div>
            </ui-select-choices>
        </ui-select>
        <div uib-collapse="!isMntHelpShown" class="text field-description">
            <strong>Description</strong><br>
            <span ng-bind-html="$ctrl.getAttributeDescription('mnt-by')"></span><br>
            <strong>Syntax</strong><br>
            <span ng-bind-html="$ctrl.getAttributeSyntax('mnt-by')"></span>
        </div>
    </section>
    <section class="visible-field-form" ng-if="$ctrl.maintainers.object.length">
        <ul class="form-fields appeared-fields">
            <li class="attr-{{$index}}" ng-repeat="attribute in ($ctrl.attributes | filter: {name: '!mnt-by'} |  filter: {name: '!created'})" ng-if="$index < $ctrl.nrAttributesToRender">

                <label>{{attribute.name}}</label>
                <span id="anchor-{{attribute.name}}" ng-if="attribute.$$error" class="text-error">
                    <span ng-bind-html="attribute.$$error"></span>
                </span>
                <span ng-if="attribute.$$success" class="text-success">{{attribute.$$success}}</span>

                <input ng-if="!attribute.$$meta.$$isEnum"
                       type="text"
                       name="{{attribute.name}}"
                       ng-model="attribute.value"
                       ng-blur="$ctrl.fieldVisited(attribute)"
                       ng-required="{{attribute.$$meta.$$mandatory}}"
                       placeholder="{{$ctrl.getAttributeShortDescription(attribute.name)}}"
                       class="form-control"
                       attributetransformer
                       uib-typeahead="value.key as value.readableName for value in $ctrl.referenceAutocomplete(attribute, $viewValue)"
                       typeahead-min-length="2"
                       ng-disabled="attribute.$$meta.$$disable || attribute.$$meta.$$isLir"
                       autocomplete="off"
                >

                <span ng-if="attribute.$$meta.$$isEnum && attribute.name !== 'status'">
                 <ui-select name="{{attribute.name}}"
                            ng-model="attribute.value"
                            ng-disabled="attribute.$$meta.$$disable"
                            theme="bootstrap">
                     <ui-select-match placeholder="{{$ctrl.getAttributeShortDescription(attribute.name)}}">{{$select.selected.key}}</ui-select-match>
                     <ui-select-choices repeat="item.key as item in $ctrl.enumAutocomplete(attribute) | filter: $select.search">
                         <div ng-bind-html="$ctrl.displayEnumValue(item) | highlight: $select.search"></div>
                     </ui-select-choices>
                 </ui-select>
            </span>
                <span ng-if="attribute.$$meta.$$isEnum && attribute.name === 'status'">
                 <ui-select name="{{attribute.name}}"
                            ng-model="attribute.value"
                            ng-disabled="attribute.$$meta.$$disable"
                            theme="bootstrap">
                     <ui-select-match placeholder="{{$ctrl.getAttributeShortDescription(attribute.name)}}">{{$select.selected.key}}</ui-select-match>
                     <ui-select-choices repeat="item.key as item in $ctrl.optionList[attribute.name] | filter: $select.search">
                         <div ng-bind-html="$ctrl.displayEnumValue(item) | highlight: $select.search"></div>
                     </ui-select-choices>
                 </ui-select>
            </span>
                <div class="text field-description" uib-collapse="!isHelpShown">
                    <strong>Description</strong><br>
                    <span ng-bind-html="$ctrl.getAttributeDescription(attribute.name)"></span><br>
                    <strong>Syntax</strong><br>
                    <span ng-bind-html="$ctrl.getAttributeSyntax(attribute.name)"></span>
                </div>
                <ul class="input-group-btn">
                    <li ng-if="$ctrl.canAttributeBeDuplicated(attribute)">
                        <a id="duplicateAttribute" class="btn btn-default ga-add-dup" title="Add another attribute of this type"
                           ng-click="$ctrl.duplicateAttribute(attribute)">
                            <span class="fa fa-arrow-down degree-25"></span>
                        </a>
                    </li>
                    <li>
                        <a id="addAnyAttribute" class="btn btn-default ga-add-attr" title="Add any attribute (opens dialog)"
                           ng-click="$ctrl.displayAddAttributeDialog(attribute)">
                            <span class="fa fa-plus"></span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.canAttributeBeRemoved(attribute)">
                        <a id="removeAttribute" class="btn btn-default ga-del-attr" title="Remove current attribute"
                           ng-click="$ctrl.removeAttribute(attribute)">
                            <span class="fa fa-trash"></span>
                        </a>
                    </li>
                    <li>
                        <a id="changePassword" class="btn btn-default ga-pass-attr" title="Add/change Password (opens dialog)"
                           ng-click="$ctrl.displayMd5DialogDialog(attribute)" ng-show="attribute.name == 'auth'">
                            <span class="fa fa-lock fa-3"></span>
                        </a>
                    </li>
                    <li>
                        <a id="createRoleForAbuseCAttribute" class="btn btn-default ga-add-dup" title="Create new role to use as abuse-c"
                           ng-click="$ctrl.createRoleForAbuseCAttribute(attribute)" ng-show="$ctrl.shouldShowBellIcon(attribute, $ctrl.objectType)">
                            <span class="fa fa-bell-o degree-25"></span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.attribute.$$meta.$$isLir">
                        <a title="Request to update" class="btn btn-default ga-edit-attr" ng-if="attribute.name === 'org-name'" target="_blank" href="https://my.ripe.net/#/update-registry">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a title="Edit in LIR portal" class="btn btn-default ga-edit-attr" ng-if="attribute.name !== 'org-name'" target="_blank" href="https://lirportal.ripe.net/general/">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </li>
                    <li>
                        <a id="help" class="btn btn-default ga-help-attr" ng-click="isHelpShown = !isHelpShown">
                            <span class="fa fa-question"></span>
                        </a>
                    </li>
                    <li>
                        <a id="addCertificate" class="btn btn-default hidden ga-pgp-attr" title="Add PGP key (opens dialog)">
                            <span class="fa fa-certificate"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <section class="supporting-text">
            <p>By submitting this form you explicitly express your agreement with the <a
                    href="https://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a></p>
        </section>
        <div scroller="$ctrl.showMoreAttributes()" ng-show="!$ctrl.attributesAllRendered"></div>
    <span ng-if="$ctrl.operation == $ctrl.MODIFY_OPERATION">
        <input id="btnSubmitModify" type="submit" ng-click="$ctrl.submit()" ng-disabled="!$ctrl.isFormValid() || $ctrl.restCallInProgress" class="blue-button pull-right ga-modifyobj-modify" value="Submit"/>
        <button ng-click="$ctrl.cancel()" class="blue-button pull-right ga-modifyobj-cancel" style="border:0;">Cancel</button>
    </span>
    <span ng-if="$ctrl.operation == $ctrl.CREATE_OPERATION">
        <input id="btnSubmitCreate" type="submit" ng-click="$ctrl.submit()" ng-disabled="!$ctrl.isFormValid() || $ctrl.restCallInProgress" class="blue-button pull-right ga-createobj-create" value="Submit"/>
        <button ng-click="$ctrl.cancel()" class="blue-button pull-right ga-createobj-cancel" style="border:0;">Cancel</button>
    </span>
    <span ng-if="$ctrl.operation == $ctrl.MODIFY_OPERATION && !$ctrl.isLirObject() && !$ctrl.isResourceWithNccMntner()">
        <button id="deleteObject" ng-click="$ctrl.deleteObject()" ng-disabled="$ctrl.restCallInProgress" class="red-button pull-left ga-modifyobj-delete" style="border:0; margin: 0;">Delete this object</button>
    </span>
    </section>
</form>
