<div>

    <h1>Specify object you want to force delete</h1>

    <alerts></alerts>
    <section>
        <div>
            <label>Object type</label>
            <select ng-model="$ctrl.selected.objectType"
                    ng-required="true"
                    ng-options="objectType for objectType in $ctrl.objectTypes" class="form-control select-height"></select>
            <br/>
            <label>Object key to be deleted with force</label>
            <span ng-if="attribute.$$error" class="text-error">{{attribute.$$error}}</span>
            <input type="text"
                   name="key"
                   ng-model="selected.name"
                   ng-required="true"
                   class="form-control"
                   autocomplete="off">
        </div>
    </section>

    <section>
        <br/>
        <input type="submit" ng-click="$ctrl.navigateToForceDelete()" ng-disabled="!$ctrl.isFormValid()" class="blue-button pull-right ga-createobj-create" value="Force delete">

    </section>
</div>
