<div class="modal-content no-rounded">
<form ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"></i>
        <h5 class="modal-title">Password authentication</h5>
    </div>

    <div class="modal-body">
        <div ng-if="$ctrl.resolve.mntners.length === 0" class="alert-expired alert alert-danger">
            <span ng-if="!$ctrl.resolve.isLirObject">
                You cannot modify this object here because your SSO account is not associated with any of the maintainers and none of the maintainers are protected with an MD5 password.
            </span>

            <span ng-if="$ctrl.resolve.isLirObject">

                <span ng-if="$ctrl.resolve.mntnersWithoutPassword.length > 0">
                    You cannot modify this object here because your SSO account is not associated with any of the maintainers and none of the maintainers are protected with an MD5 password.
                </span>

                <span ng-if="$ctrl.resolve.mntnersWithoutPassword.length == 0">
                    The default LIR Maintainer has not yet been set up for this object. If you are the holder of this object, please set up your LIR Default maintainer <a href="{{$ctrl.PORTAL_URL}}#/account-details">here</a>.
                </span>
            </span>
        </div>

        <div ng-if="($ctrl.resolve.mntners && $ctrl.resolve.mntners.length > 0)">
            <div ng-if="$ctrl.selected.message.length > 0" class="alert-expired alert alert-danger">
                <p>{{$ctrl.selected.message}}</p>
            </div>
            <ul>
                <li>
                    <label>Select a maintainer to authenticate the update operation.</label>
                    <select ng-model="$ctrl.selected.item"
                            ng-required="true"
                            ng-options="item.key for item in $ctrl.resolve.mntners | orderBy:key" class="form-control select-height"></select>
                </li>
                <li>
                    <div>
                        <label class="pull-left">Provide the password for the selected maintainer</label>
                        <a class="forgot-password pull-right" ng-href="/db-web-ui/#/fmp/" ng-click="$ctrl.cancel()">Forgotten MNTNER password?</a>
                    </div>
                    <input type="password" class="form-control" ng-model="$ctrl.selected.password" ng-required="true" />
                </li>
                <li>
                    <input type="checkbox" ng-model="$ctrl.selected.associate" id="associate" class="ga-associate-checkbox" />
                    <label for="associate">Also authorise my RIPE NCC Access account for this maintainer.  <a href="https://www.ripe.net/manage-ips-and-asns/db/support/security/protecting-data" target="_blank">Learn more.</a></label>
                </li>
            </ul>
        </div>
        <div ng-if="($ctrl.resolve.mntnersWithoutPassword && $ctrl.resolve.mntnersWithoutPassword.length > 0)">
            <hr>
            The following maintainers are used to protect this object, but are not eligible to be used here:
            <br>
            <span ng-repeat="mnt in $ctrl.resolve.mntnersWithoutPassword">
                <a href="#/webupdates/display/{{$ctrl.resolve.source}}/mntner/{{mnt.key}}" target="_blank">
                    {{mnt.key}}
                </a> <span ng-if="$middle">,</span>
            </span>
            <br/>
            <a href="https://www.ripe.net/manage-ips-and-asns/db/support/security/protecting-data#solving-authentication-problems" taget="_blank">Learn more.</a>
        </div>
    </div>

    <div class="modal-footer">
        <div style="float:left;" ng-if="::$ctrl.allowForceDelete()">
            <a href="#/webupdates/forceDelete/{{::$ctrl.resolve.source}}/{{::$ctrl.resolve.objectType}}/{{::$ctrl.resolve.objectName}}" ng-click="$ctrl.cancel()">Force delete</a> this object? <a href="https://www.ripe.net/manage-ips-and-asns/db/support/documentation/ripe-database-documentation/10-authorisation/10-13-force-delete-functionality" target="_blank">Learn More.</a>
        </div>
        <div ng-if="$ctrl.resolve.mntners.length === 0">
            <button type="button" class="blue-button ga-auth-popup-btn" data-dismiss="modal" ng-click="$ctrl.cancel()" >Cancel</button>
        </div>
        <div ng-if="$ctrl.resolve.mntners.length > 0">
            <button type="submit" class="blue-button ga-auth-popup-btn">Submit</button>
        </div>
    </div>
</form>
</div>
