<div class="modal-content no-rounded">
    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></i>
        <h5 class="modal-title" >Enter Password For Maintainer</h5>
    </div>
    <div class="modal-body">
        <div class="pass-strength-output"></div>
        <input type="password" class="form-control margin-bottom" ng-required="true" ng-model="$ctrl.password" placeholder="Password" /><br/>
        <input type="password" class="form-control" ng-required="true" ng-model="$ctrl.passwordAgain"
               ng-keyup="$ctrl.verifyAuthDialog()" placeholder="Confirm password" />
        <a title="Enter your password in plain text. Any characters outside the US ASCII range may cause problems with some RIPE Database update methods."></a>

        <div class="passwords-matched-output">{{authPasswordMessage}}</div>
    </div>
    <div class="modal-footer">        
        <input type="submit" class="blue-button ga-md5-popup-btn" data-dismiss="modal" ng-click="$ctrl.ok()" value="Add"/>
    </div>
</div>

