<h1>Select object type you would like to create</h1>

<section>
<form id="selectForm" class="grey padding pull-left">
    <div>
	    <label>Object type</label>
	    <select id="objectTypeSelector"
            ng-model="selected.objectType"
	            ng-required="true"
	            class="form-control select-height">
            <option value="person-mntnr" label="person and maintainer pair">person and maintainer pair</option>
            <option ng-repeat="objectType in objectTypes" label="{{objectType}}" value="{{objectType}}">{{objectType}}</option>
        </select>
	</div>
    <br/>

    <button id="btnNavigateToCreate"
            class="blue-button pull-right ga-createobj-select"
            ng-click="navigateToCreate()">{{loggedIn ? 'Create' : 'Login to create'}}</button>

</form>
</section>

