.selectize-input {
	padding: 7px !important;
}
.ui-select-multiple.ui-select-bootstrap {
	padding: 3px 0 0 3px;
    height: 32px;
}
.selectize-dropdown {
	margin: -1px -3px 0 !important;
	.active {
		background-color: #F5FFFF !important;
	}
}
.selectize-dropdown-content {
    max-height: none !important;
    overflow-x: auto !important;
    div.ui-select-choices-row {
		border-bottom: 1px solid #EAEAEA !important;
		div.ui-select-choices-row-inner {
			padding: 10px 8px !important;
			div.option {
				span.auth {
					float: right;
					color: #fff;
					padding: 3px 6px;
					margin-left: 5px;
					min-width: 35px;
				    padding: 0 4px;
				    text-align: center;
				    font-size: 10px;
				}
				span.auth.md5 {
					background-color: #E4BF3C;
					border: 1px solid #BFAA42;
				}
				span.auth.sso {
					background-color: #7FE43C;
					border: 1px solid #63BF42;
				}
				span.auth.pgp {
					background-color: #E78CF8;
					border: 1px solid #BC5CEC;
				}
				span.star {
					color: #E2CC5A;
					margin-left: 5px;
				}
			}
		}
	}
}
.ui-select-match {
	.ui-select-match-item {
		background: #3BBFC0;
		color: #fff;
		border-radius: 3px;
		background-image: none;
		box-shadow: none;
		text-shadow: none;
		border: 1px solid #1E8D8D;
		margin: 0 0 3px !important;
		.close {
			color: #fff;
			opacity: 1;
			text-shadow: none;
			padding: 2px;
			border-left: 1px solid #1E8D8D;
			margin-left: 5px;
		}
        .fa-lock {
            color: #fff;
            opacity: 1;
            text-shadow: none;
            padding: 2px;
            border-left: 1px solid #777;
            padding-left: 5px;
        }
		&.existing {
    		background-color: #26A6A7;
		}
		&.select-locked {
		    background-color: grey;
		    border: 1px solid #777;
		}
	}
	.btn-primary {
		background: #2EB1B2;
	}
}
.selectize-custom-dropdown-header {
    position: relative;
    cursor: pointer;
	border-bottom: 1px solid #eaeaea;
	padding: 10px 8px;
	display: block;
}
