.inner-container {
	float: left;
	width: 100%;
}
.form-fields {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 15px !important;
	}
}
.blue-button {
	border:0;
}
ul.success-fields {
	list-style: none;
	padding: 20px !important;
	border: 1px #ccc dashed;
	font {
		family: menlo !important;
	}
	li {
		display: inline-block !important;
	    width: 50%;
	}
}
.modal.portlet .modal-content i.fa-close {
	padding: 6px 17px;
}