.selectize-input {
	padding: 7px !important;	
}
.selectize-dropdown-content div.option {
	border-bottom: 1px solid #EAEAEA;
	padding: 10px 8px;
}
.selectize-dropdown-content div.option > span.auth {
	float: right;
	color: #fff;
	padding: 3px 6px;
	margin-left: 5px;    
	min-width: 35px;
    padding: 0 4px;
    text-align: center;
    font-size: 10px;
}
.selectize-dropdown-content div.option > span.auth.md5 {
	background-color: #E4BF3C;
	border: 1px solid #BFAA42;
}
.selectize-dropdown-content div.option > span.auth.sso {
	background-color: #7FE43C;
	border: 1px solid #63BF42;
}
.selectize-dropdown-content div.option > span.auth.pgp {
	background-color: #E78CF8;
	border: 1px solid #BC5CEC;
}
.selectize-dropdown-content div.option > span.star {
	color: #E2CC5A;
	margin-left: 5px;
}
.selectize-dropdown .active {
	background-color: #F5FFFF !important;
}
.selectize-control {
	.items {
		.item {
			background: #3BBFC0 !important;
			color: #fff !important;
			border-radius: 3px;
			background-image: none !important;
			box-shadow: none !important;
			text-shadow: none !important;
			border: 1px solid #26A6A7 !important;
			.remove {
				border-left-color: #31A8A9 !important;
				color: #fff !important;
			}
		}
	}
}
.selectize-custom-dropdown-header {
    position: relative;
    cursor: pointer;
	border-bottom: 1px solid #eaeaea;
	padding: 10px 8px;
	display: block;
}