<label>{{attribute.name}}</label>
<div class="text-error" ng-if="attribute.$$error">
    <span ng-bind-html="attribute.$$error"></span>
</div>
<div class="text-success" ng-if="attribute.$$success">{{ attribute.$$success }}</div><input
        type="text"
        name="{{attribute.name + '$' + idx}}"
        class="form-control"
        placeholder="{{getAttributeShortDescription(attribute.name)}}"
        autocomplete="off"
        ng-model="attribute.value"
        ng-if="!attribute.$$meta.$$isEnum"
        ng-required="{{attribute.$$meta.$$mandatory}}"
        ng-disabled="attribute.$$meta.$$disable"
        ng-change="valueChanged(objectType, attributes, attribute)"
        typeahead="value.key as value.readableName for value in referenceAutocomplete(attribute, $viewValue)"
        typeahead-min-length="2"
>
