<input
        type="text"
        class="form-control"
        placeholder="{{getAttributeShortDescription(attribute.name)}}"
        autocomplete="off"
        ng-model="value"
        ng-if="!attribute.$$meta.$$isEnum"
        ng-required="{{attribute.$$meta.$$mandatory}}"
        ng-disabled="attribute.$$meta.$$disable"
        ng-change="valueChanged(attribute, value)"
        typeahead="value.key as value.readableName for value in referenceAutocomplete(attribute, $viewValue)"
        typeahead-min-length="2"
>
