<div class="text-error" ng-if="attribute.$$error">
    <span ng-bind-html="attribute.$$error"></span>
</div>

<div class="panel panel-default">
    <table class="table table-hover" ng-if="attribute.value && attribute.value.length">
        <thead>
        <tr>
            <th>Reverse zones</th>
        </tr>
        </thead>
        <tbody class="reverse-zone-table">
        <tr ng-repeat="r in attribute.value">
            <td><small>{{ r.value }}</small></td>
        </tr>
        </tbody>
    </table>
</div>
