<form id="createForm" accept-charset="ISO-8859-1" ng-model-options="{ updateOn: 'blur' }">

    <h1 title="It's a wizard, though, really">Domain object not-a-wizard</h1>
    <section class="form-fields maintainer-fields">
        <maintainers></maintainers>
    </section>

    <section class="visible-field-form">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="message.type === 'error'"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message.text }}</div>
        <div class="alert alert-info alert-dismissible" role="alert" ng-if="message.type === 'info'"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message.text }}</div>
        <ul class="form-fields appeared-fields">
            <li ng-repeat="attribute in attributes" class="form-group input-group" ng-if="showAttribute(attribute)">
                <attribute-renderer object-type="'prefix'" attributes="attributes" attribute="attribute"></attribute-renderer>
            </li>
        </ul>
    </section>

    <section class="supporting-text">
        <p>By submitting this form you explicitly express your agreement with the
            <a href="http://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a>
        </p>
    </section>

</form>
