<section class="more-specifics">
    <h2>More specifics</h2>
    @if (moreSpecifics && !showRefreshButton) {
    <div>
        <div class="prefix-filter">
            <div class="input-group">
                <input
                    type="text"
                    id="ipFilter"
                    name="ipFilter"
                    class="form-control"
                    placeholder="Search for prefix"
                    [(ngModel)]="ipFilter"
                    (input)="applyFilter()"
                />
                <span class="input-group-btn" [hidden]="!ipFilter">
                    <button type="button" class="btn" id="clearButton" (click)="ipFilter = ''; applyFilter()">
                        <span class="fa-light fa-x close"></span>
                    </button>
                </span>
            </div>
            @if (ipFilter) {
            <span class="float-end"> Showing {{ moreSpecifics.filteredSize }} out of {{ moreSpecifics.totalNumberOfResources }} </span>
            } @else {
            <span class="float-end"> Total more specifics: {{ moreSpecifics.totalNumberOfResources }} </span>
            }
        </div>
        <div>
            @if (moreSpecifics.resources.length > 0) {
            <table class="table table-bordered table-body-borderless resources table-striped" aria-label="more specifics">
                <thead>
                    <tr>
                        <th scope="col" class="w30">Internet number resource</th>
                        <th scope="col" class="w20">Status</th>
                        <th scope="col" class="w50">Netname</th>
                    </tr>
                </thead>
                <!-- height is: 37 + (36 * n visible rows)-->
                <tbody [ngStyle]="{ height: tableHeight + 'px' }" table-scroller (scrolled)="almostOnScreen()">
                    @for (resource of moreSpecifics.resources; track resource) {
                    <tr class="break-all-word">
                        <td class="w30">
                            <a class="link-color" [routerLink]="['/myresources/detail', resource.type, resource.resource, sponsored]">
                                <name-formatter [name]="resource.resource" [type]="resource.type"></name-formatter>
                            </a>
                        </td>
                        <td class="w20">{{ resource.status }}</td>
                        <td class="w50">{{ resource.netname }}</td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
        @if (moreSpecifics.resources.length === 0) {
        <div class="alert alert-warning">No more specific objects exist.</div>
        }
    </div>
    } @if (showRefreshButton) {
    <refresh reason="There was problem reading more specifics resources please try again" (refreshClbk)="ngOnChanges()"></refresh>
    }
</section>
