

<div class="modal-content no-rounded">
    <div class="modal-header">
        <i class="fa fa-close close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></i>
        <h5 class="modal-title" >New version of syncupdates</h5>
    </div>
    <div class="modal-body">
        <p>
            We have created a new, more user-friendly version of syncupdates. Woud you like to try it?
        </p>
    </div>
    <div class="modal-footer">
        <input type="submit" class="blue-button ga-md5-popup-btn" data-dismiss="modal" ng-click="onRichClicked()" value="Try new"/>
        <input type="submit" class="blue-button ga-md5-popup-btn" data-dismiss="modal" ng-click="onPoorClicked()" value="Use old" />
    </div>
</div>

