<div class="alert alert-warning" ng-if="$ctrl.missingMandatoryAttributes.length > 0">
      Missing mandatory attribute:
      <li ng-repeat="attribute in $ctrl.missingMandatoryAttributes">
        <b>{{attribute}}</b>
      </li>
</div>
<section class="visible-field-form">
  <ul class="form-fields appeared-fields">
      <li ng-repeat="attribute in $ctrl.attributes | filter: {name: '!mnt-by'} | filter: {name: '!last-modified'} |  filter: {name: '!created'}"
          ng-show="!attribute.$$hidden">
          <attribute-renderer
                  source="$ctrl.source"
                  object-type="$ctrl.objectType"
                  attributes="$ctrl.attributes"
                  attribute="attribute"
                  idx="$index"></attribute-renderer>
      </li>
  </ul>
    <section class="supporting-text" ng-if="$ctrl.updateClicked">
        <p>By submitting this form you explicitly express your agreement with the <a href="https://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a>.</p>
    </section>
    <article class="pull-right" ng-if="$ctrl.updateClicked">
        <button class="grey-button" ng-click="$ctrl.btnCancelClicked()">Cancel</button>
        <button class="blue-button" ng-click="$ctrl.btnSubmitClicked()">Submit</button>
    </article>
</section>
