<section uib-collapse="mode !== 'view'">
    <a class="blue-button pull-right" ng-click="goToUpdate()">Update object</a>
    <pre><ul><li
            ng-repeat="attr in ngModel.attributes.attribute" ng-if="$index < nrLinesToShow">{{ attr.name }}:{{ padding(attr) }}<a
            ng-if="attr.link.type === 'locator'" href="/search/lookup.html?source=ripe&key={{ attr.value }}&type={{ attr['referenced-type'] }}">{{ attr.value }}</a><span
            ng-if="attr.link.type !== 'locator'">{{ attr.value }}</span></li></ul></pre>
    <div class="blue-button show-more" ng-click="clickShowMoreLines()" ng-if="showMoreButton">Show more</div>
</section>
<section uib-collapse="mode !== 'edit'">
    <maintainers class="maintainer-fields" mntners="{sso: [],object: [],objectOriginal: [],alternatives: []}" object-type="ngModel.type" attributes="ngModel.attributes.attribute" object-source="ngModel.source" object-name="ngModel.name"></maintainers>
    <whois-object-editor object-type="ngModel.type" attributes="ngModel.attributes.attribute" object-source="ngModel.source" object-name="ngModel.name"></whois-object-editor>
</section>
