<div class="checkbox" ng-if="$ctrl.show.ripeManagedToggleControl">
    <label>
        <input type="checkbox" ng-model="$ctrl.showRipeManagedAttrs"> {{ 'lookup.ripeManagedValuesCheckbox.text' | label }}
    </label>
</div>
<div class="viewerbuttons">
    <a href="#/webupdates/modify/ripe/{{ $ctrl.ngModel.type }}/{{ $ctrl.objectPrimaryKey }}" class="tag-link" ng-if="$ctrl.show.loginLink">
        <span>Login to update</span>
        <i class="fa fa-database"></i></a>
    <a class="blue-button" ng-click="$ctrl.updateClicked($ctrl.ngModel)" ng-if="$ctrl.show.updateButton">{{ 'lookup.updateObjectButton.text' | label }}</a>
    <a class="grey-button ripe-stat-button" ng-href="https://stat.ripe.net/{{ $ctrl.objectPrimaryKey }}?sourceapp=ripedb" ng-if="$ctrl.show.ripeStatButton" target="_newtab">
        {{ 'lookup.ripestatLink.text' | label }}
        <i class="fa fa-external-link"></i>
    </a>
</div>
<pre><ul ng-class="{showripemanaged: $ctrl.showRipeManagedAttrs}"><li ng-class="{ ripemanaged: attr.managed }"
        ng-repeat="attr in $ctrl.ngModel.attributes.attribute" ng-if="$index < $ctrl.nrLinesToShow">{{ attr.name }}:{{ $ctrl.padding(attr) }}<a
        ng-if="attr.link.type === 'locator'" href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source=ripe&key={{ attr.value }}&type={{ attr['referenced-type'] }}">{{ attr.value }}</a><a
        ng-if="attr.name === $ctrl.pkLink" href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source=ripe&key={{ $ctrl.objectPrimaryKey }}&type={{ $ctrl.ngModel.type }}">{{ attr.value }}</a><span
        ng-if="attr.link.type !== 'locator' && attr.name !== $ctrl.pkLink">{{ attr.value }}{{ attr.comment === 'Filtered' ? ' # Filtered' : ''}}</span></li></ul></pre>
<div class="pull-right">
    <div id="showEntireObjectInViewer" class="grey-button show-more" ng-click="$ctrl.clickShowMoreLines()" ng-if="$ctrl.showMoreButton"> {{ 'lookup.showAllObjectButton.text' | label }}</div>
</div>
