<a class="blue-button pull-right" ng-click="goToUpdate()">Update object</a>
<a id="ripeStatButton" class="tag-link pull-right" ng-href="https://stat.ripe.net/{{ ngModel['primary-key'].attribute[0].value}}?sourceapp=ripedb#tabId=at-a-glance" target="_newtab">RIPEstat
    <i class="fa fa-external-link"></i>
</a>
<pre><ul><li
        ng-repeat="attr in ngModel.attributes.attribute" ng-if="$index < nrLinesToShow">{{ attr.name }}:{{ padding(attr) }}<a
        ng-if="attr.link.type === 'locator'" href="/search/lookup.html?source=ripe&key={{ attr.value }}&type={{ attr['referenced-type'] }}">{{ attr.value }}</a><span
        ng-if="attr.link.type !== 'locator'">{{ attr.value }}</span></li></ul></pre>
<div class="blue-button show-more" ng-click="clickShowMoreLines()" ng-if="showMoreButton">Show more</div>
