<alerts></alerts>

<h1>Forgot maintainer password</h1>

<div>

    <section>
        <div class="padding grey" ng-if="state === 'init'">
            <div class="alert alert-info">You are logged in with the RIPE NCC Access account {{user}}</div>
            Please confirm that you wish to add {{user}} to the <span class="mntner">MNTNER</span> object {{key}}

            <div class="clearfix margin-top">
                <div class="pull-right">
                    <input type="button" ng-click="associate()" value="Confirm" class="blue-button"/>
                    <input type="button" ng-click="cancelAssociate()" value="Cancel" class="blue-button"/>
                </div>
            </div>
        </div>
    </section>

</div>
