<div id="domainerrors" class="alert alert-danger" role="alert" *ngIf="errors">
    <ul>
        <li *ngFor="let error of errors">
            <div>{{error.plainText}}</div>
        </li>
    </ul>
 </div>

<div id="createForm">

    <h1 title="Create domain objects">Create "domain" objects</h1>
    <maintainers-editor *ngIf="domainObject"
            [ng-model]="domainObject"
            (update-mntners-clbk)="updateMaintainers($event)"></maintainers-editor>
    <section class="visible-field-form">
        <whois-object-editor
            [ng-model]="domainObject">
        </whois-object-editor>
    </section>
    <section class="supporting-text" *ngIf="!containsInvalidValues() && !alreadySubmited">
        <p>By submitting this form you explicitly express your agreement with the
            <a href="https://www.ripe.net/db/support/db-terms-conditions.html" target="_blank">RIPE Database Terms and Conditions</a>
        </p>
        <button id="btnSubmitCreate"
                class="pull-right blue-button ga-createobj-domain"
                type="button"
                (click)="submitButtonClicked()">Submit</button>
    </section>
</div>
