<button id="btnCreateInTextArea"
        class="blue-button pull-right ga-modifyobj-switch-mode"
        style="border:0;"
        *ngIf="operation === CREATE_OPERATION"
        (click)="switchToTextMode()">
    <span class="fa fa-pencil-square-o"></span> Create in text area
</button>
<button id="btnEditInTextArea"
        style="border:0;"
        class="blue-button pull-right ga-createobj-switch-mode"
        *ngIf="operation === MODIFY_OPERATION"
        (click)="switchToTextMode()">
    <span class="fa fa-pencil-square-o"></span> Edit in text area
</button>

<div id="createForm">
    <h1>{{operation}} &quot;{{objectType}}&quot; object</h1>
    <section class="form-fields maintainer-fields">
        <strong>Please enter the maintainers you would like to use as mnt-by</strong>
        <article class="maintainer-icons">
            <span class="fa fa-search maintainer-search-icon"></span>
            <a (click)="isMntHelpShown = !isMntHelpShown" class="btn btn-default ga-help-attr maintainer-help" id="mntnerHelp">
                <span class="fa fa-question"></span>
            </a>
        </article>
<!-- TODO replace with maintainer-editor component!!!!-->
        <ng-select id="selectMaintainerDropdown"
                   name="selectMaintainerDropdown"
                   bindLabel="key"
                   [multiple]="true"
                   [items]="maintainers.alternatives"
                   [(ngModel)]="maintainers.object"
                   [hideSelected]="true"
                   (search)="mntnerAutocomplete($event.term)"
                   (add)="onMntnerAdded($event)"
                   [disabled]="isLirObject()"
                   [clearable]="isClearable()"
                   (remove)="onMntnerRemoved($event.value)"
                   placeholder="Type maintainer name">
            <ng-template ng-label-tmp let-mntner="item" let-clear="clear">
                <div [ngClass]="{'select-locked': !showMntCloseButton(mntner), 'default': true}">
                    {{ mntner.key }}
                    <span class="fa fa-star" *ngIf="isMine(mntner)"></span>
                    <span class="fa fa-lock" *ngIf="!isRemovable(mntner.key) || isLirObject()"></span>
                    <span class="ng-value-icon close right" aria-hidden="true"
                          *ngIf="showMntCloseButton(mntner)"
                          (click)="clear(mntner)">×</span>
                </div>
            </ng-template>
            <ng-template ng-option-tmp let-mntner="item">
                <div class="option">
                    <span class="title">{{ mntner.key }}</span>
                    <span class="star fa fa-star" *ngIf="isMine(mntner)"></span>
                    <span class="auth sso" *ngIf="hasSSo(mntner)"> SSO </span>
                    <span class="auth pgp" *ngIf="hasPgp(mntner)"> PGP </span>
                    <span class="auth md5" *ngIf="hasMd5(mntner)"> MD5 </span>
                </div>
            </ng-template>
        </ng-select>
        <description-syntax [showComponent]="isMntHelpShown" [objectType]="objectType" [attrName]="'mnt-by'"></description-syntax>
    </section>
    <section class="visible-field-form" *ngIf="maintainers.object.length">
        <ul class="form-fields appeared-fields">
            <li class="attr-{{idx}}" *ngFor="let attribute of attributes | filteroutAttributeByName: ['mnt-by', 'last-modified', 'created'] | slice:0:nrAttributesToRender; index as idx;">

                <label id="anchor-{{attribute.name}}" >{{attribute.name}}</label>
                <span *ngIf="attribute.$$error" class="text-error">
                    <span [innerHTML]="attribute.$$error | sanitizeImgHtml"></span>
                </span>
                <span *ngIf="attribute.$$success" class="text-success">{{attribute.$$success}}</span>

                <input *ngIf="!attribute.$$meta.$$isEnum && !isBrowserAutoComplete(attribute)"
                       type="text"
                       [attr.name]="attribute.name + '$' + idx"
                       class="form-control"
                       placeholder="{{getAttributeShortDescription(attribute.name)}}"
                       autocomplete="off"
                       [(ngModel)]="attribute.value"
                       [required]="attribute.$$meta.$$mandatory"
                       [disabled]="attribute.$$meta.$$disable"
                       (blur)="fieldVisited(attribute)">
                <input *ngIf="!attribute.$$meta.$$isEnum && isBrowserAutoComplete(attribute)"
                       type="text"
                       [attr.name]="attribute.name + '$' + idx"
                       class="form-control"
                       placeholder="{{getAttributeShortDescription(attribute.name)}}"
                       autocomplete="off"
                       [(ngModel)]="attribute.value"
                       [required]="attribute.$$meta.$$mandatory"
                       [disabled]="attribute.$$meta.$$disable"
                       (blur)="fieldVisited(attribute)"
                       [ngbTypeahead]="autocompleteAttribute(attribute)"
                       [resultFormatter]="autocompleteAttributeRFormatter"
                       [inputFormatter]="autocompleteAttributeIFormatter"
                       >
                <span *ngIf="attribute.$$meta.$$isEnum">
                    <ng-select
                       [attr.name]="attribute.name + '$' + idx"
                       [items]="attribute.name === 'status' ? optionList.status : enumAutocomplete(attribute)"
                       bindLabel="key"
                       bindValue="key"
                       placeholder="{{getAttributeShortDescription(attribute.name)}}"
                       [disabled]="attribute.$$meta?.$$disable"
                       [(ngModel)]="attribute.value">
                        <ng-template ng-option-tmp let-item="item">
                            <div [innerHTML]="displayEnumValue(item)">{{item.key}}</div>
                        </ng-template>
                    </ng-select>
                </span>
                <description-syntax [showComponent]="showAttrsHelp[attribute.name + '$' + idx]" [objectType]="objectType" [attrName]="attribute.name"></description-syntax>
                <ul class="input-group-btn">
                    <li *ngIf="canAttributeBeDuplicated(attribute)">
                        <a id="duplicateAttribute" class="btn btn-default ga-add-dup" title="Add another attribute of this type"
                           (click)="duplicateAttribute(attribute)">
                            <span class="fa fa-arrow-down degree-25"></span>
                        </a>
                    </li>
                    <li>
                        <a id="addAnyAttribute" class="btn btn-default ga-add-attr" title="Add any attribute (opens dialog)"
                           (click)="displayAddAttributeDialog(attribute)">
                            <span class="fa fa-plus"></span>
                        </a>
                    </li>
                    <li *ngIf="canAttributeBeRemoved(attribute)">
                        <a id="removeAttribute" class="btn btn-default ga-del-attr" title="Remove current attribute"
                           (click)="removeAttribute(attribute)">
                            <span class="fa fa-trash"></span>
                        </a>
                    </li>
                    <li>
                        <a id="changePassword" class="btn btn-default ga-pass-attr" title="Add/change Password (opens dialog)"
                           (click)="displayMd5DialogDialog(attribute)" *ngIf="attribute.name === 'auth'">
                            <span class="fa fa-lock fa-3"></span>
                        </a>
                    </li>
                    <li>
                        <a id="createRoleForAbuseCAttribute" class="btn btn-default ga-add-dup" title="Create new role to use as abuse-c"
                           (click)="createRoleForAbuseCAttribute(attribute)" *ngIf="shouldShowBellIcon(attribute)">
                            <span class="fa fa-bell-o degree-25"></span>
                        </a>
                    </li>
                    <li *ngIf="attribute.$$meta.$$isLir">
                        <a title="Request to update" class="btn btn-default ga-edit-attr"
                           *ngIf="showPencile(attribute.name)"
                           (click)="displayEditAttributeDialog(attribute)">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </li>
                    <li>
                        <a id="help" class="btn btn-default ga-help-attr" (click)="setVisibilityAttrsHelp(attribute.name + '$' + idx)" >
                            <span class="fa fa-question"></span>
                        </a>
                    </li>
                    <li>
                        <a id="addCertificate" class="btn btn-default d-none ga-pgp-attr" title="Add PGP key (opens dialog)">
                            <span class="fa fa-certificate"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <submitting-agreement></submitting-agreement>
        <p scroller (onScroll)="showMoreAttributes()"></p>
        <span *ngIf="operation === MODIFY_OPERATION">
            <input id="btnSubmitModify" type="submit" (click)="submit()" [disabled]="!isFormValid() || restCallInProgress" class="blue-button pull-right" value="Submit"/>
            <button (click)="cancel()" class="blue-button pull-right" style="border:0;">Cancel</button>
        </span>
        <span *ngIf="operation === CREATE_OPERATION">
            <input id="btnSubmitCreate" type="submit" (click)="submit()" [disabled]="!isFormValid() || restCallInProgress" class="blue-button pull-right" value="Submit"/>
            <button (click)="cancel()" class="blue-button pull-right" style="border:0;">Cancel</button>
        </span>
        <span *ngIf="operation === MODIFY_OPERATION && !isLirObject() && !isResourceWithNccMntner()">
            <button id="deleteObject" (click)="deleteObject()" [disabled]="restCallInProgress" class="red-button pull-left" style="border:0; margin: 0;">Delete this object</button>
        </span>
    </section>
</div>
