@if (operation === CREATE_OPERATION) {
<button mat-flat-button color="primary" id="btnCreateInTextArea" class="float-end" (click)="switchToTextMode()">
    <span class="fa-light fa-pen-to-square"></span> CREATE IN TEXT AREA
</button>
} @if (operation === MODIFY_OPERATION) {
<button mat-flat-button color="primary" id="btnEditInTextArea" class="float-end" (click)="switchToTextMode()">
    <span class="fa-light fa-pen-to-square"></span> EDIT IN TEXT AREA
</button>
} @if (attributes?.length > 0) {
<div id="createForm">
    <h1>{{ operation }} &quot;{{ objectType }}&quot; object</h1>
    <section class="form-fields">
        <maintainers-editor
            [whoisObject]="{ attributes: { attribute: attributes }, source: { id: source } }"
            (authenticationSuccessClbk)="refreshObjectIfNeeded($event)"
            (updateMntnersClbk)="updateMaintainers($event)"
        ></maintainers-editor>
    </section>
    @if (maintainers.object.length) {
    <section class="visible-field-form">
        <ul class="form-fields appeared-fields">
            @for (attribute of attributes | filteroutAttributeByName : ['mnt-by', 'last-modified', 'created'] | slice : 0 : nrAttributesToRender; let idx =
            $index; track attribute) {
            <li attr.data-test-id="{{ attribute.name + '$' + idx }}" class="attr-{{ idx }}">
                <label id="anchor-{{ attribute.name }}">{{ attribute.name }}</label>
                @if (attribute.$$error) {
                <span class="text-error" [matTooltip]="attribute.$$error | sanitizeHtml">
                    <span [innerHTML]="attribute.$$error | sanitizeImgHtml"></span>
                </span>
                } @if (attribute.$$success) {
                <span class="text-success">{{ attribute.$$success }}</span>
                } @if (!attribute.$$meta.$$isEnum && !isBrowserAutoComplete(attribute)) {
                <input
                    type="text"
                    [attr.name]="attribute.name + '$' + idx"
                    class="form-control"
                    placeholder="{{ getAttributeShortDescription(attribute.name) }}"
                    autocomplete="off"
                    [(ngModel)]="attribute.value"
                    [required]="attribute.$$meta.$$mandatory"
                    [disabled]="attribute.$$meta.$$disable"
                    (blur)="fieldVisited(attribute)"
                />
                } @if (!attribute.$$meta.$$isEnum && isBrowserAutoComplete(attribute)) {
                <typeahead
                    [attribute]="attribute"
                    [idx]="idx"
                    [placeholder]="getAttributeShortDescription(attribute.name)"
                    (blurEmitter)="fieldVisited(attribute)"
                ></typeahead>
                } @if (attribute.$$meta.$$isEnum) {
                <span>
                    <ng-select
                        [attr.name]="attribute.name + '$' + idx"
                        [items]="attribute.name === 'status' ? optionList.status : enumAutocomplete(attribute)"
                        bindLabel="key"
                        bindValue="key"
                        placeholder="{{ getAttributeShortDescription(attribute.name) }}"
                        [disabled]="attribute.$$meta?.$$disable"
                        [(ngModel)]="attribute.value"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            <div [innerHTML]="displayEnumValue(item)">{{ item.key }}</div>
                        </ng-template>
                    </ng-select>
                </span>
                }
                <description-syntax
                    [showComponent]="showAttrsHelp[attribute.name + '$' + idx]"
                    [objectType]="objectType"
                    [attrName]="attribute.name"
                ></description-syntax>
                <ul class="input-group-btn">
                    @if (attribute.name === 'certif') {
                    <li>
                        <a id="addCertificate" class="btn btn-default ga-pgp-attr" title="Add PGP key (opens dialog)" (click)="displayPGPKeyDialogDialog()">
                            <span class="fa-light fa-file-certificate"></span>
                        </a>
                    </li>
                    } @if (canAttributeBeDuplicated(attribute)) {
                    <li>
                        <a
                            id="duplicateAttribute"
                            class="btn btn-default ga-add-dup"
                            title="Add another attribute of this type"
                            (click)="duplicateAttribute(attribute)"
                        >
                            <span class="fa-light fa-arrow-down degree-25"></span>
                        </a>
                    </li>
                    }
                    <li>
                        <a
                            id="addAnyAttribute"
                            class="btn btn-default ga-add-attr"
                            title="Add any attribute (opens dialog)"
                            (click)="displayAddAttributeDialog(attribute)"
                        >
                            <span class="fa-light fa-plus"></span>
                        </a>
                    </li>
                    @if (canAttributeBeRemoved(attribute)) {
                    <li>
                        <a id="removeAttribute" class="btn btn-default ga-del-attr" title="Remove current attribute" (click)="removeAttribute(attribute)">
                            <span class="fa-light fa-trash"></span>
                        </a>
                    </li>
                    }
                    <li>
                        @if (attribute.name === 'auth') {
                        <a
                            id="changePassword"
                            class="btn btn-default ga-pass-attr"
                            title="Add/change Password (opens dialog)"
                            (click)="displayMd5DialogDialog(attribute)"
                        >
                            <span class="fa-light fa-lock fa-3"></span>
                        </a>
                        }
                    </li>
                    <li>
                        @if (shouldShowBellIcon(attribute)) {
                        <a
                            id="createRoleForAbuseCAttribute"
                            class="btn btn-default ga-add-dup"
                            title="Create new role to use as abuse-c"
                            (click)="createRoleForAbuseCAttribute(attribute)"
                        >
                            <span class="fa-light fa-bell degree-25"></span>
                        </a>
                        }
                    </li>
                    @if (attribute.$$meta.$$isLir) {
                    <li>
                        @if (showPencile(attribute.name)) {
                        <a title="Request to update" class="btn btn-default ga-edit-attr" (click)="displayEditAttributeDialog(attribute)">
                            <span class="fa-light fa-pencil"></span>
                        </a>
                        }
                    </li>
                    }
                    <li>
                        <a id="help" class="btn btn-default ga-help-attr" (click)="setVisibilityAttrsHelp(attribute.name + '$' + idx)">
                            <span class="fa-light fa-question"></span>
                        </a>
                    </li>
                </ul>
            </li>
            }
        </ul>
        <submitting-agreement></submitting-agreement>
        <p scroller (scrolled)="showMoreAttributes()"></p>
        @if (operation === MODIFY_OPERATION) {
        <span>
            <button
                mat-flat-button
                color="primary"
                class="float-end margin-left"
                type="submit"
                id="btnSubmitModify"
                [disabled]="!isFormValid() || restCallInProgress"
                (click)="submit()"
            >
                SUBMIT
            </button>
            <button mat-flat-button color="primary" (click)="cancel()" class="float-end">CANCEL</button>
        </span>
        } @if (operation === CREATE_OPERATION) {
        <span>
            <button
                mat-flat-button
                color="primary"
                class="float-end margin-left"
                type="submit"
                id="btnSubmitCreate"
                [disabled]="!isFormValid() || restCallInProgress"
                (click)="submit()"
            >
                SUBMIT
            </button>
            <button mat-stroked-button color="primary" class="float-end" (click)="cancel()">CANCEL</button>
        </span>
        } @if (operation === MODIFY_OPERATION) {
        <span>
            <button
                id="deleteObject"
                mat-flat-button
                color="warn"
                class="float-start"
                (click)="deleteObject()"
                [disabled]="!isDeletable() || restCallInProgress"
            >
                DELETE THIS OBJECT
            </button>
        </span>
        }
    </section>
    }
</div>
}
