<div [hidden]="modalInProgress">
    @for (object of deletedObjects; track object) {
    <section class="inner-container">
        <table class="success-fields td-20 grey" aria-describedby="table of deleting">
            @for (attribute of object.attributes.attribute; track attribute) {
            <tr>
                <td>
                    <label>{{ attribute.name }}:</label>
                </td>
                <td>
                    <p>{{ attribute.value }}</p>
                    <div [hidden]="!attribute.$$error" class="modify-feedback">
                        <span>{{ attribute.$$error }}</span>
                        <em class="fa-light fa-circle-info"></em>
                    </div>
                </td>
            </tr>
            }
        </table>
    </section>
    }
    <section>
        <br />
        <a [routerLink]="['/webupdates/select']" mat-flat-button color="primary" class="uppercase">Create a new object</a>
        <a [routerLink]="['/query']" mat-flat-button color="primary" class="uppercase margin-left">Search for an object</a>
    </section>
</div>
