<div class="modal-content no-rounded">
    <form (submit)="submit()">
        <div class="modal-header">
            <h2 class="modal-title">Authentication</h2>
            <em class="fal fa-times close" aria-label="Close" (click)="cancel()"></em>
        </div>
        <div class="modal-body">
            @if (selected.message?.length > 0) {
            <banner [type]="BannerTypes.error" [id]="'notification-error-authentication'" [textContent]="selected.message"></banner>
            } @if (resolve.mntners && resolve.mntners.length > 0) {
            <div>
                <ul>
                    <li>
                        <label for="selectAuthMntnerForSSOPrefill">Select a maintainer to authenticate the update operation.</label>
                        <select
                            id="selectAuthMntnerForSSOPrefill"
                            name="selectAuthMntner"
                            [(ngModel)]="selected.item"
                            required="true"
                            class="form-control select-height"
                        >
                            @for (item of resolve.mntners; track item) {
                            <option label="{{ item.key }}" [ngValue]="item">{{ item.key }}</option>
                            }
                        </select>
                    </li>
                    <li>
                        <label>Your RIPE NCC Access account will be associated with this maintainer. </label>
                        <br />
                        <a href="https://docs.db.ripe.net/Authorisation/Using-the-Authorisation-Methods" rel="noopener" target="_blank"
                            >Learn more <em class="fal fa-external-link"></em>.</a
                        >
                    </li>
                </ul>
            </div>
            }
        </div>

        <div class="modal-footer">
            @if (resolve.mntners.length === 0) {
            <div>
                <button mat-stroked-button color="primary" class="float-end" data-dismiss="modal" (click)="cancel()">CANCEL</button>
            </div>
            } @if (resolve.mntners.length > 0) {
            <div>
                <button mat-flat-button color="primary" class="float-end" type="submit">SUBMIT</button>
            </div>
            }
        </div>
    </form>
</div>
