<div class="modal-content no-rounded">
    <form (submit)="submit()">
        <div class="modal-header">
            <h2 class="modal-title">Password authentication</h2>
            <em class="fal fa-times close" aria-label="Close" (click)="cancel()"></em>
        </div>
        <div class="modal-body">
            @if (selected.message?.length > 0) {
            <banner [type]="BannerTypes.error" [id]="'notification-error-authentication'" [textContent]="selected.message"></banner>
            } @if (resolve.mntners.length === 0) {
            <div>
                @if (!resolve.isLirObject) {
                <banner
                    [type]="BannerTypes.error"
                    [id]="'notification-error-authentication'"
                    [textContent]="
                        'You cannot modify this object here because your SSO account is not associated with any of the maintainers and none of the maintainers are protected with an MD5 password.'
                    "
                ></banner>
                } @if (resolve.isLirObject) {
                <span>
                    @if (resolve.mntnersWithoutPassword.length > 0) {
                    <banner
                        [type]="BannerTypes.error"
                        [id]="'notification-error-authentication'"
                        [textContent]="
                            'You cannot modify this object here because your SSO account is not associated with any of the maintainers and none of the maintainers are protected with an MD5 password.'
                        "
                    ></banner>
                    } @if (resolve.mntnersWithoutPassword.length === 0) {
                    <banner [type]="BannerTypes.error" [id]="'notification-error-authentication'" [textContent]="errorMsg"></banner>
                    }
                </span>
                }
            </div>
            } @if (resolve.mntners && resolve.mntners.length > 0) {
            <div>
                <ul>
                    <li>
                        <label for="selectAuthMntner">Select a maintainer to authenticate the update operation.</label>
                        <select
                            id="selectAuthMntner"
                            name="selectAuthMntner"
                            [(ngModel)]="selected.item"
                            (ngModelChange)="onChangeMnt()"
                            required="true"
                            class="form-control select-height"
                        >
                            @for (item of resolve.mntners; track item) {
                            <option label="{{ item.key }}" [ngValue]="item">{{ item.key }}</option>
                            }
                        </select>
                    </li>
                    <li>
                        <div>
                            <label class="float-start">Provide the password for the selected maintainer</label>
                            <a class="forgot-password float-end" [href]="fmpPath" (click)="cancel()">Forgotten MNTNER password?</a>
                        </div>
                        <input type="password" class="form-control" [(ngModel)]="selected.password" required="true" name="passwordAuth" />
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="selected.associate" id="associate" name="associate" class="ga-associate-checkbox" />
                        &nbsp;
                        <label for="associate"
                            >Also authorise my RIPE NCC Access account for this maintainer.
                            <a href="https://docs.db.ripe.net/Authorisation/Using-the-Authorisation-Methods" rel="noopener" target="_blank"
                                >Learn more <em class="fal fa-external-link"></em>.</a
                            ></label
                        >
                    </li>
                </ul>
            </div>
            } @if (resolve.mntnersWithoutPassword && resolve.mntnersWithoutPassword.length > 0) {
            <div>
                <hr />
                The following maintainers are used to protect this object, but are not eligible to be used here:
                <br />
                @for (mnt of resolve.mntnersWithoutPassword; let last = $last; track mnt) {
                <span>
                    <a href="webupdates/display/{{ resolve.source }}/mntner/{{ mnt.key }}" rel="noopener" target="_blank">
                        {{ mnt.key }}
                    </a>
                    @if (!last) {
                    <span>,</span>
                    }
                </span>
                }
                <br />
                <a href="https://docs.db.ripe.net/Authorisation/Authorisation-Model#solving-authentication-problems" taget="_blank"
                    >Learn more <em class="fal fa-external-link"></em>.</a
                >
                <br />
                <a class="forgot-password" [href]="'/db-web-ui/fmp/'" (click)="cancel()">Recover Maintainer Access</a>
            </div>
            }
        </div>

        <div class="modal-footer">
            @if (allowForceDelete()) {
            <div style="float: left">
                <a [routerLink]="['/forceDelete', resolve.source, resolve.objectType, resolve.objectName]" (click)="cancel('forceDelete')">Force delete</a> this
                object?
                <a href="https://docs.db.ripe.net/Authorisation/Force-Delete-Functionality" target="_blank"
                    >Learn More. <em class="fal fa-external-link"></em
                ></a>
            </div>
            } @if (resolve.mntners.length === 0) {
            <div>
                <button mat-stroked-button color="primary" class="float-end" data-dismiss="modal" (click)="cancel()">CANCEL</button>
            </div>
            } @if (resolve.mntners.length > 0) {
            <div>
                <button mat-flat-button color="primary" class="float-end" type="submit">SUBMIT</button>
            </div>
            }
        </div>
    </form>
</div>
