<div class="modal-content no-rounded">
    <div class="modal-header">
        <h2 class="modal-title" id="commonModalLabel">
            @if (canBeDeleted) {
            <span>Please provide the reason for delete</span>
            } @else {
            <span>This object cannot be deleted</span>
            }
        </h2>
        <em class="fa-light fa-x close" aria-label="Close" (click)="cancel()"></em>
    </div>

    <div class="modal-body margin-left">
        @if (restCallInProgress) {
        <div>
            <p>Retrieving information. Please wait.</p>
        </div>
        } @if (canBeDeleted) {
        <div>
            <label for="reason">Reason</label><br />
            <input class="form-control" type="text" name="reason" id="reason" [(ngModel)]="reason" autocomplete="off" />
        </div>
        } @if (hasNonSelfIncomingRefs(inputData.objectType, inputData.name, incomingReferences)) {
        <div>
            @if (canBeDeleted) {
            <p>Please note that this will also delete the following objects:</p>
            } @else {
            <p>You can only delete unreferenced objects. Please remove the references from these objects first:</p>
            }

            <ul class="bullets">
                @for (ref of incomingReferences | slice : 0 : MAX_REFS_TO_SHOW; track ref) {
                <ng-container>
                    @if (!isEqualTo(inputData.objectType, inputData.name, ref)) {
                    <li>
                        <div>
                            {{ ref?.objectType }} - <a rel="noopener" target="_blank" href="{{ displayUrl(ref) }}">{{ ref.primaryKey }}</a>
                        </div>
                    </li>
                    }
                </ng-container>
                }
            </ul>
            @if (incomingReferences.length > MAX_REFS_TO_SHOW) {
            <p>There are {{ incomingReferences.length }}-{{ MAX_REFS_TO_SHOW }} more objects referring to {{ inputData.objectType }} {{ inputData.name }}</p>
            }
        </div>
        }
    </div>

    <div class="modal-footer">
        @if (showRoaMsg) {
        <div class="modal-footer-info">
            <em class="fa-light fa-circle-info"></em>
            <div>There is an RPKI ROA for the same route. If you proceed to delete this route(6) object, you may want to delete the ROA as well.</div>
        </div>
        } @if (canBeDeleted) {
        <div>
            <button id="btnConfirmDeleteObject" data-dismiss="modal" mat-flat-button color="warn" class="float-start" (click)="delete()">CONFIRM DELETE</button>
        </div>
        } @else {
        <div>
            <button mat-stroked-button color="primary" class="float-end" data-dismiss="modal" (click)="cancel()">RETURN TO OBJECT</button>
        </div>
        }
    </div>
</div>
