<div class="modal-content no-rounded">
    <div class="modal-header">
        <h2 class="modal-title" id="commonModalLabel">
            <span *ngIf="canBeDeleted">Please provide the reason for delete</span>
            <span *ngIf="!canBeDeleted">This object cannot be deleted</span>
        </h2>
        <i class="fal fa-times close" aria-label="Close" (click)="cancel()"></i>
    </div>

    <div class="modal-body margin-left">
        <div *ngIf="restCallInProgress">
            <p>Retrieving information. Please wait.</p>
        </div>

        <div *ngIf="canBeDeleted">
            <label for="reason">Reason</label><br />
            <input class="form-control" type="text" name="reason" id="reason" [(ngModel)]="reason" autocomplete="off" />
        </div>

        <div *ngIf="hasNonSelfIncomingRefs(inputData.objectType, inputData.name, incomingReferences)">
            <p *ngIf="!canBeDeleted">You can only delete unreferenced objects. Please remove the references from these objects first:</p>
            <p *ngIf="canBeDeleted">Please note that this will also delete the following objects:</p>

            <ul class="bullets">
                <ng-container *ngFor="let ref of incomingReferences | slice: 0:MAX_REFS_TO_SHOW">
                    <li *ngIf="!isEqualTo(inputData.objectType, inputData.name, ref)">
                        <div>
                            {{ ref.objectType }} - <a target="_blank" href="{{ displayUrl(ref) }}">{{ ref.primaryKey }}</a>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <p *ngIf="incomingReferences.length > MAX_REFS_TO_SHOW">
                There are {{ incomingReferences.length }}-{{ MAX_REFS_TO_SHOW }} more objects referring to {{ inputData.objectType }} {{ inputData.name }}
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <div *ngIf="showRoaMsg" class="modal-footer-info">
            <i class="fal fa-info-circle"></i>
            <div>There is an RPKI ROA for the same route. If you proceed to delete this route(6) object, you may want to delete the ROA as well.</div>
        </div>
        <div *ngIf="canBeDeleted">
            <button id="btnConfirmDeleteObject" data-dismiss="modal" mat-flat-button color="warn" class="float-start" (click)="delete()">CONFIRM DELETE</button>
        </div>
        <div *ngIf="!canBeDeleted">
            <button mat-stroked-button color="primary" class="float-end" data-dismiss="modal" (click)="cancel()">RETURN TO OBJECT</button>
        </div>
    </div>
</div>
