<h1>Select object type you would like to create</h1>

<section>
    <form id="selectForm" class="grey padding float-start">
        <div>
            <label for="objectTypeSelector">Object type</label>
            <select name="objectTypeSelector" id="objectTypeSelector" [(ngModel)]="selected.objectType" [required]="true" class="form-control select-height">
                <option [ngValue]="'role-mntnr'" label="role and maintainer pair">role and maintainer pair</option>
                <option *ngFor="let objectType of objectTypes" label="{{ objectType }}" [ngValue]="objectType">{{ objectType }}</option>
            </select>
        </div>
        <br />
        <button id="btnNavigateToCreate" mat-flat-button color="primary" class="float-end" (click)="navigateToCreate()">
            {{ loggedIn ? 'CREATE' : 'LOGIN TO CREATE' }}
        </button>
    </form>
</section>
