<button type="button" class="blue-button pull-right" ng-click="resourceDetails.backToMyResources()">Back to my resources</button>
<h1>{{ resourceDetails.resource.resource }}</h1>

<h2>Object in RIPE Database</h2>
<whois-object ng-model="resourceDetails.details" ng-if="resourceDetails.details"></whois-object>
<div ng-if="resourceDetails.moreSpecifics.length">
    <section>
        <h2>More specific resources</h2>
        <table class="table table-bordered table-striped hover" show-filter="true">
            <thead>
            <tr>
                <th>Internet number resource</th>
                <th>Type</th>
                <th>Netname</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="resource in resourceDetails.moreSpecifics">
                <td><a ng-click="resourceDetails.showDetail(resource)">{{ resource.resource }}</a></td>
                <td>{{ resource.type }}</td>
                <td>{{ resource.netname }}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<div class="alert alert-info" ng-if="!resourceDetails.moreSpecifics.length">
    No more specific objects exist.
</div>
