<h1>Select object type you would like to create</h1>

<section>
<form id="selectForm" class="grey padding pull-left">
    <div>
	    <label>Object type</label>
	    <select id="objectTypeSelector"
            ng-model="selected.objectType"
	            ng-required="true"
	            ng-options="objectType for objectType in objectTypes" class="form-control select-height"></select>
	</div>
    <br/>

    <button id="btnNavigateToCreate"
            class="blue-button pull-right ga-createobj-select"
            ng-click="navigateToCreate()">{{loggedIn ? 'Create' : 'Login to create'}}</button>

</form>
</section>

