@if (!member) {
<div class="padding margin-bottom">
    <p>Earn the RIPE Database Associate certification</p>

    Do you use the RIPE Database regularly as a researching and data registration tool? You can earn a verifiable digital badge from the RIPE NCC that certifies
    your skills and expertise in using RIPE Database.

    <p>&nbsp;</p>
    <a href="https://www.ripe.net/support/certified-professionals" rel="noopener" target="_blank" class="link-color"
        >Find out more <em class="fa-light fa-arrow-up-right-from-square"></em>
    </a>
</div>
} @else {
<div class="border padding margin-bottom">
    <p>Does your CV show your RIPE Database expertise?</p>

    Do you use the RIPE Database regularly as a researching and data registration tool? You can earn a verifiable digital badge that certifies your skills and
    expertise in using RIPE Database. RIPE NCC members can use exam vouchers to schedule an exam and get certified!

    <p>&nbsp;</p>
    <a target="_blank" class="link-color" href="https://academy.ripe.net/my/">Find out more <em class="fa-light fa-arrow-up-right-from-square"></em></a>
</div>
}
