<div class="padding">
    <em *ngIf="isMobileView" class="fal fa-times close" aria-label="Close"></em>
    <section class="flag-description">
        <span>{{ setHierarchyFlagDescription(hierarchyFlag) }}</span>
    </section>
    <div class="slider-component">
        <mat-slider
            (click)="$event.stopPropagation()"
            class="example-margin"
            [step]="1"
            [max]="5"
            [min]="0"
            [showTickMarks]="true"
            aria-labelledby="example-name-label"
        >
            <input matSliderThumb [(ngModel)]="hierarchyFlag" (valueChange)="setHierarchyFlag($event)" />
        </mat-slider>
        <div class="slider-labels" (click)="$event.stopPropagation()">
            <div>{{ getShortHierarchyFlagName(0) }}</div>
            <div>{{ getShortHierarchyFlagName(1) }}</div>
            <div>{{ getShortHierarchyFlagName(2) }}</div>
            <div>{{ getShortHierarchyFlagName(3) }}</div>
            <div>{{ getShortHierarchyFlagName(4) }}</div>
            <div>{{ getShortHierarchyFlagName(5) }}</div>
        </div>
    </div>
    <mat-checkbox class="example-margin" [(ngModel)]="queryParameters.reverseDomain" id="hierarchyD" (click)="$event.stopPropagation()">
        <code>d</code> - Return address, route and domain object types.
    </mat-checkbox>
    <section>
        <a href="/../docs/Types-of-Queries/Queries-for-IP-Networks" target="_blank" [title]="'query.optionPageHierarchy.title' | label"> Learn more</a>
    </section>
</div>
