<section id="resultsSection">
    <div *ngIf="!error" class="pull-right resultlinks">
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.xml"
           target="_blank">
            <i class="fa fa-file-code-o"></i>
            XML
        </a>&nbsp;
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.json"
           target="_blank">
            <i class="fa fa-file-text-o"></i>
            JSON
        </a>
    </div>
    <h2 class="documentFirstHeading">Lookup results</h2>
    <div class="clearfix">
        <div *ngIf="!error" class="alert alert-info small" [innerHTML]="'msg.searchResultsTandCLink.text' | label">
        </div>
        <div *ngIf="error" class="alert alert-warning">
            {{ error }}
        </div>
    </div>
</section>

<div *ngIf="whoisResponse" class="resultpane">
    <lookup [whois-object]="whoisResponse"
            (update-clicked)="goToUpdate()">
    </lookup>
</div>

