@if (whoisObject.attributes) {
<div>
    @if (header) {
    <div class="lookupheader">
        @if (resourceHolderFound) {
        <span>
            Responsible organisation:
            <a
                [routerLink]="['/lookup']"
                [queryParams]="{ source: whoisObject['source'].id, key: whoisObject['resource-holder'].key, type: 'organisation' }"
                target="_blank"
                class="link-color"
                >{{ whoisObject['resource-holder'].name }}</a
            >
            <br />
        </span>
        } @if (abuseContactFound) {
        <span>
            Abuse contact info:
            <a
                [routerLink]="['/lookup']"
                [queryParams]="{ source: whoisObject['source'].id, key: whoisObject['abuse-contact'].key, type: 'role' }"
                target="_blank"
                class="link-color"
                >{{ whoisObject['abuse-contact'].email }}</a
            >
        </span>
        } @else {
        <span>
            <i>{{ 'msg.noAbuseContactFound.text' | label }}</i>
        </span>
        }
        <br />
        @if (abuseContactSuspected && !abuseContactSuspectedWithoutOrgid) {
        <span
            >Abuse-mailbox validation failed. Please refer to
            <a
                class="link-color"
                [routerLink]="['/lookup']"
                [queryParams]="{ source: whoisObject['source'].id, key: whoisObject['abuse-contact']['org-id'], type: 'organisation' }"
                >{{ whoisObject['abuse-contact']['org-id'] }}</a
            >
            for further information.</span
        >
        }
    </div>
    }
    <!--  Warning message for object conflicting with an overlapping RPKI ROA  -->
    @if (whoisObject.objectmessages?.objectmessage[0]) {
    <div class="lookupheader">
        @for (message of formatObjectMessages(whoisObject); track message) {
        <div>
            <span>{{ message }}</span>
        </div>
        }
    </div>
    }
    <whois-object-viewer [model]="whoisObject" [linkable]="true"></whois-object-viewer>
</div>
}
