<section id="resultsSection">
    <div *ngIf="!error" class="float-end resultlinks">
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.xml" rel="noopener" target="_blank">
            <em class="fal fa-file-code"></em>
            XML </a
        >&nbsp;
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.json" rel="noopener" target="_blank">
            <em class="fal fa-file-alt"></em>
            JSON </a
        >&nbsp;
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.txt" rel="noopener" target="_blank">
            <em class="fal fa-file-alt"></em>
            PLAIN TEXT
        </a>
    </div>
    <h2 class="documentFirstHeading">Lookup results</h2>
</section>

<div *ngIf="whoisResponse" class="resultpane">
    <lookup [whoisObject]="whoisResponse"></lookup>
</div>
<div *ngIf="!whoisResponse" class="resultpane no-result-msg">No results found.</div>
<whois-version [version]="whoisVersion"></whois-version>
