<section id="resultsSection">
    <div *ngIf="!error" class="float-right resultlinks">
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.xml"
           target="_blank">
            <i class="fal fa-file-code"></i>
            XML
        </a>&nbsp;
        <a href="{{ properties.REST_SEARCH_URL }}{{ source }}/{{ objectType }}/{{ objectName }}.json"
           target="_blank">
            <i class="fal fa-file-alt"></i>
            JSON
        </a>
    </div>
    <h2 class="documentFirstHeading">Lookup results</h2>
</section>

<div *ngIf="whoisResponse" class="resultpane">
    <lookup [whois-object]="whoisResponse"
            (update-clicked)="goToUpdate()">
    </lookup>
</div>
<whois-version [version]="whoisVersion"></whois-version>

