<div>
    <banner
        [type]="BannerTypes.promo"
        [id]="'md5-banner'"
        [title]="'MD5 hashed passwords are deprecated and will be removed by the end of 2025.'"
        [textContent]="'Please check if your maintainer contains any passwords and replace them with an alternative authentication method.'"
        [persistDismiss]="true"
    ></banner>
    <org-drop-down></org-drop-down>
    <section id="searchSection">
        <h1 class="documentFirstHeading">{{ titleEnvironment }} Database Query</h1>
        <form name="searchform" (ngSubmit)="submitSearchForm()">
            <div>
                <div [ngClass]="{ 'with-results': isFiltersDisplayed() }" [style.fontSize.rem]="1.12">
                    <search-field [(queryText)]="qp.queryText" (queryTextChange)="filterCheckboxes()"></search-field>
                    <div>
                        <query-flags [inputTerm]="qp.queryText"></query-flags>
                    </div>
                </div>
                <div class="dropdown-menus-bar" *ngIf="isFiltersDisplayed()">
                    <div class="dropdown-menus-bar-buttons">
                        <button mat-button type="button" id="typeMenu" [matMenuTriggerFor]="typesMenu" #typesTrigger="matMenuTrigger">
                            Types {{ printNumberSelected(this.numberSelectedTypes) }}
                            <span *ngIf="typesTrigger.menuOpen" class="fal fa-chevron-up"></span>
                            <span *ngIf="!typesTrigger.menuOpen" class="fal fa-chevron-down"></span>
                        </button>
                        <mat-menu #typesMenu="matMenu" yPosition="below">
                            <types-panel
                                [(queryParameters)]="qp"
                                [availableTypes]="availableTypes"
                                (numberSelected)="numberSelectedTypes = $event"
                            ></types-panel>
                        </mat-menu>
                        <button
                            mat-button
                            type="button"
                            id="hierarchyFlagsMenu"
                            [matMenuTriggerFor]="hierarchyFlagsMenu"
                            #hierarchyTrigger="matMenuTrigger"
                            [disabled]="isDisabledHierarchyDropdown()"
                        >
                            Hierarchy flags {{ printNumberSelected(this.numberSelectedHierarchyItems) }}
                            <span *ngIf="hierarchyTrigger.menuOpen" class="fal fa-chevron-up"></span>
                            <span *ngIf="!hierarchyTrigger.menuOpen" class="fal fa-chevron-down"></span>
                        </button>
                        <mat-menu #hierarchyFlagsMenu="matMenu" yPosition="below">
                            <hierarchy-flags [(queryParameters)]="qp" (numberSelected)="numberSelectedHierarchyItems = $event"></hierarchy-flags>
                        </mat-menu>
                        <button mat-button type="button" id="inverseLookupMenu" [matMenuTriggerFor]="inverseLookupMenu" #inverseLookupTrigger="matMenuTrigger">
                            Inverse lookup {{ printNumberSelected(numberSelectedInverseLookups) }}
                            <span *ngIf="inverseLookupTrigger.menuOpen" class="fal fa-chevron-up"></span>
                            <span *ngIf="!inverseLookupTrigger.menuOpen" class="fal fa-chevron-down"></span>
                        </button>
                        <mat-menu #inverseLookupMenu="matMenu" yPosition="below">
                            <inverse-lookup-panel
                                [(queryParameters)]="qp"
                                [availableTypes]="availableTypes"
                                (numberSelected)="numberSelectedInverseLookups = $event"
                                [typeOfSearchedTerm]="typeOfSearchedTerm"
                            ></inverse-lookup-panel>
                        </mat-menu>
                        <button mat-button type="button" id="advanceFilterMenu" [matMenuTriggerFor]="advanceFilterMenu" #advanceFilterTrigger="matMenuTrigger">
                            Advanced filter {{ printNumberSelected(this.numberSelectedAdvanceFilterItems) }}
                            <span *ngIf="advanceFilterTrigger.menuOpen" class="fal fa-chevron-up"></span>
                            <span *ngIf="!advanceFilterTrigger.menuOpen" class="fal fa-chevron-down"></span>
                        </button>
                        <mat-menu #advanceFilterMenu="matMenu" yPosition="below">
                            <advance-filter-panel [(queryParameters)]="qp" (numberSelected)="numberSelectedAdvanceFilterItems = $event"></advance-filter-panel>
                        </mat-menu>
                    </div>
                    <div>
                        <button mat-flat-button color="primary" [disableRipple]="true" id="applyFilters">APPLY FILTERS</button>
                        <button mat-flat-button [disableRipple]="true" id="resetFilters" [disabled]="!isFilteringResults()" (click)="resetFilters()">
                            RESET FILTERS
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <submitting-agreement></submitting-agreement>
            </div>
            <br />
        </form>
    </section>
    <section>
        <a id="anchorTop"></a>
        <div class="visualClear"></div>
        <div class="documentActions"></div>
        <div class="resultsSection">
            <h1 class="documentFirstHeading" *ngIf="!showsDocsLink">Search results</h1>
            <div>
                <button
                    *ngIf="link.perma && results?.length > 0"
                    class="perma-link"
                    id="sharePermaLink"
                    [matMenuTriggerFor]="sharePermaLink"
                    #sharePermaLinkTrigger="matMenuTrigger"
                    mat-icon-button
                    matSuffix
                    matTooltip="Share Panel"
                    matTooltipPosition="left"
                >
                    <mat-icon *ngIf="!sharePermaLinkTrigger.menuOpen" matSuffix class="fal fa-share-alt"></mat-icon>
                    <mat-icon *ngIf="sharePermaLinkTrigger.menuOpen" matSuffix class="fas fa-share-alt"></mat-icon>
                </button>
                <mat-menu #sharePermaLink="matMenu" yPosition="below">
                    <share-panel [link]="link"></share-panel>
                </mat-menu>
            </div>
        </div>
        <div class="documentByLine"><span class="byline"></span></div>
        <div class="documentDescription"></div>
    </section>
    <section class="resultsSection" id="resultsSection">
        <div *ngIf="results?.length > 0" class="full-width">
            <p style="margin: 0" [innerHTML]="'msg.searchResults.text' | label"></p>
            <div class="clearfix" *ngFor="let whoisObject of results">
                <div class="resultpane">
                    <lookup [whoisObject]="whoisObject"></lookup>
                </div>
            </div>
            <p *ngIf="showScroller" scroller (scrolled)="lastResultOnScreen()">
                <loading-indicator></loading-indicator>
            </p>
        </div>
        <div *ngIf="showNoResultsMsg" class="resultpane no-result-msg">No results found, try changing the search term or filters</div>
    </section>
    <section id="templateResultsSection" *ngIf="showTemplatePanel">
        <p [innerHTML]="'msg.searchResults.text' | label"></p>
        <lookup-template [query]="queriedTemplateObject"></lookup-template>
    </section>
    <section id="informationSection" *ngIf="showsDocsLink">
        <div class="row">
            <div class="card-info">
                <div class="padding margin-bottom">
                    <p>Querying the {{ headEnvironment }} Database</p>
                    You can query the RIPE Database via the web interface, the RESTful API or a command line tool. Learn more about each option by clicking the
                    link below.
                    <p>&nbsp;</p>
                    <a *ngIf="!properties.isTestEnv()" href="https://docs.db.ripe.net/How-to-Query-the-RIPE-Database/" target="_blank" class="link-color">
                        Go to documentation <em class="fal fa-external-link"></em>
                    </a>
                    <a
                        *ngIf="properties.isTestEnv()"
                        href="https://docs.db.ripe.net/Appendices/Appendix-J--Ripe-Test-Database/"
                        target="_blank"
                        class="link-color"
                        >Go to documentation <em class="fal fa-external-link"></em>
                    </a>
                </div>
            </div>
            <div class="card-info">
                <div class="padding margin-bottom">
                    <p>RESTful API</p>
                    The RESTful API can only process one object at a time. If you want to process several objects simultaneously, you need to write a script on
                    the client side to handle the list of objects and feed them.

                    <p>&nbsp;</p>
                    <a href="https://docs.db.ripe.net/Update-Methods/RESTful-API" rel="noopener" target="_blank" class="link-color"
                        >Go to documentation <em class="fal fa-external-link"></em>
                    </a>
                </div>
            </div>
            <div class="card-info">
                <div class="padding margin-bottom">
                    <p>{{ properties.SOURCE === 'RIPE' ? 'Test' : 'RIPE' }} Database</p>
                    <span *ngIf="properties.SOURCE === 'RIPE'">
                        You can use this environment to learn and experiment with the RIPE Database. It uses a TEST source. Important: All changes are reverted
                        every day at night.
                    </span>
                    <span *ngIf="properties.SOURCE !== 'RIPE'">
                        TEST environment is to learn and experiment with RIPE Database and all changes are reverted in the night. Switch to RIPE Database for
                        live action.
                    </span>
                    <br />
                    <!-- Decided different color by design. This link will open same application while other not -->
                    <a [href]="properties.QUERY_PAGE_LINK_TO_OTHER_DB" target="_blank" class="inner-link-color"
                        >Go to {{ properties.SOURCE === 'RIPE' ? 'Test' : 'RIPE' }} Database <em class="fal fa-arrow-right"></em>
                    </a>
                </div>
            </div>
            <div class="card-info">
                <certificate-info></certificate-info>
            </div>
            <typeform-banner *ngIf="showsDocsLink"></typeform-banner>
        </div>
    </section>
    <whois-version [version]="whoisVersion"></whois-version>
    <web-app-version></web-app-version>
</div>
