<certificate-banner></certificate-banner>
<section>
    <a id="anchorTop"></a>
    <div class="visualClear"></div>
    <div class="documentActions"></div>
    <h1 class="documentFirstHeading">RIPE Database Query</h1>
    <div class="documentByLine"><span class="byline"></span></div>
    <div class="documentDescription"></div>
</section>
<section id="searchSection">
    <form name="searchform" class="grey padding margin-bottom ga-dbsearch-form" (ngSubmit)="submitSearchForm()">
        <div>
            <div>
                <div class="form-group">
                    <input id="queryStringInput"
                           type="text"
                           name="qp.queryText"
                           [(ngModel)]="qp.queryText"
                           class="form-control"
                           placeholder="Search term">
                </div>
                <query-flags [input-term]="qp.queryText"
                                       (has-valid-flags)="isShownQueryFlagsContainer($event)"></query-flags>
            </div>
            <div class="dropdown-menus-bar" *ngIf="!showsQueryFlagsContainer">
                <button mat-button type="button" id="typeMenu"
                        [matMenuTriggerFor]="typesMenu" #typesTrigger="matMenuTrigger">Types {{countSelectedDropdownItems(qp.types)}}
                    <span *ngIf="typesTrigger.menuOpen" class="fa fa-chevron-up"></span>
                    <span *ngIf="!typesTrigger.menuOpen" class="fa fa-chevron-down"></span>
                </button>
                <mat-menu #typesMenu="matMenu" yPosition="below">
                    <types-panel [(queryParameters)]="qp"></types-panel>
                </mat-menu>
                <button mat-button type="button" id="hierarchyFlagsMenu"
                        [matMenuTriggerFor]="hierarchyFlagsMenu" #hierarchyTrigger="matMenuTrigger">Hierarchy flags {{countSelectedDropdownHierarchyFlags()}}
                    <span *ngIf="hierarchyTrigger.menuOpen" class="fa fa-chevron-up"></span>
                    <span *ngIf="!hierarchyTrigger.menuOpen" class="fa fa-chevron-down"></span>
                </button>
                <mat-menu #hierarchyFlagsMenu="matMenu" yPosition="below" >
                    <hierarchy-flags [(queryParameters)]="qp"></hierarchy-flags>
                </mat-menu>
                <button mat-button type="button" id="inverseLookupMenu"
                        [matMenuTriggerFor]="inverseLookupMenu" #inverseLookupTrigger="matMenuTrigger">Inverse lookup {{countSelectedDropdownItems(qp.inverse)}}
                    <span *ngIf="inverseLookupTrigger.menuOpen" class="fa fa-chevron-up"></span>
                    <span *ngIf="!inverseLookupTrigger.menuOpen" class="fa fa-chevron-down"></span>
                </button>
                <mat-menu #inverseLookupMenu="matMenu" yPosition="below">
                    <inverse-lookup-panel [(queryParameters)]="qp"></inverse-lookup-panel>
                </mat-menu>
                <button mat-button type="button" id="advanceFilterMenu"
                        [matMenuTriggerFor]="advanceFilterMenu" #advanceFilterTrigger="matMenuTrigger">Advance
                    filter {{countSelectedDropdownAdvanceFilter()}}
                    <span *ngIf="advanceFilterTrigger.menuOpen" class="fa fa-chevron-up"></span>
                    <span *ngIf="!advanceFilterTrigger.menuOpen" class="fa fa-chevron-down"></span>
                </button>
                <mat-menu #advanceFilterMenu="matMenu" yPosition="below">
                    <advance-filter-panel [(queryParameters)]="qp"></advance-filter-panel>
                </mat-menu>
            </div>
        </div>
        <p>
            You can search up to five terms at once in the search box above, separating them with a semi-colon.
        </p>
        <button class="blue-button pull-right">Search</button>
        <submitting-agreement></submitting-agreement>
        <br />
    </form>
</section>
<section id="resultsSection">
    <div *ngIf="results?.length > 0">
        <div class="pull-right resultlinks" *ngIf="link.perma">
            <a href="{{ link.perma }}">
                <i class="fa fa-link" title="Permanent link to the results for this query."></i>
                PERMA
            </a>&nbsp;
            <a href="{{ link.xml }}"
               title="XML format of the results for this query." target="_blank">
                <i class="fa fa-file-code-o"></i>
                XML
            </a>&nbsp;
            <a href="{{ link.json }}"
               title="JSON format of the results for this query." target="_blank">
                <i class="fa fa-file-text-o"></i>
                JSON
            </a>
        </div>
        <h2>Search results</h2>
        <p [innerHTML]="'msg.searchResults.text' | label"></p>
        <div class="clearfix" *ngFor="let whoisObject of results">
            <div class="resultpane">
                <lookup [whois-object]="whoisObject" (update-clicked)="updateClicked(whoisObject)"></lookup>
            </div>
        </div>
        <p *ngIf="showScroller" scroller (onScroll)="lastResultOnScreen()">
            <loading-indicator></loading-indicator>
        </p>
    </div>
</section>
<section id="templateResultsSection" *ngIf="showTemplatePanel">
    <h2>Search results</h2>
    <p [innerHTML]="'msg.searchResults.text' | label"></p>
    <lookup-template [query]="queriedTemplateObject"></lookup-template>
</section>
<whois-version [version]="whoisVersion"></whois-version>
