@if (queryFlags?.length > 0) {
<div>
    <p>Detected flags in query:</p>
    <div class="flags-table">
        <div class="left-column"></div>
        <div class="right-column"></div>
        @for (flag of queryFlags; track flag) {
        <div class="row">
            <div class="cell">
                @if (flag?.shortFlag) {
                <flag [text]="flag?.shortFlag"></flag>
                } @if (flag?.longFlag) {
                <flag [text]="flag?.longFlag"></flag>
                }
            </div>
            <div class="cell">
                <span>{{ flag?.description }}</span>
            </div>
        </div>
        }
    </div>
    <span [innerHTML]="'query.listOfAllQueryFlagsLabel.text' | label"></span>
</div>
}
