<questionnaire-banner></questionnaire-banner>
<certificate-banner></certificate-banner>
<section id="anchorTop">
    <div class="visualClear"></div>
    <div class="documentActions"></div>
    <h1 class="documentFirstHeading">RIPE Database Query</h1>
    <div class="documentByLine"><span class="byline"></span></div>
    <div class="documentDescription"></div>
</section>
<section>
    <alerts></alerts>
    <form name="searchform" class="grey padding margin-bottom ga-dbsearch-form" (ngSubmit)="submitSearchForm()">
        <div>
            <div>
                <div class="form-group">
                    <input id="queryStringInput"
                           type="text"
                           name="qp.queryText"
                           [(ngModel)]="qp.queryText"
                           class="form-control"
                           placeholder="Search term">
                </div>
            </div>
            <div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="qp.showFullObjectDetails" [(ngModel)]="qp.showFullObjectDetails">
                        Show full object details
                        <help-marker [label-key]="'query.optionFullObject.title'"></help-marker>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="qp.doNotRetrieveRelatedObjects" [(ngModel)]="qp.doNotRetrieveRelatedObjects">
                        Do not retrieve related objects
                        <help-marker [label-key]="'query.optionRelatedObjects.title'"></help-marker>
                    </label>
                </div>
            </div>
        </div>
        <p>
            You can search up to five terms at once in the search box above, separating them with a semi-colon.
        </p>
        <div class="margin-bottom">
            <ul ngbNav #navQuery="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Sources</a>
                    <ng-template ngbNavContent>
                        <ng-form>
                            <div class="padding">
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input id="search:sources:1" type="radio" value="GRS"
                                                   class="ga-grsdb-checkbox" name="qp.source" [(ngModel)]="qp.source">
                                            <label for="search:sources:1">Search resource objects in all available databases</label>
                                        </label>
                                        <help-marker [label-key]="'query.optionAllDatabases.title'"
                                                     [link]="'https://www.ripe.net/manage-ips-and-asns/db/support/documentation/ripe-database-documentation/types-of-queries/16-9-ripe-ncc-global-resource-service'"></help-marker>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input id="search:sources:0" type="radio" value="RIPE"
                                                   class="ga-ripedb-checkbox" name="qp.source" [(ngModel)]="qp.source">
                                            <label for="search:sources:0">Search RIPE Database only</label></label>
                                    </div>
                                    <div class="help-block small">
                                        <span>Are you looking for the <a [href]="properties.QUERY_PAGE_LINK_TO_OTHER_DB" target="_blank">{{properties.SOURCE  === "RIPE" ? "TEST" : "RIPE"}} Database</a>?</span>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Types</a>
                    <ng-template ngbNavContent>
                        <ng-form>
                            <div class="padding">
                                <help-marker label-key="query.optionPageTypes.title"
                                             link="https://www.ripe.net/data-tools/support/documentation/ripe-database-query-reference-manual#LinkTarget_3010"></help-marker>
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li><input id="search:types:0" type="checkbox" name="qp.types.AS_BLOCK"
                                                       [(ngModel)]="qp.types.AS_BLOCK"><label for="search:types:0">&nbsp;as-block</label>
                                            </li>
                                            <li><input id="search:types:1" type="checkbox" name="qp.types.AS_SET"
                                                       [(ngModel)]="qp.types.AS_SET"><label for="search:types:1">&nbsp;as-set</label>
                                            </li>
                                            <li><input id="search:types:2" type="checkbox" name="qp.types.AUT_NUM"
                                                       [(ngModel)]="qp.types.AUT_NUM"><label for="search:types:2">&nbsp;aut-num</label>
                                            </li>
                                            <li><input id="search:types:3" type="checkbox" name="qp.types.DOMAIN"
                                                       [(ngModel)]="qp.types.DOMAIN"><label for="search:types:3">&nbsp;domain</label>
                                            </li>
                                            <li><input id="search:types:4" type="checkbox" name="qp.types.FILTER_SET"
                                                       [(ngModel)]="qp.types.FILTER_SET"><label for="search:types:4">&nbsp;filter-set</label>
                                            </li>
                                            <li><input id="search:types:5" type="checkbox" name="qp.types.INET6NUM"
                                                       [(ngModel)]="qp.types.INET6NUM"><label for="search:types:5">&nbsp;inet6num</label>
                                            </li>
                                            <li><input id="search:types:6" type="checkbox" name="qp.types.INETNUM"
                                                       [(ngModel)]="qp.types.INETNUM"><label for="search:types:6">&nbsp;inetnum</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li><input id="search:types:7" type="checkbox" name="qp.types.INET_RTR"
                                                       [(ngModel)]="qp.types.INET_RTR"><label for="search:types:7">&nbsp;inet-rtr</label>
                                            </li>
                                            <li><input id="search:types:8" type="checkbox" name="qp.types.IRT"
                                                       [(ngModel)]="qp.types.IRT"><label
                                                for="search:types:8">&nbsp;irt</label></li>
                                            <li><input id="search:types:9" type="checkbox" name="qp.types.KEY_CERT"
                                                       [(ngModel)]="qp.types.KEY_CERT"><label for="search:types:9">&nbsp;key-cert</label>
                                            </li>
                                            <li><input id="search:types:10" type="checkbox" name="qp.types.MNTNER"
                                                       [(ngModel)]="qp.types.MNTNER"><label for="search:types:10">&nbsp;mntner</label>
                                            </li>
                                            <li><input id="search:types:11" type="checkbox" name="qp.types.ORGANISATION"
                                                       [(ngModel)]="qp.types.ORGANISATION"><label for="search:types:11">&nbsp;organisation</label>
                                            </li>
                                            <li><input id="search:types:12" type="checkbox" name="qp.types.PEERING_SET"
                                                       [(ngModel)]="qp.types.PEERING_SET"><label for="search:types:12">&nbsp;peering-set</label>
                                            </li>
                                            <li><input id="search:types:13" type="checkbox" name="qp.types.PERSON"
                                                       [(ngModel)]="qp.types.PERSON"><label for="search:types:13">&nbsp;person</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li><input id="search:types:14" type="checkbox" name="qp.types.POEM"
                                                       [(ngModel)]="qp.types.POEM"><label
                                                for="search:types:14">&nbsp;poem</label></li>
                                            <li><input id="search:types:15" type="checkbox" name="qp.types.POETIC_FORM"
                                                       [(ngModel)]="qp.types.POETIC_FORM"><label for="search:types:15">&nbsp;poetic-form</label>
                                            </li>
                                            <li><input id="search:types:16" type="checkbox" name="qp.types.ROLE"
                                                       [(ngModel)]="qp.types.ROLE"><label
                                                for="search:types:16">&nbsp;role</label></li>
                                            <li><input id="search:types:17" type="checkbox" name="qp.types.ROUTE"
                                                       [(ngModel)]="qp.types.ROUTE"><label for="search:types:17">&nbsp;route</label>
                                            </li>
                                            <li><input id="search:types:18" type="checkbox" name="qp.types.ROUTE6"
                                                       [(ngModel)]="qp.types.ROUTE6"><label for="search:types:18">&nbsp;route6</label>
                                            </li>
                                            <li><input id="search:types:19" type="checkbox" name="qp.types.ROUTE_SET"
                                                       [(ngModel)]="qp.types.ROUTE_SET"><label for="search:types:19">&nbsp;route-set</label>
                                            </li>
                                            <li><input id="search:types:20" type="checkbox" name="qp.types.RTR_SET"
                                                       [(ngModel)]="qp.types.RTR_SET"><label for="search:types:20">&nbsp;rtr-set</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3" name="hierarchyFlags">
                    <a ngbNavLink>Hierarchy flags</a>
                    <ng-template ngbNavContent>
                        <form>
                            <div class="padding">
                                <div>
                                    <help-marker [label-key]="'query.optionPageHierarchy.title'"
                                                 [link]="'https://www.ripe.net/data-tools/support/documentation/queries-quick-ref'"></help-marker>
                                </div>
                                <div class="radio">
                                    <label for="all">
                                        <input id="all" type="radio" name="hierarchy" value="" [(ngModel)]="qp.hierarchy" (click)="uncheckReverseDomain()">
                                        No hierarchy flag (default)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="one-less">
                                        <input id="one-less" type="radio" name="hierarchy" value="l" [(ngModel)]="qp.hierarchy">
                                        <code>l</code> - Returns first level less specific inetnum, inet6num or route(6)
                                        objects, excluding exact matches.
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="all-less">
                                        <input id="all-less" type="radio" name="hierarchy" value="L" [(ngModel)]="qp.hierarchy">
                                        <code>L</code> - Returns all level less specific inetnum, inet6num or route(6)
                                        objects, including exact matches.
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="one-more">
                                        <input id="one-more" type="radio" name="hierarchy" value="m" [(ngModel)]="qp.hierarchy">
                                        <code>m</code> - Returns first level more specific inetnum, inet6num or route(6)
                                        objects, excluding exact matches.
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hierarchy" value="M" [(ngModel)]="qp.hierarchy">
                                        <code>M</code> - Returns all level more specific inetnum, inet6num or route(6)
                                        objects, excluding exact matches.
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="exact">
                                        <input id="exact" type="radio" name="hierarchy" value="x" [(ngModel)]="qp.hierarchy">
                                        <code>x</code> - Requests that only an exact match on a prefix be performed. If no exact match is found no objects are returned.
                                    </label>
                                </div>
                                <br>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="hierarchyD" value="d" [(ngModel)]="qp.reverseDomain"
                                               [disabled]="!qp.hierarchy">
                                        <p [ngClass]="{'text-muted': !qp.hierarchy}">
                                            <code>d</code> - When used with a hierarchical flags (like --one-less), both address and route object types and domain object types are returned.
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Inverse lookup</a>
                    <ng-template ngbNavContent>
                        <ng-form>
                            <div class="padding">
                                <help-marker label-key="query.optionPageInverse.title"
                                             link="https://www.ripe.net/data-tools/support/documentation/queries-quick-ref"></help-marker>
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input id="search:inverseLookup:0" type="checkbox"
                                                       name="qp.inverse.ABUSE_C"
                                                       [(ngModel)]="qp.inverse.ABUSE_C">
                                                <label for="search:inverseLookup:0">&nbsp;abuse-c</label></li>
                                            <li>
                                            <li>
                                                <input id="search:inverseLookup:1" type="checkbox"
                                                       name="qp.inverse.ABUSE_MAILBOX"
                                                       [(ngModel)]="qp.inverse.ABUSE_MAILBOX">
                                                <label for="search:inverseLookup:1">&nbsp;abuse-mailbox</label></li>
                                            <li>
                                                <input id="searchinverseLookup2" type="checkbox"
                                                       name="qp.inverse.ADMIN_C"
                                                       [(ngModel)]="qp.inverse.ADMIN_C">
                                                <label for="searchinverseLookup2">&nbsp;admin-c</label>
                                            </li>
                                            <li>
                                                <input id="searchinverseLookup3" type="checkbox"
                                                       name="qp.inverse.AUTH"
                                                       [(ngModel)]="qp.inverse.AUTH">
                                                <label for="searchinverseLookup3">&nbsp;auth</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:4" type="checkbox"
                                                       name="qp.inverse.AUTHOR"
                                                       [(ngModel)]="qp.inverse.AUTHOR">
                                                <label for="search:inverseLookup:4">&nbsp;author</label></li>
                                            <li>
                                                <input id="search:inverseLookup:5" type="checkbox"
                                                       name="qp.inverse.FINGERPR"
                                                       [(ngModel)]="qp.inverse.FINGERPR">
                                                <label for="search:inverseLookup:5">&nbsp;fingerpr</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:6" type="checkbox"
                                                       name="qp.inverse.FORM"
                                                       [(ngModel)]="qp.inverse.FORM">
                                                <label for="search:inverseLookup:6">&nbsp;form</label></li>
                                            <li>
                                                <input id="search:inverseLookup:7" type="checkbox"
                                                       name="qp.inverse.IRT_NFY"
                                                       [(ngModel)]="qp.inverse.IRT_NFY">
                                                <label for="search:inverseLookup:7">&nbsp;irt-nfy</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:8" type="checkbox"
                                                       name="qp.inverse.LOCAL_AS"
                                                       [(ngModel)]="qp.inverse.LOCAL_AS">
                                                <label for="search:inverseLookup:8">&nbsp;local-as</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:9" type="checkbox"
                                                       name="qp.inverse.MBRS_BY_REF"
                                                       [(ngModel)]="qp.inverse.MBRS_BY_REF">
                                                <label for="search:inverseLookup:9">&nbsp;mbrs-by-ref</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input id="search:inverseLookup:10" type="checkbox"
                                                       name="qp.inverse.MEMBER_OF"
                                                       [(ngModel)]="qp.inverse.MEMBER_OF">
                                                <label for="search:inverseLookup:10">&nbsp;member-of</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:11" type="checkbox"
                                                       name="qp.inverse.MNT_BY"
                                                       [(ngModel)]="qp.inverse.MNT_BY">
                                                <label for="search:inverseLookup:11">&nbsp;mnt-by</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:12" type="checkbox"
                                                       name="qp.inverse.MNT_DOMAINS"
                                                       [(ngModel)]="qp.inverse.MNT_DOMAINS">
                                                <label for="search:inverseLookup:12">&nbsp;mnt-domains</label></li>
                                            <li>
                                                <input id="search:inverseLookup:13" type="checkbox"
                                                       name="qp.inverse.MNT_IRT"
                                                       [(ngModel)]="qp.inverse.MNT_IRT">
                                                <label for="search:inverseLookup:13">&nbsp;mnt-irt</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:14" type="checkbox"
                                                       name="qp.inverse.MNT_LOWER"
                                                       [(ngModel)]="qp.inverse.MNT_LOWER">
                                                <label for="search:inverseLookup:14">&nbsp;mnt-lower</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:15" type="checkbox"
                                                       name="qp.inverse.MNT_NFY"
                                                       [(ngModel)]="qp.inverse.MNT_NFY">
                                                <label for="search:inverseLookup:15">&nbsp;mnt-nfy</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:16" type="checkbox"
                                                       name="qp.inverse.MNT_REF"
                                                       [(ngModel)]="qp.inverse.MNT_REF">
                                                <label for="search:inverseLookup:16">&nbsp;mnt-ref</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:17" type="checkbox"
                                                       name="qp.inverse.MNT_ROUTES"
                                                       [(ngModel)]="qp.inverse.MNT_ROUTES">
                                                <label for="search:inverseLookup:17">&nbsp;mnt-routes</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:18" type="checkbox"
                                                       name="qp.inverse.NOTIFY"
                                                       [(ngModel)]="qp.inverse.NOTIFY">
                                                <label for="search:inverseLookup:18">&nbsp;notify</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input id="search:inverseLookup:19" type="checkbox"
                                                       name="qp.inverse.NSERVER"
                                                       [(ngModel)]="qp.inverse.NSERVER">
                                                <label for="search:inverseLookup:19">&nbsp;nserver</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:20" type="checkbox"
                                                       name="qp.inverse.ORG"
                                                       [(ngModel)]="qp.inverse.ORG">
                                                <label for="search:inverseLookup:20">&nbsp;org</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:21" type="checkbox"
                                                       name="qp.inverse.ORIGIN"
                                                       [(ngModel)]="qp.inverse.ORIGIN">
                                                <label for="search:inverseLookup:21">&nbsp;origin</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:22" type="checkbox"
                                                       name="qp.inverse.PERSON"
                                                       [(ngModel)]="qp.inverse.PERSON">
                                                <label for="search:inverseLookup:22">&nbsp;person</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:23" type="checkbox"
                                                       name="qp.inverse.PING_HDL"
                                                       [(ngModel)]="qp.inverse.PING_HDL">
                                                <label for="search:inverseLookup:23">&nbsp;ping-hdl</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:24" type="checkbox"
                                                       name="qp.inverse.REF_NFY"
                                                       [(ngModel)]="qp.inverse.REF_NFY">
                                                <label for="search:inverseLookup:24">&nbsp;ref-nfy</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:25" type="checkbox"
                                                       name="qp.inverse.TECH_C"
                                                       [(ngModel)]="qp.inverse.TECH_C">
                                                <label for="search:inverseLookup:25">&nbsp;tech-c</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:26" type="checkbox"
                                                       name="qp.inverse.UPD_TO"
                                                       [(ngModel)]="qp.inverse.UPD_TO">
                                                <label for="search:inverseLookup:26">&nbsp;upd-to</label>
                                            </li>
                                            <li>
                                                <input id="search:inverseLookup:27" type="checkbox"
                                                       name="qp.inverse.ZONE_C"
                                                       [(ngModel)]="qp.inverse.ZONE_C">
                                                <label for="search:inverseLookup:27">&nbsp;zone-c</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="navQuery" class="mt-2"></div>
        </div>
        <p [innerHTML]="'query.whoisTelnetOutputLabel.text' | label"></p>
        <pre>{{ whoisCliQuery() }}</pre>
        <button class="blue-button pull-right">Search</button>
        <submitting-agreement></submitting-agreement>
    </form>
</section>
<section id="resultsSection" >
    <div *ngIf="results?.length > 0">
        <div class="pull-right resultlinks" *ngIf="link.perma">
            <a href="{{ link.perma }}">
                <i class="fa fa-link" title="Permanent link to the results for this query."></i>
                PERMA
            </a>&nbsp;
            <a href="{{ link.xml }}"
               title="XML format of the results for this query." target="_blank">
                <i class="fa fa-file-code-o"></i>
                XML
            </a>&nbsp;
            <a href="{{ link.json }}"
               title="JSON format of the results for this query." target="_blank">
                <i class="fa fa-file-text-o"></i>
                JSON
            </a>
        </div>
        <h2>Search results</h2>
        <div class="clearfix">
            <div class="alert alert-info col-md-12">
                <div class="small" [innerHTML]="'msg.searchResultsTandCLink.text' | label"></div>
            </div>
        </div>
        <div class="clearfix" *ngFor="let whoisObject of results">
            <div class="resultpane">
                <lookup [whois-object]="whoisObject" (update-clicked)="updateClicked(whoisObject)"></lookup>
            </div>
        </div>
        <p *ngIf="showScroller" scroller (onScroll)="lastResultOnScreen()"><loading-indicator></loading-indicator></p>
    </div>
</section>
<section id="templateResultsSection" *ngIf="showTemplatePanel">
    <h2>Search results</h2>
    <div class="clearfix">
        <div class="alert alert-info col-md-12">
            <div class="small" [innerHTML]="'msg.searchResultsTandCLink.text' | label"></div>
        </div>
    </div>
    <lookup-template [query]="queriedTemplateObject"></lookup-template>
</section>
<whois-version [version]="whoisVersion"></whois-version>
