<div class="perm-xml-json-resultlinks">
    <div class="perm-xml-json">
        <span><em class="fal fa-link" title="Permanent link to the results for this query."></em> PERMA</span>
        <a href="{{ link.xml }}" [matTooltip]="'XML format of the results for this query.'" rel="noopener" target="_blank" class="link-color">
            <em class="fal fa-file-code"></em> XML
        </a>
        <a href="{{ link.json }}" [matTooltip]="'JSON format of the results for this query.'" rel="noopener" target="_blank" class="link-color">
            <em class="fal fa-file-alt"></em> JSON
        </a>
        <a href="{{ link.plainText }}" [matTooltip]="'Plain text format of the results for this query.'" rel="noopener" target="_blank" class="link-color">
            <em class="fal fa-file-alt"></em> PLAIN TEXT
        </a>
    </div>
    <div class="controls">
        <input matInput disabled [value]="link.perma" />
        <button mat-flat-button color="primary" (click)="(false)" [cdkCopyToClipboard]="link.perma">COPY URL</button>
    </div>
</div>
