<div class="padding">
    @if (isMobileView) {
    <em class="fa-light fa-x close" aria-label="Close"></em>
    }
    <div class="row radio">
        <div class="col-md-4">
            <ul class="list-unstyled" (click)="$event.stopPropagation()">
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.AS_BLOCK"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.AS_BLOCK)"
                    >
                        {{ ObjectTypesEnum.AS_BLOCK }}
                    </mat-checkbox>
                </li>

                <li></li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.AS_SET"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.AS_SET)"
                    >
                        {{ ObjectTypesEnum.AS_SET }}
                    </mat-checkbox>
                </li>

                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.AUT_NUM"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.AUT_NUM)"
                    >
                        {{ ObjectTypesEnum.AUT_NUM }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.DOMAIN"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.DOMAIN)"
                    >
                        {{ ObjectTypesEnum.DOMAIN }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.FILTER_SET"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.FILTER_SET)"
                    >
                        {{ ObjectTypesEnum.FILTER_SET }}
                    </mat-checkbox>
                </li>

                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.INET6NUM"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.INET6NUM)"
                    >
                        {{ ObjectTypesEnum.INET6NUM }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.INETNUM"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.INETNUM)"
                    >
                        {{ ObjectTypesEnum.INETNUM }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled" (click)="$event.stopPropagation()">
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.INET_RTR"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.INET_RTR)"
                    >
                        {{ ObjectTypesEnum.INET_RTR }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.IRT"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.IRT)"
                    >
                        {{ ObjectTypesEnum.IRT }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.KEY_CERT"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.KEY_CERT)"
                    >
                        {{ ObjectTypesEnum.KEY_CERT }}
                    </mat-checkbox>
                </li>

                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.MNTNER"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.MNTNER)"
                    >
                        {{ ObjectTypesEnum.MNTNER }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.ORGANISATION"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.ORGANISATION)"
                    >
                        {{ ObjectTypesEnum.ORGANISATION }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.PEERING_SET"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.PEERING_SET)"
                    >
                        {{ ObjectTypesEnum.PEERING_SET }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.PERSON"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.PERSON)"
                    >
                        {{ ObjectTypesEnum.PERSON }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled" (click)="$event.stopPropagation()">
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.POEM"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.POEM)"
                    >
                        {{ ObjectTypesEnum.POEM }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.POETIC_FORM"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.POETIC_FORM)"
                    >
                        {{ ObjectTypesEnum.POETIC_FORM }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.ROLE"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.ROLE)"
                    >
                        {{ ObjectTypesEnum.ROLE }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.ROUTE"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.ROUTE)"
                    >
                        {{ ObjectTypesEnum.ROUTE }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.ROUTE6"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.ROUTE6)"
                    >
                        {{ ObjectTypesEnum.ROUTE6 }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.ROUTE_SET"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.ROUTE_SET)"
                    >
                        {{ ObjectTypesEnum.ROUTE_SET }}
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox
                        [(ngModel)]="queryParameters.types.RTR_SET"
                        (ngModelChange)="countSelectedCheboxes()"
                        [disabled]="isDisabled(ObjectTypesEnum.RTR_SET)"
                    >
                        {{ ObjectTypesEnum.RTR_SET }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
    <section>
        <a href="https://docs.db.ripe.net/RPSL-Object-Types" class="link-color" target="_blank" [title]="'query.optionPageTypes.title' | label"> Learn more</a>
    </section>
</div>
