<h1>Confirm Unsubscribe</h1>

<div>
    <section>
        <div class="padding grey">
            Please confirm that you wish to unsubscribe from the RIPE mailing list

            <div class="clearfix margin-top">
                <div class="float-end">
                    <button mat-flat-button color="primary" type="button" (click)="confirm()">CONFIRM</button>
                </div>
            </div>
        </div>
        <button mat-stroked-button color="primary" class="float-end" type="button" (click)="cancel()">CANCEL</button>
    </section>
</div>
