<section class="not-found">
    <div *ngIf="loading">
        <loading-indicator class="resource-page-message"></loading-indicator>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="isSucess">
            <section>
                <div class="padding grey">
                    Please confirm that you wish to unsubscribe {{ email }}} from the RIPE mailing list

                    <div class="clearfix margin-top">
                        <div class="float-centre">
                            <button mat-flat-button color="primary" type="button" (click)="confirm()">CONFIRM</button>
                            <button mat-stroked-button color="primary" type="button" (click)="cancel()">CANCEL</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="!isSucess">
            <em class="fal fa-exclamation-circle"></em>
            <h2>We could not find an email address to unsubscribe.</h2>
        </div>
    </div>
</section>
