/* Extended CSS */
@import './styles/scss/extend.scss';
/* Generic CSS */
@import './styles/scss/web-components.scss';
@import './styles/scss/general.scss';
@import './styles/scss/paginator.scss';
@import './styles/scss/query.scss';
@import './styles/scss/hierarchy-flags-panel.scss';
@import './styles/scss/advance-filter-panel.scss';
/* View based CSS */
@import './styles/scss/create-obj.scss';
@import './styles/scss/datatables.scss';
@import './styles/scss/display.scss';
@import './styles/scss/multisync.scss';
@import './styles/scss/resources.scss';
@import './styles/scss/ip-usage-of-all-resources.scss';
@import './styles/scss/ip-usage.scss';
@import './styles/scss/whois-object.scss';
/* Module based CSS */
@import './styles/scss/uiselect-custom.scss';
@import './styles/scss/bootstrap-custom.scss';
@import './styles/scss/material-custom.scss';
/* Custom directives */
@import './styles/scss/flag.scss';
@import './styles/scss/forgot-maintainer-password.scss';
@import './styles/scss/font.scss';
@import './styles/scss/live-chat.scss';
@import './styles/scss/alerts-drop-down.scss';
@import './styles/scss/transfer-drop-down.scss';
@import './styles/scss/org-drop-down.scss';
@import './styles/scss/query-flags.scss';
@import './styles/scss/hierarchy-selector.scss';
@import './styles/scss/feedback-support-dialog.scss';
@import './styles/scss/syncupdates.scss';
@import '@ng-select/ng-select/themes/default.theme.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@typeform/embed/build/css/widget.css';
@import '@fortawesome/fontawesome-pro/css/all.min.css';

//this is needed until we migrate to bootstrap4
.popover {
    display: block !important;

    .popover-body {
        padding: 9px 14px;
    }
}

.tooltip {
    &.show {
        opacity: 1;
    }
}

.fade {
    &.show {
        opacity: 1;
    }
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

ngb-typeahead-window.dropdown-menu {
    width: 100%;
    overflow: auto;
    max-height: 300px;

    button.dropdown-item {
        width: 100%;
        text-align: left;
        display: block;
        border: none;
        background-color: transparent;
        padding: 10px 8px;
        border-bottom: 1px solid #eaeaea !important;
        &:hover,
        &:focus {
            color: inherit;
        }
        &.active {
            background: #f5ffff none !important;
            color: inherit;
        }
    }
}
[hidden] {
    display: none !important;
}

#portal-columns #content .grey .nav-tabs li a.active {
    color: #ff9600;
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.space-bottom-for-livechat {
    @extend %float-l;
    @extend %width-100;
    margin-bottom: 3.5em;
}
