<section class="not-found">
    <div ng-if="$ctrl.loading">
        <loading-indicator class="resource-page-message"></loading-indicator>
    </div>
    <div ng-if="!$ctrl.loading">
        <div ng-if="$ctrl.validEmail">
            <i class="fa fa-check" aria-hidden="true"></i>
            <h2>Thank you! This email has now been validated. No further action is required.</h2>
        </div>
        <div ng-if="!$ctrl.validEmail">
            <i class="fa fa-exclamation-circle"></i>
            <h2>Sorry, this link is not valid anymore.</h2>
        </div>
    </div>
</section>
