<h1>Database API Keys management</h1>
<div class="text">
    <div>
        Maintainer API Keys allow you to script updates to the {{ environment }} database without needing to login to RIPE NCC Access.
        <a href="https://labs.ripe.net/author/ed_shryane/using-api-keys-in-the-ripe-database/">Read the documentation</a> to find out how. <br />
        You can create as many different keys as you'd like. We suggest that you create a separate key for each application that you'd like to provide with
        access.
        <br />That way, if you believe the key has been compromised, you can revoke access to that application without affecting other applications that you
        have provided with access. <br />The keys you create on this page can only be used to make updates in the {{ environment }} database and not with any
        other RIPE NCC service.
    </div>
    <br />
    <div>
        My Resources API Keys allow you to automate access to all internal registry information about your organisation's resources, including ASNs, IPv4 and
        IPv6 allocations, PI assignments, etc.
    </div>
    <br />
    <div>
        IP Analyser API Keys also allow you to automate access to information about your organisation's assignments, available free space and invalid
        assignments.
    </div>
</div>

<mat-accordion>
    <mat-expansion-panel [expanded]="createPanelOpenState" class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>Create a new Database key</mat-panel-title>
        </mat-expansion-panel-header>
        <create-new-api-key [initialCreateKeyType]="initialCreateKeyType" [selectedOrg]="selectedOrg" (created)="createdApiKey()"></create-new-api-key>
    </mat-expansion-panel>
</mat-accordion>
<br />
<mat-accordion>
    <mat-expansion-panel [expanded]="examplePanelOpenState" class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>Examples</mat-panel-title>
        </mat-expansion-panel-header>
        <examples-api-keys [selectedOrg]="selectedOrg"></examples-api-keys>
    </mat-expansion-panel>
</mat-accordion>
<br />
<div class="keys-table">
    <h2>Database Keys</h2>
    <span
        >You can manage existing API keys in
        <a href="{{ linkToManageApiKeysInAccess }}" class="inner-link-color">RIPE NCC Access <em class="fa-light fa-arrow-right"></em></a
    ></span>
</div>
