<div id="createForm">
    <section class="visible-field-form">
        <h1>Create {{ objectType }} and maintainer pair</h1>

        <ul class="form-fields appeared-fields">
            @for (attribute of mntnerAttributes | filteroutAttributeByName : ['descr', 'admin-c', 'upd-to', 'auth', 'mnt-by', 'source']; track attribute) {
            <li attr.data-test-id="{{ attribute.name }}">
                <label>{{ attribute.name }}</label>
                @if (attribute.$$error) {
                <span class="text-error">
                    <span [innerHTML]="attribute.$$error | sanitizeImgHtml"></span>
                </span>
                }
                <input
                    type="text"
                    [attr.name]="attribute.name"
                    [(ngModel)]="attribute.value"
                    class="form-control"
                    placeholder="{{ attribute.$$meta?.$$short }}"
                    autocomplete="off"
                    [required]="attribute.$$meta?.$$mandatory"
                    (blur)="fieldVisited(attribute)"
                />
                <description-syntax [showComponent]="showMntAttrsHelp[attribute.name]" [objectType]="objectType" [attrName]="'mntner'"></description-syntax>
                <ul class="input-group-btn">
                    <li>
                        <a class="btn btn-default ga-help-attr" (click)="setVisibilityMntAttrsHelp(attribute.name)">
                            <span class="fa-light fa-question"></span>
                        </a>
                    </li>
                </ul>
            </li>
            } @for (attribute of objectTypeAttributes | filteroutAttributeByName : ['nic-hdl', 'mnt-by', 'source']; track attribute) {
            <li attr.data-test-id="{{ attribute.name }}">
                <label>{{ attribute.name }}</label>
                @if (attribute.name === objectType) {
                <span id="create-person-link" class="text-note">
                    @if (attribute.$$error) {
                    <span class="text-error">{{ attribute.$$error }}</span>
                    }
                    <strong
                        >Switch to <a [routerLink]="['/webupdates/create', source, linkToRoleOrPerson, 'self']">{{ linkToRoleOrPerson }}</a></strong
                    >
                </span>
                } @if (attribute.$$error && attribute.name !== objectType) {
                <span class="text-error">{{ attribute.$$error }}</span>
                }
                <input
                    type="text"
                    [attr.name]="attribute.name"
                    [(ngModel)]="attribute.value"
                    class="form-control"
                    placeholder="{{ attribute.$$meta?.$$short }}"
                    autocomplete="off"
                    [required]="attribute.$$meta?.$$mandatory"
                    (blur)="fieldVisited(attribute)"
                />
                <description-syntax [showComponent]="showAttrsHelp[attribute.name]" [objectType]="objectType" [attrName]="attribute.name"></description-syntax>
                <ul class="input-group-btn">
                    <li>
                        <a class="btn btn-default ga-help-attr" (click)="setVisibilityAttrsHelp(attribute.name)">
                            <span class="fa-light fa-question"></span>
                        </a>
                    </li>
                </ul>
            </li>
            }
        </ul>
        <submitting-agreement></submitting-agreement>

        <button
            mat-flat-button
            color="primary"
            id="btnSubmitCreate"
            type="submit"
            class="float-end margin-left"
            [disabled]="!isFormValid() || submitInProgress"
            (click)="submit()"
        >
            SUBMIT
        </button>
        <button mat-stroked-button color="primary" class="float-end" (click)="cancel()">CANCEL</button>
    </section>
</div>
