<section class="not-found">
    <div *ngIf="loading">
        <loading-indicator class="resource-page-message"></loading-indicator>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="unsubscribed">
            <em class="fal fa-check" aria-hidden="true"></em>
            <h2>You have now unsubscribed {{ email }} from Whois updates.</h2>
            <p>
                You will no longer receive automated emails from Whois at {{ email }}. You might still receive other emails from the RIPE NCC depending on your
                email preferences.
            </p>
            <p>If you did not mean to unsubscribe, please contact <a href="https://www.ripe.net/support/" target="_blank">support</a>.</p>
        </div>
        <div *ngIf="!unsubscribed">
            <em class="fal fa-exclamation-circle"></em>
            <h2>We could not find an email address to unsubscribe.</h2>
        </div>
    </div>
</section>
