/* line 1, ../scss/main.scss */
.hello {
  color: #fff;
  font-weight: normal;
}

/* line 7, ../scss/main.scss */
.form-fields {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 12, ../scss/main.scss */
.form-fields li {
  margin-bottom: 15px !important;
}

/* line 15, ../scss/main.scss */
.blue-button {
  border: 0;
}
