<h1>Select object type to create</h1>

<section>
<form id="selectForm" class="grey padding pull-left" style="width: 100%;">    
    <div>    
	    <label>Select object-type</label>
	    <select ng-model="selectedObjectType" 
	            ng-required="true"
	            ng-options="objectType for objectType in objectTypes" class="form-control select-height"></select>
	</div>
    </br>

    <div>    
		<label>Select source</label>
    	<select ng-model="selectedSource" 
    	        ng-required="true"
                ng-options="source for source in sources" class="form-control select-height"></select>
	</div>
    </br>

    <button ng-click="navigateToCreate()" class="blue-button pull-right">Create</button>
</form>
</section>

