<button (click)="useOld()" class="blue-button pull-right ga-multiobj-switch-poor" style="border:0;">
    <span class="fa"></span>Switch to classic syncupdates</button>

<h1>Syncupdates <sup style="color:red">Beta</sup></h1>
<alerts></alerts>

<aside class="multisync-rpsl" *ngIf="textMode">
    <form>
        <label for="multiRpsl">RPSL for multiple objects</label>
            <textarea id="multiRpsl"
                      name="multiRpsl"
                      class="form-control"
                      rows="15"
                      cols="60"
                      [(ngModel)]="objects.rpsl"
                      (change)="onRpslTyped()"
                      style="font-family:monospace;"></textarea>
        <section class="footer">
            <button (click)="setWebMode()" class="blue-button pull-right ga-multiobj-continue">Continue</button>
            <p>You can optionally use <strong>password:</strong>-attribute to prevent an interactive password popup or to provide multiple passwords.</p>
        </section>
    </form>
</aside>

<aside class="multisync-result" *ngIf="!textMode">
    <form>
        <label for="multiObjectTable">Objects to update</label>
        <table id="multiObjectTable" class="table multi-sync-table">
            <thead>
            <tr>
                <th class="expand"></th>
                <th class="action">Action</th>
                <th class="type">Type</th>
                <th class="name">Name</th>
                <th class="status">Status</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let object of objects.objects">
                    <tr>
                        <td>
                            <button class="blue-button grey-button add-button" *ngIf="object.expanded" (click)="object.expanded = false">-</button>
                            <button class="blue-button add-button" *ngIf="!object.expanded" (click)="object.expanded = true">+</button>
                        </td>
                        <td>{{object.action}}</td>
                        <td>{{object.type}}</td>
                        <td>
                            <a *ngIf="object.displayUrl" [href]="object.displayUrl" target="_blank">{{object.name}}</a>
                            <span *ngIf="!object.displayUrl">{{object.name}}</span>
                        </td>
                        <td><p [ngClass]="object.statusStyle">{{object.status}}</p></td>
                    </tr>
                    <tr *ngIf="object.expanded && object.errors.length>0">
                        <td></td>
                        <td>errors</td>
                        <td colspan="3">
                            <ul>
                                <li *ngFor="let error of object.errors">{{error.plainText}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngIf="object.expanded && object.warnings?.length>0">
                        <td></td>
                        <td>warnings</td>
                        <td colspan="3">
                            <ul>
                                <li *ngFor="let warning of object.warnings">{{warning.plainText}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngIf="object.expanded && object.infos?.length>0">
                        <td></td>
                        <td>infos</td>
                        <td colspan="3">
                            <ul>
                                <li *ngFor="let info of object.infos">{{info.plainText}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngIf="object.expanded">
                        <td></td>
                        <td colspan="4">
                            <pre *ngIf="object.showDiff" lineDiff [left]="object.rpslOriginal" [right]="object.rpsl" class="textdiff"  style="font-family:monospace;"></pre>
                            <pre *ngIf="!object.showDiff" style="font-family:monospace;">{{object.rpsl}}</pre></td>
                        <td style="display: none;"><a *ngIf="object.textupdatesUrl" [href]="object.textupdatesUrl" target="_blank">{{object.action}}single object</a></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div *ngIf="!didAllActionsSucceed()">
            <input type="submit" [disabled]="!didAllActionsComplete()" (click)="submit()"
                   class="blue-button pull-right ga-multiobj-updateall" value="Update all"/>
            <button (click)="setTextMode()" class="blue-button pull-right grey-button ga-multiobj-back">&lt;</button>
        </div>
        <div *ngIf="didAllActionsSucceed()">
            <button (click)="startFresh()" class="blue-button pull-right grey-button ga-multiobj-done">Create new objects</button>
        </div>
    </form>
</aside>
