.search-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 820px;
    height: 50px;
    max-width: 90%;
    margin-bottom: 8px;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-input-wrapper input {
    width: 100%;
    padding: 12px 0 12px 12px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-top: 1px solid #d0d2da;
    border-right: 0;
    border-bottom: 1px solid #d0d2da;
    border-left: 1px solid #d0d2da;
    border-radius: 8px 0 0 8px;
    background-color: white;
    padding-right: 30px !important;
    overflow-x: auto !important;
    white-space: nowrap;
    &:hover {
        border-color: #0d1b48;
    }
    &:focus-within {
        padding: 11px 11px;
        border-top: 2px solid #0d1b48;
        border-right: 0;
        border-bottom: 2px solid #0d1b48;
        border-left: 2px solid #0d1b48;
    }
    ::placeholder {
        color: #666d88;
    }
}

.clear-btn {
    height: 40px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    &:hover,
    &:focus {
        background-color: #e5e9fb;
    }
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    display: block;
    color: #1e3a8a;
}

.search-button {
    background-color: #0d1b48;
    color: white;
    padding: 0 25px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    border: 1px solid #0d1b48;
    border-radius: 0 8px 8px 0;
    &:hover,
    &:focus {
        background-color: #2b46a1;
        border-color: #2b46a1;
    }
}

.search-button em {
    width: 24px;
    height: 24px;
    font-size: 24px;
    stroke: white;
}
