<div class="search-container">
    <div class="search-input-wrapper">
        <input
            id="searchInput"
            autoFocusDirective
            type="text"
            placeholder="Enter a search term"
            name="queryText"
            autocomplete="on"
            [value]="queryText"
            (input)="onInputChange($event.target.value)"
        />
        @if (queryText !== '') {
        <button type="button" class="clear-btn" id="clearBtn" (click)="onInputChange('')">
            <em class="fal fa-times"></em>
        </button>
        }
    </div>
    <button type="submit" class="search-button">
        <em class="fal fa-search"></em>
        <span class="label">Search</span>
    </button>
</div>
