<section>
    <h1>RIPE Database Text Search</h1>
    <p>This service allows searches over the full text of the RIPE Database object data.</p>
    <p>The search is done on object text without regard for any relationships.
        Multiple search terms should be separated with a space.
    </p>
</section>
<section>
    <form class="grey padding margin-bottom" style="overflow:auto" ng-submit="$ctrl.searchClicked()">
        <div class="alert alert-warning" ng-if="$ctrl.showError">
            <span ng-bind-html="$ctrl.showError | label"></span>
        </div>
        <input id="fullTextSearchInput" type="text" class="form-control" ng-model="$ctrl.ftquery" placeholder="Search term">
        <div class="margin-bottom margin-top" ng-click="$ctrl.toggleSearchMode()" id="fullTextAdvanceModeLink">
            <i class="fa fa-plus-square"></i>
            <a class="padding-left">{{ $ctrl.advancedSearch && "Basic" || "Advanced" }} Search</a>
        </div>

        <div ng-if="$ctrl.advancedSearch">
            <table class="table-radio">
                <tbody>
                <tr>
                    <td>
                        <input type="radio" id="fullTextAdvancedTypeAll" value="all" ng-model="$ctrl.advmode">
                        <label for="fullTextAdvancedTypeAll"> All</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="fullTextAdvancedTypeAny" value="any" ng-model="$ctrl.advmode">
                        <label for="fullTextAdvancedTypeAny"> Any</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="fullTextAdvancedTypeExact" value="exact" ng-model="$ctrl.advmode">
                        <label for="fullTextAdvancedTypeExact"> Exact Match</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="col-md-6 form-group">
                    <label for="selectObjectType">Search only within the following objects: </label>
                    <select id="selectObjectType"
                            class="form-control"
                            multiple
                            ng-attr-size="{{ $ctrl.objectTypes.length }}"
                            ng-change="$ctrl.objectTypeChanged()"
                            ng-model="$ctrl.selectedObjectTypes"
                            ng-options="o for o in $ctrl.objectTypes">
                    </select>
                    <span class="small">
                        <a href ng-click="$ctrl.selectAll()">Select all</a> |
                        <a href ng-click="$ctrl.selectNone()">Select none</a>
                    </span>
                </div>
                <div class="col-md-6 form-group">
                    <label for="home_search:advancedSearch:selectFieldType">Search within the following fields: </label>
                    <help-marker label-key="fullText.attributeHelpText.title"></help-marker>
                    <select id="home_search:advancedSearch:selectFieldType"
                            class="form-control"
                            multiple
                            ng-disabled="!$ctrl.selectedObjectTypes || $ctrl.selectedObjectTypes.length < 1"
                            ng-attr-size="{{ $ctrl.objectTypes.length }}"
                            ng-model="$ctrl.selectedAttrs"
                            ng-options="a for a in $ctrl.selectableAttributes">
                    </select>
                </div>
            </div>
        </div>
        <button id="fullTextSearchButton" type="submit" class="blue-button pull-right">Search</button>
        <div class="help-block small">
            <span ng-bind-html="'msg.ripeTandCSubmitLink.text' | label"></span>
        </div>
    </form>
</section>
<section ng-if="$ctrl.results && !$ctrl.showError">
    <div class="grey padding" id="resultsAnchor">
        <h2>Search results</h2>
        <div class="alert alert-info small">
            <span ng-bind-html="'msg.searchResultsFullTextTandCLink.text' | label"></span>
        </div>
        <full-text-result-summary ng-if="$ctrl.resultSummary" tabledata="$ctrl.resultSummary" row-clicked="$ctrl.addObjectToFilter(type.name)"></full-text-result-summary>
        <paginator pages="$ctrl.navbarSyncArray" active-page="$ctrl.activePage" num-results="$ctrl.numResults" results-per-page="$ctrl.numResultsPerPage" page-clicked="$ctrl.pageClicked(page)" ng-if="$ctrl.results"></paginator>
        <div class="padding">
            <div class="margin-bottom grey-border-top padding-top results" ng-repeat="result in $ctrl.results">
                <div><a href="{{ $ctrl.properties.OBJECT_LOOKUP_URL }}?source=RIPE&type={{result.name}}&key={{ result.lookupKey }}" target="_blank">{{ result.name }}: {{ result.lookupKey }}</a></div>
                <div>
                <span class="small" ng-repeat="hl in result.hls">
                    <span ng-if="$index !== 0">, </span>
                    <span>{{ hl.name }}=<span ng-bind-html="hl.value"></span></span>
                </span>
                </div>
            </div>
        </div>
        <paginator pages="$ctrl.navbarSyncArray" active-page="$ctrl.activePage" num-results="$ctrl.numResults" results-per-page="$ctrl.numResultsPerPage" page-clicked="$ctrl.pageClicked(page)"></paginator>
    </div>
</section>
