@if (hasAllocations) {
<div class="btn-group float-end" ngbDropdown placement="bottom-right">
    @if (hasAlerts) {
    <button mat-stroked-button id="red-bell-button" type="button" class="red-button" ngbDropdownToggle>
        <em class="fal fa-bell"></em>
    </button>

    <ul class="dropdown-menu" ngbDropdownMenu role="menu" aria-labelledby="single-button">
        <li class="dropdown-header">Invalid inetnums</li>
        @if (!syntaxErrors.length) {
        <li ngbDropdownItem>
            <span>Not present</span>
        </li>
        } @for (syntaxError of syntaxErrors; track syntaxError) {
        <li ngbDropdownItem>
            <span>{{ syntaxError }}</span>
        </li>
        }

        <li class="dropdown-header">Overlapping objects</li>
        @if (!overlaps.length) {
        <li ngbDropdownItem>
            <span>Not present</span>
        </li>
        } @for (overlap of overlaps; track overlap) {
        <li role="menuitem">
            <a class="overlap-link" (click)="showDetail(getRange(overlap.range))" style="border: 0 !important"> {{ getRange(overlap.range) }} <br /> </a>
            <div style="border-bottom: 1px solid #eaeaea !important"></div>
        </li>
        }
    </ul>
    } @else {
    <button
        mat-stroked-button
        id="grey-bell-button"
        class="grey-button"
        type="button"
        [ngbPopover]="'No alerts'"
        placement="bottom"
        triggers="mouseenter:mouseleave"
    >
        <em class="fal fa-bell"></em>
    </button>
    }
</div>
}
