#fullTextAdvanceModeLink {
    margin-top: 10px;

    .mat-mdc-button {
        font-size: 16px;
        &:hover,
        &:active {
            & > .mat-mdc-button-persistent-ripple::before {
                opacity: 0 !important;
            }
        }
    }
}

.link-pointer {
    cursor: pointer;
}

.padding-left {
    padding-left: 0.5em;
}
