@if (!closed) {
<div class="{{ type }}-banner {{ id }}">
    <div class="content">
        @if (type === BannerTypes.promo) {
        <span class="fal fa-bell-on fa-lg"></span>
        } @if (type === BannerTypes.informational) {
        <span class="fal fa-circle-info fa-lg"></span>
        } @if (type === BannerTypes.error) {
        <span class="fal fa-exclamation-circle fa-lg"></span>
        } @if (type === BannerTypes.warning) {
        <span class="fal fa-exclamation-triangle fa-lg"></span>
        } @if (type === BannerTypes.success) {
        <span class="fal fa-check-circle fa-lg"></span>
        }
        <div>
            @if (title) {
            <div>
                <strong>{{ title }}</strong>
            </div>
            }
            <div [innerHTML]="textContent"></div>
        </div>
    </div>
    <div class="content">
        @if (buttonText) {
        <button mat-stroked-button color="primary" class="no-shrink" mat-dialog-close (click)="navigateToButtonUrl()">
            {{ buttonText }}
        </button>
        }
        <button mat-stroked-button color="primary" class="no-shrink" mat-dialog-close (click)="closeBanner()">Dismiss</button>
    </div>
</div>
}
