.banner {
    background-color: #fff5d2;
    padding: 12px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 0 1em 0;

    .content {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        .fa-lg {
            line-height: normal;
        }
        strong {
            line-height: 16px;
            font-weight: 700;
            display: block;
            padding-bottom: 5px;
        }
    }
}

.promo-banner {
    @extend .banner;
    background-color: #fff5d2;
}

.informational-banner {
    @extend .banner;
    background-color: #cae9fd;
}

.error-banner {
    @extend .banner;
    background-color: #f8c9ce;
}

.warning-banner {
    @extend .banner;
    background-color: #ffc7a6;
}

.success-banner {
    @extend .banner;
    background-color: #c5e7d7;
}

.no-shrink {
    flex-shrink: 0;
    white-space: nowrap;
}
