<div *ngIf="!closed" class="{{ type }}-banner {{ id }}">
    <div class="content">
        <span *ngIf="type === BannerTypes.promo" class="fal fa-bell-on fa-lg"></span>
        <span *ngIf="type === BannerTypes.informational" class="fal fa-circle-info fa-lg"></span>
        <span *ngIf="type === BannerTypes.error" class="fal fa-exclamation-circle fa-lg"></span>
        <span *ngIf="type === BannerTypes.warning" class="fal fa-exclamation-triangle fa-lg"></span>
        <span *ngIf="type === BannerTypes.success" class="fal fa-check-circle fa-lg"></span>
        <div>
            <div *ngIf="title">
                <strong>{{ title }}</strong>
            </div>
            <div [innerHTML]="textContent"></div>
        </div>
    </div>
    <div class="content">
        <button mat-stroked-button color="primary" class="no-shrink" mat-dialog-close (click)="closeBanner()">Dismiss</button>
        <button *ngIf="loginUrl" mat-stroked-button color="primary" class="no-shrink" mat-dialog-close (click)="navigateToLogin()">LOGIN</button>
    </div>
</div>
