<div *ngIf="!closed && !member" class="alert alert-light alert-dismissible padding margin-bottom">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
    <img src="assets/images/RIPEDB-Associate.png" alt="RIPE Database certificate" class="certificate-image" />

    <p style="font-weight: 600">Earn the RIPE Database Associate certification</p>

    Do you use the RIPE Database regularly as a researching and data registration tool? You can earn a verifiable digital badge from the RIPE NCC that certifies
    your skills and expertise in using RIPE Database.
    <div class="documentByLine"><span class="byline"></span></div>
    <a
        href="https://www.ripe.net/support/certified-professionals"
        rel="noopener"
        target="_blank"
        class="link-color"
        (click)="trackLinkClick($event, 'https://www.ripe.net/support/certified-professionals')"
        >Find out more</a
    >
    about how you can earn the RIPE Database Associate badge and get certified!
</div>

<div *ngIf="!closed && member" class="alert alert-light alert-dismissible padding margin-bottom" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
    <img src="assets/images/RIPEDB-Associate.png" alt="RIPE Database certificate" class="certificate-image" />

    <p style="font-weight: 600">Does your CV show your RIPE Database expertise?</p>

    Do you use the RIPE Database regularly as a researching and data registration tool? You can earn a verifiable digital badge that certifies your skills and
    expertise in using RIPE Database.
    <div class="documentByLine"><span class="byline"></span></div>
    RIPE NCC members can use <a href="https://academy.ripe.net/my/">exam vouchers</a> to schedule an exam and get certified!
</div>
