<div  *ngIf="!closed && !member" class="grey padding margin-bottom">

  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="assets/images/RIPEDB-Associate.png" class="certificate-image"/>

  <!--Should have a better way -->
  <p style="font-weight:600;">Earn RIPE Database Associate Certification </p>

  Do you use the RIPE Database regularly as a researching and data registration tool?
  You can earn a verifiable digital badge from the RIPE NCC that certifies your skills and expertise in using RIPE Database.
  <div class="documentByLine"><span class="byline"></span></div>
  <a href="https://www.ripe.net/support/certified-professionals" target="_blank" class="alert-link">Find out More</a> about how you can earn the RIPE Database Associate badge and get certified!
</div>

<div *ngIf="!closed && member" class="grey padding margin-bottom">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="assets/images/RIPEDB-Associate.png" class="certificate-image"/>

  <p style="font-weight:600;">Does your CV show your RIPE Database expertise? </p>

  Do you use the RIPE Database regularly as a researching and data registration tool?
  You can earn a verifiable digital badge that certifies your skills and expertise in using RIPE Database.
  Each RIPE NCC LIR has three exam vouchers that can be used until 31 December 2020.
  <a href="https://www.ripe.net/support/certified-professionalsg" target="_blank" class="alert-link">Use your voucher</a>, schedule your exam and get certified!
</div>
