<h1>Forgotten MNTNER password</h1>

<div>
    <section ng-if="!$ctrl.fmpModel.mntnerKey">
        Please select a correct maintainer.
    </section>

    <section ng-if="!$ctrl.generatedPDFUrl && $ctrl.fmpModel.mntnerKey">
        <form name="fmpform" class="padding grey" ng-submit="$ctrl.next($ctrl.fmpModel, fmpform.$valid)" novalidate>
            <h6>Please give us some information about your request to recover access to
                the <span class="mntner">MNTNER</span> object <strong>{{$ctrl.fmpModel.mntnerKey | uppercase}}</strong>
            </h6>
            <div class="margin-bottom">
                <label>Reason:</label><textarea id="reason" name="reason" class="form-control" ng-model="$ctrl.fmpModel.reason" required></textarea>
                <div ng-show="fmpform.$submitted || fmpform.reason.$touched" class="error-text">
                    <div ng-show="fmpform.reason.$error.required">Reason is required.</div>
                </div>
                <span>Please enter the reason for the access recovery request.</span>
            </div>
            <div class="margin-bottom">
                <label>Email:</label><input id="email" type="email" name="email" class="form-control" ng-model="$ctrl.fmpModel.email" required />
                <div ng-show="fmpform.$submitted || fmpform.email.$touched" class="error-text">
                    <span ng-show="fmpform.email.$error.required">Email is required.</span>
                    <span ng-show="fmpform.email.$error.email">This is not a valid email.</span>
                </div>
                <span>Please enter the email address so that we can contact you.</span>
            </div>
            <div class="clearfix">
                <div class="pull-right">
                    <button type="submit" id="next" class="blue-button">Next</button>
                </div>
            </div>
        </form>
    </section>

    <section id="fmp-step2" ng-if="$ctrl.generatedPDFUrl && $ctrl.fmpModel.mntnerKey">
        <div>
            <h6>Password request for <span class="mntner">MNTNER</span> <strong>{{$ctrl.fmpModel.mntnerKey | uppercase}}</strong></h6>

            <div class="padding grey margin-top">
                <p>Please now print the request form (PDF) on <b>company letter-headed paper</b>, sign all pages and scan it.</p>
                <p>The request should be <b>signed</b> by the “admin-c” of the MNTNER, or somebody within your company that has the authority to do so.</p>
                <p>If it’s a MNTNER hold by a company, please add your <b>company registration papers</b>; if it’s a personal MNTNER, please add a copy of your <b>passport.</b></p>
                <p>Please send the scanned request form together with a copy of your company’s registration papers or passport <a href="https://www.ripe.net/contact-form?topic=ripe_dbm&show_form=true" target="_blank">here</a>.</p>
            </div>
        </div>
        <div class="padding grey margin-top">
            <h6>Print Request</h6>
            <p>
                Download the PDF below and follow the instructions inside.<br />
                <a id="myPdfLink" href="{{$ctrl.generatedPDFUrl}}" target="_blank"><img src="assets/images/pdflogo.png" alt="Download PDF"></a>
            </p>
        </div>
    </section>
</div>
