<div *ngIf="!closed" class="promo-banner">
    <div class="content">
        <span class="fal fa-hands-heart"></span
        ><span>Interested in using OAuth 2.0 Authentication to update the RIPE database? Sign up for our Open House. </span>
    </div>
    <div class="content">
        <button mat-stroked-button color="primary" mat-dialog-close (click)="closeBanner()">No, thanks</button>
        <a
            mat-flat-button
            color="primary"
            href="https://ripe.net/s/open-house-oauth2-authentication"
            (click)="trackLinkClick($event, 'https://ripe.net/s/open-house-oauth2-authentication')"
            target="_blank"
            >Sign up</a
        >
    </div>
</div>
