// space between search form and results
#searchSection {
    margin-bottom: 5rem;
    ul {
        list-style-type: none;
        margin-block-start: 0rem;
        margin-block-end: 1em;
        margin-inline-start: -40px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}
