.dropdown-menus-bar{
    margin-bottom: 1rem !important;
    button > span.mat-button-wrapper {
        font-size: 1rem !important;
        font-weight: 400 !important;
        > span {
            vertical-align: unset;
        }
    }
}

.mat-menu-panel {
    max-width: unset !important;
}

.mat-menu-content:not(:empty) {
    padding: 8px !important;
}

#informationSection .col-sm-6 {
    display: flex;
    align-items: stretch;
    div {
        position: relative;
    }
    a {
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
    }
}
