:root {
    --ripe-app-font-family: "Public Sans";
    --ripe-app-header-icon-bg: #c0c0c0;
    --ripe-app-border-line: #2f2c56;
    --ripe-app-navbar-active-menuitem: #FFFFFF;
    --ripe-app-navbar-indicator: #F59331;
    --ripe-app-primary-100: #080037;
    --ripe-app-primary-20: #D7DCE8;
    --ripe-app-header-icon-hover: var(--ripe-app-primary-100);
    --ripe-app-navbar-background: var(--ripe-app-primary-100);
    --ripe-app-navbar-menuitem: var(--ripe-app-primary-20);
    #apps-list li {
        font-weight: 400!important;
        font-size: 1.1em!important;
    }
    swe-menu {
        grid-column: left;
        grid-row: topsmall / 1000 span;
    }
}

@media only screen and (max-width: 700px) {
    #app-grid {
        grid-template-columns: [left] 300px [right] auto;
    }

    #app-banners-container {
        grid-column: left / 2 span;
        top: 40px;
        padding-bottom: 0;
    }

    #app-workspace {
        grid-column: left / 2 span;
    }
}

@media only screen and (min-width: 701px) {
    #app-grid {
        grid-template-columns: [left] max-content [right] auto;
    }

    #app-banners-container {
        grid-column: right;
        top: 70px;
    }

    #app-workspace {
        grid-column: right;
    }
}

#app-grid {
    width: 100%;
    display: grid;
    grid-template-rows: [topsmall] 40px [topbig] 70px [bc] auto [ws] max-content;
}

swe-menu {
    display: contents; //app-nav-bar must be first children of grid-layout, use `contents` to ignore it, this doesn't work on IE11
    app-nav-bar {
        grid-column: left;
        grid-row: topsmall / 1000 span;
    }
}

#app-banners-container {
    position: sticky;
    background-color: white;
    z-index: 99;
    top: 70px;
}

#app-workspace {
    grid-row: ws;
    margin: 24px;
    background-color: white;
}

.web-component {
    font-size: unset; //overwrite style from template.css
}
