:root {
    --ripe-app-font-family: "Public Sans";
    --ripe-app-header-icon-bg: #c0c0c0;
    --ripe-app-border-line: #2f2c56;
    --ripe-app-navbar-active-menuitem: #FFFFFF;
    --ripe-app-navbar-indicator: #F59331;
    --ripe-app-primary-100: #080037;
    --ripe-app-primary-20: #D7DCE8;
    --ripe-app-header-icon-hover: var(--ripe-app-primary-100);
    --ripe-app-navbar-background: var(--ripe-app-primary-100);
    --ripe-app-navbar-menuitem: var(--ripe-app-primary-20);
    #apps-list li {
        font-weight: 400!important;
        font-size: 1.1em!important;
    }
}

@media only screen and (max-width: 900px) {
    #app-grid {
        #main-wrapper, swe-menu app-nav-bar {
            grid-column: 1/span 2;
        }
    }
}

@media only screen and (min-width: 901px) {
    #app-grid {
        grid-template-columns: [left] max-content [right] 0 !important;
    }

    swe-menu {
        app-nav-bar {
            grid-column: left;
            grid-column-start: 1;
            grid-column: span 2/span 2;
        }
    }

    #main-wrapper {
        grid-column: right;
    }
}

#app-grid {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

swe-menu {
    display: contents; //app-nav-bar must be first children of grid-layout, use `contents` to ignore it, this doesn't work on IE11
    app-nav-bar {
        grid-column-start: 1;
        grid-column: span 2/span 2;
        grid-row: 1/-1;
        top: 70px;
    }
}

#main-wrapper {
    position: relative;
    grid-column-start: 1;
    grid-column: span 2/span 2;
    grid-row: 1/-1;
}

#app-banners-container {
    position: sticky;
    background-color: white;
    z-index: 1060;
    top: 70px;
}

#app-workspace {
    margin: 24px;
    background-color: white;
}

.web-component {
    font-size: unset; //overwrite style from template.css
}
